<form #insuredPanel="ngForm">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-lg-9">
      <label for="submissionType" title="submissionType">Submission Type</label>
      <ng-select
        id="submissionType"
        click-stop-propagation
        [items]="newRenewalFlags"
        bindLabel="description"
        bindValue="key"
        placeholder=""
        [clearable]="false"
        name="submissionType"
        [readonly]="!canEditSubmission || submission.newRenewalFlagReadonly"
        [(ngModel)]="submission.newRenewalFlag"
        #submissionType="ngModel"
      ></ng-select>
    </div>
  </div>
  <div class="empty-row"></div>
  <div class="row">
    <div class="col-lg-9">
      <label for="expiringPolicy" title="Expiring Policy"
        >Expiring Policy</label
      >
      <input
        type="text"
        class="form-control"
        id="expiringPolicy"
        [readonly]="!canEditSubmission || submission.expiringPolicyReadonly"
        [(ngModel)]="submission.expiringPolicyId"
        #expiringPolicy="ngModel"
        name="expiringPolicy"
      />
    </div>
  </div>
  <div class="row" *ngIf="submission.newRenewalFlag == 3">
    <div class="col-lg-9">
      <label for="extExpiringPolicy" title="EXT Expiring Policy"
        >EXT Expiring Policy</label
      >
      <input
        type="text"
        class="form-control"
        id="extExpiringPolicy"
        [readonly]="!canEditSubmission || submission.extExpiringPolicyReadonly"
        [(ngModel)]="submission.extExpiringPolicyNo"
        #extExpiringPolicy="ngModel"
        name="extExpiringPolicy"
      />
    </div>
  </div>
</form>
