

<div class="card">
    <div class="card-header" (click)="collapse.toggle()">
    locations/Building Schedule
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
      <div class="card-body" *ngIf="buildings.length > 0">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
          <div *ngFor="let item of buildings; let i = index">
          <rsps-property-building (copyBuilding)=copyBuilding($event) (deleteBuilding)=deleteBuilding($event)
           ></rsps-property-building>
          </div>
      </div>
      </div>
    </div>
    <div class="card-footer">
      <div id="mortgageeFooter">
        <button style="float:left; background:none; border:none;" class="underline"
          (click)="addBuilding();">Add location/Building</button>
      </div>
    </div>
  </div>

  
  