.margin-left {
    margin-left: 5px;
}

.bottom-bordered {
    background-color: #e6e9ed;
    border-bottom: 2px solid black;
}

.form-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    margin-bottom: 0px;
}

.custom-select {
    height: 38px;
}

.paging {
    padding-bottom: 0px !important;
}

.pagination {
    height: 38px;
}