#invoiceFooter {
  font-weight: bold;
  text-align: center;
}

a:link,a:visited {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.underline:hover {
  text-decoration: underline;
}

.btn {
 margin: 3px;
}
