<div class="row" *ngIf="quoteData">
  <div class="col-lg-3" >
    <label for="quoteLetter" style="width:100%">&nbsp;</label>
    <button type="button" [disabled]="isSaving || isBusy || !canPrintQuote()" 
            ngbToolTip="Can print quote" ngbDisableTooltip="Cannot print quote" title="title"
            name="quoteLetter" class="btn btn-primary" (click)="generateQuoteLetter()">
      Quote Letter</button>
      &nbsp;
      <fa-icon class="errors fa-xl" [icon]="faCircleExclamation" [title]="this.quoteData?.validationResults?.errorMessages?.join('\n')" ngbToolTip="Can print quote" *ngIf="!canPrintQuote()"></fa-icon>
  </div>
  <div class="col-lg-3">
    <label for="quoteDate">Quote Date</label>
    <input
      type="text"
      class="form-control"
      id="quoteDate"
      readonly
      name="quoteDate"
      [(ngModel)]="quoteLetterGeneratedDisplay"
      #expirationDate="ngModel"
    />
  </div>
  <div class="col-lg-3">
    <label for="expirationDays">Expiration Days</label>
    <input validate-on-change
      type="text"
      class="form-control"
      id="expirationDays"
      name="expirationDays"
      (change)="changeQuoteExpirationDate()"
      [(ngModel)]="quoteExpirationDays"
      #expirationDays="ngModel"
    />
  </div>
  <div class="col-lg-3">
    <label for="expirationDays">Expiration Date</label>
    <input
      type="text"
      class="form-control"
      id="expirationDate"
      readonly
      name="expirationDate"
      [(ngModel)]="quoteLetterExpirationDisplay"
      #expirationDate="ngModel"
    />
  </div>
</div>
<div class="row"> &nbsp;
</div>
<div class="row" *ngIf="quoteData">
  <div class="col-lg-3">
    <label for="binderLetter" style="width:100%">&nbsp;</label>
    <button type="button" [disabled]="quoteData.status == 1 || isSaving || isBusy" 
    ngbToolTip="Can print quote" ngbDisableTooltip="Cannot print quote" title="title"
    name="binderLetter" class="btn btn-primary" (click)="generateBinderLetter()">Binder Letter</button>
  </div>
  <div class="col-lg-3">
    <label for="binderDate">Binder Date</label>
    <input
      type="text"
      class="form-control"
      id="binderDate"
      readonly
      name="binderDate"
      [(ngModel)]="binderLetterGeneratedDisplay"
      #expirationDate="ngModel"
    />
  </div>
</div>
<rsps-busy *ngIf="isBusy" message="Loading..."></rsps-busy>
