#saveHeader {
  position: sticky;
  top: 160px;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #f2f4f6;
  margin: 0px;
}
.panel {
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
.card-header {
  color: white;
  background-color: #00274e;
}
