#saveHeader {
  position: sticky;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #f2f4f6;
  margin: 0px;
}

/* .panel {
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 20px;
} */

/* .panel-bordered {
  border-bottom: 2px solid black;
} */

.top-bordered {
  border-top: 2px solid black;
}

.nav-link {
  color: black;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 0%;
  font-weight: normal;
}

.table {
  margin-top: 0px;
  margin-bottom: 0px
}

.first-card {
  margin-top: 0;
}

.table-striped>tbody>tr:is(.voidStatus):nth-of-type(odd)>* {
  color: #ed0139 !important;
}

.table th {
  background-color: #335271;
  color: white;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.table-header {
  background-color: #335271;
  color: white;
}