<div class="row container" style="padding-top: 10px; width: 100%">
  <div class="col-lg-4">
    <div>Basis</div>
    <ng-select id="limitBasisCode" [items]="UCService.limitBasisDescriptions" bindLabel="description" bindValue="key" placeholder=""
    [clearable]="false" [readonly]="!canEditPolicy || !ucLimit.isUserAdded" [required]="canEditPolicy" name="limitBasisCode"
    [(ngModel)]="ucLimit.limitBasisCode" #limitsPattern="ngModel" >
  </ng-select>
    <!-- <div *ngIf="this.policyInfo.programId != 84 && this.policyInfo.programId != 85"><input type="text" class="form-control" id="name" #name="ngModel" [readonly]="!canEditPolicy" maxlength="79"
        [required]="canEditPolicy" name="name" [(ngModel)]="ucLimit.limitBasisCode" ></div>
    <div *ngIf="this.policyInfo.programId == 84 || this.policyInfo.programId == 85">{{this.ucLimit.limitBasis}}</div> -->
  </div>

  <div class="col-lg-4">
    <div>Limit</div>
    <input  type="text" class="form-control" id="limit" #limitsPattern="ngModel" [readonly]="!canEditPolicy" maxlength="79"
      [required]="canEditPolicy" name="limitsPattern" [(ngModel)]="ucLimit.limitDisplay" (change)="limitChange()" >

  </div>
  <div class="col-lg-4">
   <button style="margin-top:25px;" *ngIf="this.ucLimit.isUserAdded && canEditPolicy"  (click)="deleteLimit()">Delete</button>
  </div>
  <!-- <div class="col-lg-4">
    <div>Limits Pattern</div>
    <ng-select *ngIf="this.programId != 84 && this.programId != 85" id="limitsPatternGroupCode" [items]="limitsPatterns$ | async" bindLabel="description" bindValue="key" placeholder=""
      [clearable]="false" [readonly]="!canEditPolicy" [required]="canEditPolicy" name="limitsPatternGroupCode"
      [(ngModel)]="ucData.limitsPatternGroupCode" #limitsPatternGroupCode="ngModel"  (change)="updateLimitsPatternGroupCode()">
    </ng-select>
    <div *ngIf="this.programId == 84 || this.programId == 85">{{this.limitsPatternString}}</div>
  </div> -->
</div>
