<form #ucForm="ngForm">
  <!-- <div class="row container">
    <div class="col-lg-3">
      <label for="address" *ngIf="index==0">Role</label>
    </div>
    <div class="col-lg-4">
      <label for="createDate">Additional Named Insured</label>
    </div>
    <div class="col-lg-2">
      <label for="createDate">Create Date</label>
    </div>
  </div> -->
  <div class="component-row">
  <div [ngClass]="ucdCollapsed ? 'collapsed' : 'expanded'">
    <div class="row" (click)="collapseExpand(false)">
      <div *ngIf="isExcessUmbrella" class="col-lg-2">
        <div>Layer Type</div>
        <ng-select id="label" click-stop-propagation [items]="layerTypes" placeholder=""
        [clearable]="false" [readonly]="!canEditPolicy" [required]="canEditPolicy" name="label"
        [(ngModel)]="ucData.label" #label="ngModel" >
      </ng-select>
        <!-- <input type="text" class="form-control" id="label" #label="ngModel" readonly maxlength="79"
           name="label" [(ngModel)]="ucData.label" > -->
      </div>
      <div class="col-lg-2">
        <div>Coverage Type</div>
        <ng-select id="primaryCoverageCode" click-stop-propagation [items]="coverageTypes$ | async" bindLabel="description" bindValue="key" placeholder=""
        [clearable]="false" [readonly]="!canEditPolicy || canDrag" [required]="canEditPolicy" name="primaryCoverageCode"
        [(ngModel)]="ucData.primaryCoverageCode" #limitsPattern="ngModel"  (change)="processValueChange()">
      </ng-select>
      </div>
      <div *ngIf="ucData.primaryCoverageCode === 9999" class="col-lg-2">
        <div>Description</div>
        <input type="text" click-stop-propagation class="form-control" id="description" #description="ngModel" [readonly]="!canEditPolicy || canDrag" maxlength="50" [title]="ucData.userDefinedCovDesc"
        name="description" [(ngModel)]="ucData.userDefinedCovDesc" >
      </div>
      <div class="col-lg-2">
        <div>Carrier</div>
        <input type="text" click-stop-propagation class="form-control" id="name" #name="ngModel" [readonly]="!canEditPolicy || canDrag" maxlength="79" [title]="ucData.carrierName"
          name="name" [(ngModel)]="ucData.carrierName" >
      </div>
      <div class="col-lg-2">
        <div>Limits {{ucData.userAddedCount > 0 ? '+ ' + ucData.userAddedCount : ''}}</div>
        <input click-stop-propagation type="text" class="form-control" id="limitsPattern" #limitsPattern="ngModel" [readonly]="!canEditPolicy || canDrag" maxlength="79"
          [required]="(canEditPolicy && !isAPPolicy)" name="limitsPattern" [(ngModel)]="ucData.limitsPattern" (change)="processLimitsChange()" [title]="ucData.limitsPattern">
          <div [hidden]="isLimitsPatternValid || !canEditPolicy" class="alert alert-danger">
            Invalid Pattern
          </div>
      </div>
      <div class="col-lg-2">
        <div>Limits Pattern</div>
        <ng-select click-stop-propagation *ngIf="!isAPPolicy" id="limitsPatternGroupCode" [items]="this.allLimitsPatternDescription" bindLabel="description" bindValue="key" placeholder=""
          [clearable]="false" [readonly]="!canEditPolicy || canDrag" [required]="canEditPolicy && !isAPPolicy" name="limitsPatternGroupCode" [title]="ucData.limitsPatternString"
          [(ngModel)]="ucData.limitsPatternGroupCode" #limitsPatternGroupCode="ngModel"  (change)="processValueChange()">
        </ng-select>
        <div *ngIf="isAPPolicy">{{this.ucData.limitsPatternString}}</div>
      </div>
      <div class="col-lg-2" *ngIf="isExcessUmbrella">
        <div>Excess Of Limits</div>
        <input click-stop-propagation type="text" class="form-control" id="excessOfLimitsPattern" #limitsPattern="ngModel" [readonly]="!canEditPolicy" maxlength="79"
          [required]="canEditPolicy" name="excessOfLimitsPattern" [(ngModel)]="ucData.excessOfLimitsPattern" (change)="processExcessOfLimitsChange()" [title]="ucData.excessOfLimitsPattern">
          <div [hidden]="isExcessOfLimitsPatternValid" class="alert alert-danger">
            Invalid Pattern
          </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="ucdCollapsed">
    <div class="empty-row"></div>
    <div class="row">
      <div class="col-lg-2">
        <div>Policy Number</div>
        <input type="text" class="form-control" id="name" #name="ngModel" [readonly]="!canEditPolicy" maxlength="79"
           name="policyNumber" [(ngModel)]="ucData.policyNumber" >
      </div>
      <div class="col-lg-2">
        <label for="effectiveDate">Policy Effective Date</label>
        <input style="display: inline-block; max-width: 80%;" matInput [matDatepicker]="effectiveDateCalendar"
          class="form-control" [disabled]="!canEditPolicy" [(ngModel)]="ucData.effectiveDate" name="effectiveDate"
          #effectiveDate="ngModel">
        <mat-datepicker-toggle matSuffix [disabled]="!canEditPolicy" style="display: inline-block; max-width: 20%;" [for]="effectiveDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #effectiveDateCalendar></mat-datepicker>
      </div>
      <div class="col-lg-2">
        <label for="expirationDate">Policy Expiration Date</label>
        <input style="display: inline-block; max-width: 80%;" matInput [matDatepicker]="expirationDateCalendar"
          class="form-control" [disabled]="!canEditPolicy" [(ngModel)]="ucData.expirationDate" name="expirationDate"
          #expirationDate="ngModel">
        <mat-datepicker-toggle matSuffix [disabled]="!canEditPolicy" style="display: inline-block; max-width: 20%;" [for]="expirationDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #expirationDateCalendar></mat-datepicker>
      </div>
      <div class="col-lg-2">
        <label for="retroDate">Retro Date</label>
        <input style="display: inline-block; max-width: 80%;" matInput [matDatepicker]="retroDateCalendar"
          class="form-control" [disabled]="!canEditPolicy" [(ngModel)]="ucData.retroDate" name="retroDate"
          #retroDate="ngModel">
        <mat-datepicker-toggle matSuffix [disabled]="!canEditPolicy" style="display: inline-block; max-width: 20%;" [for]="retroDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #retroDateCalendar></mat-datepicker>
      </div>
      <div class="col-lg-2">
        <label for="comment">Comment</label>
        <input type="text" class="form-control" id="name" #name="ngModel" [readonly]="!canEditPolicy  || canDrag" maxlength="250"
           name="comment" [(ngModel)]="ucData.comment" >
      </div>
    </div>
    <div><button style="background:none; border:none;" class="underline" (click)="ucbCollapsed = !ucbCollapsed;">{{ucbCollapsed == true ? 'Show Limit Basis Detail' : 'Hide Limit Basis Detail'}}</button></div>
    <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="ucbCollapsed">
      <div class="row container" style="padding-top: 10px; width: 100%">
        <div *ngFor="let item of ucData.underlyingScheduleLimitData; let i = index">
          <rsps-underlying-coverage-limit-basis
          (onLimitChange)="processCoverageLimitUpdate()"
          (deleteThisLimit)=ucData.deleteUserDefinedLimit($event)
          [ucLimit]=item>
          </rsps-underlying-coverage-limit-basis>
        </div>
      </div>
      <button style="float:left; background:none; border:none;" class="underline" *ngIf="canEditPolicy" (click)="ucData.addUserDefinedLimit()">Add Limit</button>
    </div>
    <div class="empty-row"></div>
  <div class="row">
    <div class="col-lg-2">
      <span class="btn btn-secondary" (click)=deleteThisUnderlyingCoverage() hover-class="btn-danger"
        *ngIf="!ucData.isNew">Delete</span>
      <span class="btn btn-secondary" (click)=deleteThisUnderlyingCoverage() hover-class="btn-warning"
        *ngIf="ucData.isNew">Remove</span>
    </div>

  </div>
  <button *ngIf="!ucdCollapsed" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse">
    <fa-icon [icon]="faArrowUp"></fa-icon>
  </button>
</div>
</div>
</div>
</form>
