<div *ngIf="quote">
  <rsps-property-import [classType]="classType" [quote]="quote" [canEdit]="canEditSubmission"></rsps-property-import>
  <rsps-quote-property-detail [classType]="classType" [quote]="quote" [canEdit]="canEditSubmission" [buildings]="quote.propertyQuote.propertyQuoteBuilding"
  [limitTotal]="quote.propertyQuote.limitTotal" [largestTiv]="quote.propertyQuote.largestTiv" [subjectAmount]="quote.propertyQuote.subjectAmount" [largestExposure]="quote.propertyQuote.largestExposure"
   [lawLimits]="quote.propertyQuote.lawLimits"></rsps-quote-property-detail>
  <rsps-property-building-group [classType]="classType" [propertyQuote]="quote.propertyQuote"  [buildings]="quote.propertyQuote.filteredBuildings"  [buildingCount]="quote.propertyQuote.buildingCount"
      [canEdit]="canEditSubmission"></rsps-property-building-group>
  <rsps-property-building-coverage-group [classType]="classType" [coverages]="quote.propertyQuote.filteredCoverage" [limitTotal]="quote.propertyQuote.limitTotal" [coverageCount]="quote.propertyQuote.coverageCount"
      [canEdit]="canEditSubmission"></rsps-property-building-coverage-group>
</div>
