<div *ngIf="policyInfo != undefined">
<div *ngIf="this.policyInfo.getTabErrors('Coverages').length != 0">
  <ngb-alert type=danger [innerHTML]="getAlerts()"></ngb-alert>
</div>
</div>
<rsps-property-detail *ngIf="propertyParent" [classType]="classType" [propertyParent]="propertyParent" [canEdit]="canEdit"
    [buildings]="policyInfo.endorsementData.endorsementBuilding" [largestExposure]="policyInfo.largestExposure"
    [lawLimits]="policyInfo.lawLimits" [limitTotal]="policyInfo.limitTotal"
    [largestTiv]="policyInfo.largestPremTiv" [subjectAmount]="policyInfo.subjectAmounts">
</rsps-property-detail>
<rsps-property-building-group *ngIf="policyInfo" [classType]="classType" [propertyParent]="policyInfo" [readOnlyQuote]="false"
    [buildings]="policyInfo.endorsementData.endorsementBuilding" [canEdit]="canEdit"
    [buildingCount]="policyInfo.buildingCount" [programId]="programId"
    [rateEffectiveDate]="policyInfo.rateEffectiveDate"></rsps-property-building-group>
<rsps-property-building-coverage-edit *ngIf="policyInfo" [propertyParent]="policyInfo"  [canEdit]="canEdit"
    [buildings]="policyInfo.endorsementData.endorsementBuilding"></rsps-property-building-coverage-edit>
<rsps-property-building-coverage-group *ngIf="policyInfo" [propertyParent]="policyInfo"  [classType]="classType" [propertyParent]="policyInfo"  [limitTotal]="policyInfo.limitTotal"
   [canEdit]="canEdit">
</rsps-property-building-coverage-group>

