<div *ngIf="policy != undefined">
<div *ngIf="policy.errorMessagesList.length != 0">
  <ngb-alert type=danger *ngIf="policy.errorMessagesList.length != 0" [innerHTML]="getAlerts()"></ngb-alert>
</div>
</div>
<rsps-property-building-group *ngIf="policy" [classType]="classType" [propertyParent]="policy" [readOnlyQuote]="false"
    [buildings]="policy.propertyBuildingList" [canEdit]="canEdit"
    [buildingCount]="policy.buildingCount" [programId]="programId"
    [rateEffectiveDate]="policy.rateEffectiveDate"></rsps-property-building-group>
    <rsps-property-building-coverage-edit *ngIf="policy" [canEdit]="canEdit"
    [buildings]="policy.propertyBuildingList"></rsps-property-building-coverage-edit>

