<form #endorsementCoveragesForm="ngForm">
  <div [id]='anchorId'>
    <div class="header-label">
      <div class="row container">
        <div class="col-lg-4">
          <label for="coverageDescription" *ngIf="coverage.isFirst">Coverage Description</label>
        </div>
        <div class="col-lg-2">
          <label for="premium" *ngIf="coverage.isFirst">Premium</label>
        </div>
        <div class="col-lg-2">
          <label for="premium" *ngIf="coverage.isFirst">Limits</label>
        </div>
        <div class="col-lg-1">
          <label for="premium" *ngIf="coverage.isFirst">Incl/Excl</label>
        </div>
        <div class="col-lg-1">
          <label for="premium" *ngIf="coverage.isFirst">CLM/OCC</label>
        </div>
        <div class="col-lg-2">
          <label for="premium" *ngIf="coverage.isFirst">Retro Date</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'expanded':!ecCollapsed}">
      <div #coverageInfo class="card-body" (click)="ecCollapsed = false">
        <div class="row container">
          <div class="col-lg-4">
            <label class='hidden-label' for="coverageDescription">Coverage Description</label>
            <ng-select id="coverageDescription" click-stop-propagation name="coverageDescription" [items]="coverageDescriptions$ | async"
              bindLabel="description" bindValue="key" [clearable]="false"
              [readonly]="!canEdit" [required]="canEdit" [(ngModel)]="coverage.coverageId"
              (change)="changeCoverageDescription($event)" #coverageDescription="ngModel">
            </ng-select>
          </div>
          <div class="col-lg-2">
            <label class='hidden-label' for="premium">Premium</label>
            <input type="text" click-stop-propagation class="form-control" id="premium" [(ngModel)]="coverage.premium"
              [readonly]="!canEdit" [required]="canEdit" name="premium" #premium="ngModel"
              mask="separator.0" thousandSeparator=",">
          </div>
          <div class="col-lg-2">
            <label class='hidden-label' for="limits">Limits</label>
            <input type="text" click-stop-propagation class="form-control" id="limits" [readonly]="!canEdit || !canEditLimitPattern"
              [required]="canEdit && canEditLimitPattern" [(ngModel)]="coverage.limitsPattern" name="limits"
              #limits="ngModel" [mask]="setLimitsPatternMask()" (change)="changeLimitsPattern()"
              [dropSpecialCharacters]="false">
            <div [hidden]="isLimitsPatternValid" class="alert alert-danger">
              Invalid Pattern
            </div>
          </div>
          <div class="col-lg-1">
            <label class='hidden-label' for="includeExclude">Incl/Excl</label>
            <ng-select id="includeExclude" [items]="includeExclude" bindValue="code" bindLabel="description"
              name="includeExclude" (change)="changeIncludeExclude($event)"
              [readonly]="!canEdit || !showIncludeExlude" [(ngModel)]="coverage.includeExclude">
            </ng-select>
          </div>
          <div class="col-lg-1">
            <label class='hidden-label' for="claimsMadeOrOccurrence">CLM/OCC</label>
            <ng-select click-stop-propagation id="claimsMadeOrOccurrence" [items]="claimsMadeOrOccurrence$ | async" bindValue="code"
              bindLabel="description" name="claimsMadeOrOccurrence" [required]="canEdit && showClaimsMade" *ngIf="showClaimsMade" [clearable]="false"
               [searchFn]="dropDownSearch" [readonly]="!canEdit || !showClaimsMade"
              [(ngModel)]="coverage.claimsMadeOrOccurrence" (change)="changeClaimsMadeOccurrence()">
              <ng-template ng-label-tmp let-item="item">
                {{item.code}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
            </ng-select>
            <input type="text" click-stop-propagation *ngIf="!showClaimsMade" class="form-control" [readonly]="true">
          </div>
          <div class="col-lg-2">
            <label class='hidden-label' for="retroDate">Retro Date</label>
            <div *ngIf="isRetroDateRequired">
              <input type="date" class="form-control" id="retroDate" [required]="canEdit && isRetroDateRequired"
                [ngModel]="coverage.retroDate  | date:'yyyy-MM-dd'" (ngModelChange)="coverage.retroDate=$event"
                name="retroDate" #retroDate="ngModel" (change)="changeRetroDate()">
            </div>
            <div *ngIf="!isRetroDateRequired">
              <input type="text" class="form-control" id="retroDateReadonly" [readonly]="true"
                [ngModel]="coverage.retroDate | date:'MM/dd/yyyy'" name="retroDateReadonly">
            </div>
            <div [hidden]="isRetroDateValid" class="alert alert-danger">
              Invalid Date
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="ecCollapsed">
        <div class="row container">
          <div class="col-lg-1">
            <label for="premiumType">Prem</label>
            <ng-select id="premiumType" [items]="premTypes$ | async" bindValue="code" bindLabel="description"
              name="premiumType" [required]="canEdit" [clearable]="false"
              [readonly]="!canEdit" [(ngModel)]="coverage.premiumType">
            </ng-select>
          </div>
          <div class="col-lg-1">
            <label for="action">Action</label>
            <ng-select id="action" [items]="actionCodes$ | async" bindLabel="description" bindValue="code"
              name="description" [required]="canEdit" [clearable]="false"
              [searchFn]="dropDownSearch" [readonly]="!canEdit" [(ngModel)]="coverage.action">
              <ng-template ng-label-tmp let-item="item">
                {{item.code}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-1">
            <label for="deductible">Deductible</label>
            <input type="text" class="form-control" id="deductible" [readonly]="!canEdit || !showDeductible" nullValue
              [required]="canEdit && isDeductibleRequired && showDeductible" [(ngModel)]="coverage.deductible" name="deductible"
              #deductible="ngModel" mask="separator.0" thousandSeparator=",">
          </div>
          <div class="col-lg-2">
            <label for="deductibleType">Deductible Type</label>
            <ng-select id="deductibleType" [items]="deductibleTypes$ | async" bindLabel="description" bindValue="code"
              [required]="canEdit && isDeductibleRequired && showDeductible " name="deductibleType"
              [readonly]="!canEdit || !showDeductible" [(ngModel)]="coverage.deductibleType">
            </ng-select>
          </div>
          <div class="col-lg-1">
            <label for="rate">Rate</label>
            <input type="text" class="form-control" id="rate" [readonly]="!canEdit" nullValue
              [(ngModel)]="coverage.rateAmount" name="rate" #rate="ngModel" mask="separator.5" thousandSeparator=",">
          </div>
          <div class="col-lg-3">
            <label for="limitsPattern">Limits Pattern</label>
            <div *ngIf="canEditLimitPattern">
              <input *ngIf="subCodeDefaults" type="text" class="form-control" id="limitsPattern" [readonly]="true"
                [ngModel]="subCodeDefaults.defaultLimitPatternDescription" name="limitsPattern" #limitsPattern="ngModel"
                (change)="changeLimitsPattern()">
            </div>
            <div *ngIf="!canEditLimitPattern">
              <input type="text" class="form-control" id="limitsPatternBlank" [readonly]="true"
                name="limitsPatternBlank">
            </div>
          </div>
        </div>
        <div class="row container">
          <div class="col-lg-7">
            <label for="classCode">Class Code</label>
            <ng-select id="classCode" [items]="classCodes$ | async" bindLabel="description" bindValue="key"
              name="classCode" [required]="canEdit" [clearable]="false"
              [searchFn]="dropDownSearch" [readonly]="!canEdit" [(ngModel)]="coverage.glClassCode"
              (change)="changeClassCode()">
              <ng-template ng-label-tmp let-item="item">
                {{item.key}} - {{item.description}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.key}} - {{item.description}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-2">
            <label for="exposureCode">Exposure Code</label>
            <ng-select id="exposureCode" [items]="exposureCodes$ | async" bindLabel="description" bindValue="code"
              name="exposureCode" [readonly]="!canEdit"
              [(ngModel)]="coverage.exposureCode">
            </ng-select>
          </div>
          <div class="col-lg-1">
            <label for="rateBasis">Rate Basis</label>
            <input type="text" class="form-control" id="rateBasis" [readonly]="!canEdit" nullValue
              [(ngModel)]="coverage.rateBasis" name="rateBasis" #rateBasis="ngModel" mask="separator.0"
              thousandSeparator=",">
          </div>
          <div class="col-lg-2">
            <label for="exposureBase">Exposure</label>
            <input type="text" class="form-control" id="exposureBase" [readonly]="!canEdit" nullValue
              [(ngModel)]="coverage.exposureBase" name="exposureBase" #sir="ngModel" mask="separator.0"
              thousandSeparator=",">
          </div>
        </div>
        <div class="empty-space"></div>
        <div class="row container">
          <div class="col-lg-2">
            <span class="btn btn-secondary" *ngIf="canEdit" (click)=copyCoverage() hover-class="btn-primary">Copy</span>
            <span class="btn btn-secondary" (click)=deleteCoverage() hover-class="btn-danger"
              *ngIf="!coverage.isNew && originalAction == 'A' && canEdit">Delete</span>
            <span class="btn btn-secondary" (click)=deleteCoverage() hover-class="btn-warning"
              *ngIf="coverage.isNew && originalAction == 'A'">Remove</span>
          </div>
          <span class='astext' (click)="collapseExpand(true)">
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
