
.form-label {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

.form-label-wrap {
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

#action {
  height: fit-content;
  width: fit-content;
  color: black;
  border-color: black;
  background-color: rgb(235, 230, 230);
}
