<div class="row component-row">
    <div class="col-lg-2">
        <ng-select id="lineItemDescription" [items]="lineitemDescriptions$ | async" bindLabel="description"
            [readonly]="!canEdit || readOnlyQuote" [required]="canEdit && !readOnlyQuote" bindValue="key" [clearable]="false" name="lineItemDescription"
            [(ngModel)]="lineItem.lineItemCode" #lineItemCode="ngModel" (change)="changeLineItem($event)">
            <ng-template ng-label-tmp let-item="item">
                {{item.description}} {{item.state != null ? " (" + item.state + ")" : ""}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                {{item.description}} {{item.state != null ? " (" + item.state + ")" : ""}}
            </ng-template>
        </ng-select>
    </div>
    <div class="col-lg-2">
        <input validate-on-change style="display: inline-block; max-width: 80%;" matInput [matDatepicker]="dueDateCalendar" [hidden]="lineItem.lineItemCode != 7"
        [readonly]="!canEdit || readOnlyQuote" class="form-control" autocomplete="off" name="dueDate" [(ngModel)]="lineItem.dueDate"
            #dueDate="ngModel">
        <mat-datepicker-toggle [hidden]="lineItem.lineItemCode != 7 || readOnlyQuote" matSuffix style="display: inline-block; max-width: 20%;" [for]="dueDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker [hidden]="lineItem.lineItemCode != 7 || readOnlyQuote" #dueDateCalendar></mat-datepicker>
    </div>
    <div class="col-lg-1">
        <input validate-on-change type="checkbox" class="form-check-input" id="received" name="received" [readonly]="!canEdit || readOnlyQuote" *ngIf="lineItem.lineItemCode == 7"
            [(ngModel)]="lineItem.received" #received="ngModel">
    </div>
    <div class="col-lg-4">
        <input validate-on-change style="width:100%" type="text" class="form-control" id="notes" name="notes" [readonly]="!canEdit || readOnlyQuote"
            [(ngModel)]="lineItem.notes" #dueDate="ngModel">
    </div>
    <div class="col-lg-2">
        <input validate-on-change type="text" class="form-control right" maxlength="6" maxInt [readonly]="!canEdit || readOnlyQuote" [required]="canEdit && !readOnlyQuote"
            [(ngModel)]="lineItem.amount" name="amount" #amount="ngModel" [decimalPlaces]="0" [hideDecimal]="true"
            string-to-currency [allowNegative]="false">

    </div>
    <div class="col-lg-1">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="!readOnlyQuote" type="button" class="btn btn-outline-primary" id="action" [disabled]="!canEdit" ngbDropdownToggle
                click-stop-propagation>Actions</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngIf="canEdit" (click)=copy() click-stop-propagation ngbDropdownItem>Copy</button>
                <button *ngIf="!lineItem.isNew && canEdit " hover-class="btn-danger" (click)=openDeleteConfirmation()
                    click-stop-propagation ngbDropdownItem>Delete</button>
                <button *ngIf="lineItem.isNew && canEdit " hover-class="btn-warning" (click)=openDeleteConfirmation()
                    click-stop-propagation ngbDropdownItem>Remove</button>
            </div>
        </div>
    </div>
</div>
