.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border: 0;
  border-bottom: 1px solid #e6e9ed;
  color: #677d95;
  background-color: rgb(224, 222, 222);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
ngb-typeahead-window { max-height: 200px !important; overflow-y: auto;}
.nav-tabs a:hover:not(.active) {
  background-color: #ccd4dc;
}

.nav-tabs .nav-link.active {
  color: #000000;
  border-radius: 0;
  border-bottom: 4px solid #00274e;
  font-weight: bold;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ngb-toasts {
  position: fixed;
  top: auto!important;
  bottom: 0!important;
  right: 0!important;
  left: center!important;
  margin: 0.5em;
}

.navToolbar {
  z-index: 2;
  width: calc(100% - 205px);
  position: fixed;

  background-color:  #f2f4f6;
}

/* .content-fluid {
  padding-top: 50px;
} */

.primary {
    width: 20px;
}

.tabErrors .tooltip-inner {
  max-width: 400px;
  width:auto;
}