<div class="navHolder">
  <div class="navToolbar"  >
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['location']">Location/Coverage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['mortgagee']">Mortgagee/Additional Interest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['premium']">Coverage Premium<span *ngIf=""></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['conditions']">Terms and Conditions</a>
      </li>
    </ul>
  </div>
</div>
<div style="padding-top: 42px;">
  <router-outlet></router-outlet>
</div>
