<div class="component-row"  (mouseover)="!canDrag ? isHover = true: isHover = false" (mouseleave)="isHover = false">
  <div [ngClass]="collapsed ? 'collapsed' : 'expanded'">
    <div>
      <div class="row" *ngIf="collapsed">
          <div class="col-lg-1">
            <ng-select class="max-width" id="building" [items]="buildingList" bindLabel="description"
                bindValue="code" name="building"  [required]="canEditSubmission"
                [virtualScroll]="true" click-stop-propagation
                [clearable]="false"
                [searchFn]="dropDownSearch" [(ngModel)]="mortgageeData.building">
                <ng-template ng-label-tmp let-item="item">
                    {{item.code}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    {{item.description}}
                </ng-template>
            </ng-select>
        </div>
        <div (click)="collapseExpand(false)" class="col-lg-6">
          <input type="address" class="form-control" id="address" #address="ngModel" name="address"
            [readonly]="!canEditSubmission" [ngModel]=" (!mortgageeData.mortgageHolder? '' : mortgageeData.mortgageHolder) +
                          (!mortgageeData.street1 ? '' : ', ' + mortgageeData.street1) + 
                          (!mortgageeData.street2 ? '' : ', ' + mortgageeData.street2) + 
                          (!mortgageeData.city ? '' : ', ' + mortgageeData.city ) + 
                          (!mortgageeData.state ? '' : ', ' + mortgageeData.state) +
                          (!mortgageeData.zip ? '' : ' ' + mortgageeData.zip)">
        </div>
        <div class="col-lg-2">
          <button class="btn btn-secondary" (click)=copyMortgagee() hover-class="btn-primary"
            [disabled]="!canEditSubmission" click-stop-propagation>Copy</button>&nbsp;
          <button *ngIf="!mortgageeData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-danger" click-stop-propagation>Delete</button>
          <button *ngIf="mortgageeData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-warning" click-stop-propagation>Remove</button>
        </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
        <div class="row">
          <div class="col-lg-1">
            <label for="building" class="form-label" title="building">Prem/Bldg:</label>
            <ng-select class="max-width" id="building" [items]="buildingList" bindLabel="description"
                bindValue="code" name="building"  [required]="canEditSubmission"  [readonly]="!canEditSubmission" 
                [virtualScroll]="true" click-stop-propagation
                [clearable]="false"
                [searchFn]="dropDownSearch" [(ngModel)]="mortgageeData.building">
                <ng-template ng-label-tmp let-item="item">
                    {{item.code}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    {{item.description}}
                </ng-template>
            </ng-select>
        </div>
        <div class="col-lg-2">
          <label for="mortgageType" class="form-label" title="mortgageType">Mortgage Type</label>
          <ng-select id="mortgageeType" [items]="mortgageeRoles$ | async" bindLabel="description" bindValue="key" [clearable]="false"
            [readonly]="!canEditSubmission" [required]="canEditSubmission" name="mortgageeType" [(ngModel)]="mortgageeData.mortgageeType" #mortgageeType="ngModel">
          </ng-select>
        </div>
          <div class="col-sm-3">
            <label for="mortgageHolder" class="form-label" title="mortgageHolder">Mortgage Holder</label>
            <input type="text" class="form-control" id="policyEventCode" name="mortgageHolder"  [required]="canEditSubmission"
              [readonly]="!canEditSubmission" [(ngModel)]="mortgageeData.mortgageHolder" #mortgageHolder="ngModel">
          </div>
          <div class="col-sm-3">
            <label for="street1" class="form-label" title="Status">Street Address 1</label>
            <input type="text" class="form-control" id="street1" name="street1" [readonly]="!canEditSubmission"  [required]="canEditSubmission"
              [(ngModel)]="mortgageeData.street1" #street1="ngModel">
          </div>
          <div class="col-sm-3">
            <label for="street2" class="form-label" title="Status">Street Address 2</label>
            <input type="text" class="form-control" id="street2" name="street2" [readonly]="!canEditSubmission"  
              [(ngModel)]="mortgageeData.street2" #street2="ngModel">
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="zip" class="form-label" title="zip">Zipcode</label>
              <div class="inputspinner">
                <input type="text" zip-code class="form-control" id="zipCode"  [required]="canEditSubmission" [readonly]="mortgageeData.isZipLookup || !canEditSubmission"
                  [(ngModel)]="mortgageeData.zip" name="zipCode" #zip="ngModel"
                  (ngModelChange)="changeZipCode()">
                <div *ngIf="mortgageeData.isZipLookup" id="spinner" class="spinner-border spinner-border-sm"
                  role="zipCode" aria-hidden="true">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="city" class="form-label" title="city">City</label>
              <input type="text" class="form-control" id="city" name="city" [(ngModel)]="mortgageeData.city"  [required]="canEditSubmission"
                [readonly]="mortgageeData.isZipLookup || !canEditSubmission" #city="ngModel">
            </div>
            <div class="col-sm-2">
              <label for="policyEventCode" class="form-label" title="Status">State</label>
              <div *ngIf="isLoadingAddress">
                <div class="spinner-border ml-auto" role="status" aria-hidden="true">
                </div>
              </div>
              <div *ngIf="!isLoadingAddress">
                <ng-select id="mortgageeState" [items]="states$ | async" bindLabel="name" bindValue="code"  [required]="canEditSubmission"
                  [clearable]="false" [readonly]="!canEditSubmission || mortgageeData.isZipLookup" name="mortgageeState"  [readonly]="!canEditSubmission" 
                  [(ngModel)]="mortgageeData.state" #mortgageeState="ngModel" (change)="changeState($event)">
                </ng-select>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-2">
              <label for="attention" class="form-label" title="attention">Attention</label>
              <input type="text" class="form-control" id="policyEventCode" name="attention"
                [readonly]="!canEditSubmission" [(ngModel)]="mortgageeData.attention" #attention="ngModel">
            </div>
            <div class="col-sm-8">
              <label for="comments" class="form-label" title="comments">Property Description</label>
              <input type="text" class="form-control" id="comments" name="comments" [readonly]="!canEditSubmission"
                [(ngModel)]="mortgageeData.description" #comments="ngModel">
            </div>
          </div>
      </div>
      <div class="empty-row"></div>
      
      <div class="row">
        <div class="col-lg-2">
          <button class="btn btn-secondary" (click)=copyMortgagee() hover-class="btn-primary"
            [disabled]="!canEditSubmission">Copy</button>&nbsp;
          <button *ngIf="!mortgageeData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-danger">Delete</button>
          <button *ngIf="mortgageeData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-warning">Remove</button>
        </div>
        <div [id]='anchorId'></div>
      </div>
      <button *ngIf="!collapsed" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse"
        [openDelay]="1000">
        <fa-icon [icon]="faArrowUp"></fa-icon>
      </button>
    </div>
  </div>
</div>