<div class="card" >
  <div class="card-header" (click)="collapse.toggle()">Underlying Coverages
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="ucCollapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!ucCollapsed"></fa-icon>
  </div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="ucCollapsed">
  <!-- <div class="row container" style="padding-top: 5px">
    <div class="col-lg-3">
      <label for="address">Role</label>
    </div>
    <div class="col-lg-5">
      <label for="createDate">Additional Named Insured</label>
    </div>
    <div class="col-lg-2">
      <label for="createDate">Create Date</label>
    </div>
  </div> -->
  <button (click)="save()">Save</button>
    <div *ngFor="let item of underlyingCoverages; let i = index">
        <rsps-underlying-coverage-detail
        [ucData]=item
        (deleteThisCoverage)=deleteCoverage($event)
        ></rsps-underlying-coverage-detail>
    </div>
  </div>
  <div class="card-footer" >
    <div id="aniFooter">
      <button *ngIf="canEdit" style="float:left; background:none; border:none;" class="underline" (click)="addNewUnderlyingCoverage();">Add Underlying Coverage</button>
      <div style="float:right;">Underlying Coverages: {{underlyingCoverages.length}}</div>
    </div>
  </div>
</div>
