/* Used to aligh right fields like amounts */
.right {
  text-align: right;
}

.form-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  margin-bottom: 0px;
}
