<div class="top-info">
  <div class="card-header info-header">
    <div class="row">
      Property - Submission Number
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <rsps-quote-summary-coverages-detail></rsps-quote-summary-coverages-detail>
        </div>
        <div class="row">
          <rsps-quote-summary-premium-detail></rsps-quote-summary-premium-detail>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <rsps-quote-summary-submission-info></rsps-quote-summary-submission-info>
        </div>
        <div class="row">
          <rsps-quote-summary-quote-bind></rsps-quote-summary-quote-bind>
        </div>
      </div>
    </div>
  </div>
</div>
