<div class="navHolder" [style.height.px]="headerPaddingService.navRoutingHeight$ | async"
  [style.width.px]="headerPaddingService.totalBodyWidth$ | async">
  <div class="navToolbar">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['information']">Policy Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['coverages']">Coverages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['mortgagee']">Mortgagee / Add Interest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['premium']">Premium</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['reinsurance']">Reinsurance{{this.policy.reinsuranceValidation.isValid ? '' : '*'}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['summary']">Summary</a>
      </li>
    </ul>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<!--
<ng-template #productSelectionTabErrorList>
  <tr *ngFor="let item of (this.productSelectionTabValidation?.errorMessages?.slice(0, 25) ?? [])">
    <span>{{item}}<br></span>
  </tr>
  <tr *ngIf="(productSelectionTabValidation?.errorMessages?.length ?? 0) > 25">
    <span>({{(productSelectionTabValidation?.errorMessages?.length ?? 0) - 25}} More) ...</span>
  </tr>
</ng-template> -->
