.card-header {
  color: white;
  background-color: #00274e;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  color: blue;
}

.collapse.show {
  background-color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.underline:hover {
  text-decoration: underline;
}

#reinsuranceFooter {
  font-weight: bold;
  text-align: center;
}