<div class="card">
  <div class="card-header" (click)="collapse.toggle()">
    Mortgagee / Loss Payee
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
    <div class="card-body" *ngIf="mortgageeData.length > 0">
      <div class="row">
        <div class="col-sm-1">
          <label for="address">Prem/Bldg:</label>
        </div>
        <div class="col-sm-1">
          <label for="address">Address:</label>
        </div>
      </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
          <div *ngFor="let item of mortgageeData; let i = index">
            <rsps-mortgagee (copyExisitingMortgagee)=copyExisitingMortgagee($event)
              (deleteExistingMortgagee)=deleteExistingMortgagee($event) [mortgagee]=mortgageeData [mortgageeData]=item>
            </rsps-mortgagee>
          </div>
        </div>
    </div>
  </div>
  <div class="card-footer">
    <div id="mortgageeFooter">
      <button style="float:left; background:none; border:none;" class="underline" (click)="addNewMortgagee();">Add
        Mortgagee</button>
    </div>
  </div>
</div>
