<form  #aniForm="ngForm">
<div class="card">
      <div class="card-body" >
        <div class="row">
          <div class="col-lg-3">
              <label for="role">Role</label>
              <ng-select class="form-control" id="role" [items]="aniRoles$ | async" bindLabel="description" bindValue="key" [searchFn]="dropDownSearch" 
              [clearable]="false" [readonly]="!canEditPolicy" [required]="canEditPolicy"  name="role" [(ngModel)]="aniData.role"  #role="ngModel">
                <ng-template ng-label-tmp let-item="item">
                  {{item.key}}  - {{item.description}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.key}} - {{item.description}}
                </ng-template>
              </ng-select>
            </div>
          <div class="col-lg-4">
            <label for="name">Additional Named Insured</label>
            <input type="text" class="form-control" id="name" #name="ngModel" [readonly]="!canEditPolicy" [required]="canEditPolicy" 
             name="name" [(ngModel)]="aniData.name" >
          </div>
          <div class="col-lg-2">
            <label for="createDate">Create Date</label>
              <input type="text" class="form-control" id="createDate" [readonly]="isReadOnly" 
                 name="createDate" [ngModel]="aniData.createdDate  | date:'MM-dd-yyyy'" (ngModelChange)="aniData.createdDate=$event">
          </div>
          <br>
          <div class="col-lg-2" style="padding-top: 20px;">
            <span class="btn btn-secondary" hover-class="btn-primary" (click)="copyAni()">Copy</span> &nbsp;
            <span class="btn btn-secondary" hover-class="btn-danger" (click)="deleteAni()">Delete</span>
          </div>
      </div>
</div>
