<div class="component-row">
  <div [ngClass]="collapsed ? 'collapsed' : 'expanded'">
    <div class="row" (click)="collapseExpand(false)">
      <div class="col-lg-1">
        <ng-select
          class="max-width"
          id="building"
          [items]="buildingList"
          bindLabel="description"
          bindValue="code"
          name="building"
          (change)="optionalPremiumData.markDirty()"
          [virtualScroll]="true"
          click-stop-propagation
          [clearable]="false"
          [searchFn]="dropDownSearch"
          [(ngModel)]="optionalPremiumData.building"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.code }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div (click)="collapseExpand(false)" class="col-lg-3">
        <ng-select
          class="max-width"
          id="building"
          [items]="coverages"
          bindLabel="coverageDescription"
          bindValue="coverageCode"
          name="building"
          [virtualScroll]="true"
          (change)="setActiveCoverageMapping(optionalPremiumData.coverageCode)"
          [clearable]="false"
          click-stop-propagation
          validate-on-change
          [searchFn]="dropDownSearch"
          [(ngModel)]="optionalPremiumData.coverageCode"
        >
          <ng-template ng-option-tmp let-item="item">
            {{ item.coverageDisplay }}
          </ng-template></ng-select
        >
      </div>
      <div class="col-lg-2">
        <input
          type="text"
          class="form-control right"
          id="limit"
          name="limit"
          click-stop-propagation
          string-to-currency
          validate-on-change
          [validateLevel]="validateQuote"
          [fullValidate]="true"
          [allowNegative]="false"
          [required]="isLimitRequired"
          [readonly]="!canEdit || !isLimitAvailable"
          [(ngModel)]="optionalPremiumData.limit"
          #limit="ngModel"
        />
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-6">
            <!-- <div *ngIf="optionalPremiumData.isSubjectToMaxAmountAvailable()"> -->
            <div>
              <input
                type="checkbox"
                class="form-check-input"
                #isSubjectToMaxAmount="ngModel"
                id="isSubjectToMaxAmount"
                click-stop-propagation
                (change)="optionalPremiumData.onChangeSubjectToMax()"
                [(ngModel)]="optionalPremiumData.isSubjectToMaxAmount"
                validate-on-change
                [fullValidate]="true"
                name="isSubjectToMaxAmount"
                [readonly]="
                  !canEdit ||
                  !isPremiumMappingSet ||
                  !isSubjectToMaxAmountAvailable ||
                  isSubjectToMaxAmountRequired
                "
              />
            </div>
          </div>
          <div class="col-sm-6">
            <!-- <div *ngIf="optionalPremiumData.isSubjectToMaxAmountAvailable()"> -->
            <div>
              <input
                type="text"
                string-to-currency
                class="form-control"
                id="subjectToMaxPercent"
                name="subjectToMaxPercent"
                click-stop-propagation
                [decimalPlaces]="5"
                [hideDecimal]="true"
                [allowNegative]="false"
                [required]="canEdit && isPremiumMappingSet && optionalPremiumData.isSubjectToMaxAmount"
                validate-on-change
                [fullValidate]="true"
                [readonly]="
                  !canEdit ||
                  !isPremiumMappingSet ||
                  !optionalPremiumData.isSubjectToMaxAmount
                "
                [(ngModel)]="optionalPremiumData.subjectToMaxPercent"
                #subjectToMaxPercent="ngModel"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-1">
        <div>
          <input
            type="checkbox"
            class="form-check-input"
            #maxAmount="ngModel"
            id="maxAmount"
            click-stop-propagation
            (change)="optionalPremiumData.onChangeDeductible()"
            [(ngModel)]="optionalPremiumData.isDeductibleSelected"
            validate-on-change
            [fullValidate]="true"
            name="maxAmount"
            [readonly]="!canEdit || !isPremiumMappingSet || !isDeductibleAvailable"
          />
        </div>
      </div>
      <div class="col-lg-2">
        <input
          type="text"
          string-to-currency
          class="form-control right"
          id="additionalPremium"
          name="additionalPremium"
          click-stop-propagation
          validate-on-change
          [validateLevel]="validateQuote"
          [fullValidate]="true"
          [readonly]="!canEdit || !isPremiumMappingSet"
          [required]="canEdit && isPremiumMappingSet && isAdditionalPremiumRequired"
          [allowNegative]="false"
          [(ngModel)]="optionalPremiumData.additionalPremium"
          #additionalPremium="ngModel"
        />
      </div>
      <div class="col-lg-1" *ngIf="collapsed">
        <div ngbDropdown class="d-inline-block" *ngIf="canEdit">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="action"
            ngbDropdownToggle
            click-stop-propagation
          >
            Actions
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              *ngIf="!optionalPremiumData.isNew && canEdit"
              hover-class="btn-danger"
              (click)="openDeleteConfirmation()"
              click-stop-propagation
              ngbDropdownItem
            >
              Delete
            </button>
            <button
              *ngIf="optionalPremiumData.isNew && canEdit"
              hover-class="btn-warning"
              (click)="openDeleteConfirmation()"
              click-stop-propagation
              ngbDropdownItem
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
      <div class="row">
        <div class="col-sm-2">
          <label for="deductibleValue" class="form-label" title="Deductible"
            >Deductible</label
          >
          <input
            type="text"
            string-to-currency
            [allowNegative]="false"
            [readonly]="
              !canEdit ||
              !isPremiumMappingSet ||
              !optionalPremiumData.isDeductibleSelected  ||
              !isDeductibleAvailable
            "
            [required]="
            canEdit && isPremiumMappingSet && optionalPremiumData.isDeductibleSelected
            "
            class="form-control"
            id="deductibleValue"
            name="deductibleValue"
            validate-on-change
            [fullValidate]="true"
            [(ngModel)]="optionalPremiumData.deductible"
            #deductibleValue="ngModel"
          />
        </div>
        <div class="col-lg-2">
          <label for="deductibleType" class="form-label" title="Deductible Type"
            >Deductible Type</label
          >
          <ng-select
            id="deductibleType"
            [items]="deductibleTypes$ | async"
            bindLabel="description"
            bindValue="code"
            [required]="
              canEdit &&
              isPremiumMappingSet &&
              optionalPremiumData.isDeductibleSelected
            "
            name="deductibleType"
            click-stop-propagation
            validate-on-change
            [fullValidate]="true"
            [readonly]="
              !canEdit ||
              !isPremiumMappingSet ||
              !optionalPremiumData.isDeductibleSelected ||
              !isDeductibleAvailable
            "
            [clearable]="false"
            [(ngModel)]="optionalPremiumData.deductibleType"
          >
          </ng-select>
        </div>
        <div class="col-lg-2">
          <label for="deductibleCode" class="form-label" title="Deductible Code"
            >Deductible Code</label
          >
          <ng-select
            id="deductibleCode"
            [items]="deductibleCodes$ | async"
            bindLabel="description"
            bindValue="code"
            [required]="
              canEdit &&
              isPremiumMappingSet &&
              optionalPremiumData.isDeductibleSelected
            "
            name="deductibleCode"
            click-stop-propagation
            validate-on-change
            [fullValidate]="true"
            [readonly]="
              !canEdit ||
              !isPremiumMappingSet ||
              !optionalPremiumData.isDeductibleSelected
            "
            [clearable]="false"
            [(ngModel)]="optionalPremiumData.deductibleCode"
          >
          </ng-select>
        </div>

        <div class="col-sm-6">
          <label
            for="additionalComment"
            class="form-label"
            title="Additional Comment"
            >Additional Comment</label
          >
          <input
            type="text"
            [required]="isPremiumMappingSet && isAdditionalDetailRequired"
            class="form-control"
            id="additionalComment"
            name="additionalComment"
            maxlength="50"
            validate-on-change
            [readonly]="!canEdit || !isPremiumMappingSet"
            [(ngModel)]="optionalPremiumData.additionalDetail"
            #additionalComment="ngModel"
          />
        </div>
      </div>
      <div class="empty-row"></div>
      <div class="row">
        <div class="col-lg-12">
          <!-- <button class="btn btn-secondary" (click)=copy() hover-class="btn-primary"
                *ngIf="canEdit">Copy</button> -->
          <button
            class="btn btn-secondary margin-left"
            (click)="openDeleteConfirmation()"
            hover-class="btn-danger"
            click-stop-propagation
            *ngIf="!optionalPremiumData.isNew && canEdit"
          >
            Delete
          </button>
          <button
            class="btn btn-secondary margin-left"
            (click)="openDeleteConfirmation()"
            hover-class="btn-warning"
            click-stop-propagation
            *ngIf="optionalPremiumData.isNew && canEdit"
          >
            Remove
          </button>
        </div>
        <div [id]="anchorId"></div>
      </div>
      <button
        *ngIf="!collapsed"
        class="collapse-bar"
        (click)="collapseExpand(true)"
        ngbTooltip="Collapse"
        [openDelay]="1000"
      >
        <fa-icon [icon]="faArrowUp"></fa-icon>
      </button>
    </div>
  </div>
</div>
