<br>
<div class="card-header" (click)="collapse.toggle()">Policy Layer {{policyLayerData.policyLayerNo}}:
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="policyLayerCollapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!policyLayerCollapsed"></fa-icon>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="policyLayerCollapsed">
    <div *ngFor="let item of policyLayerData.reinsuranceData; let i = index">
        <rsps-reinsurance-layer [reinsuranceLayer]=item [index]=i [policyLayerData]="policyLayerData"
            (deleteExistingReinsuranceLayer)=deleteExistingReinsuranceLayer($event)></rsps-reinsurance-layer>
    </div>
    <br>
    <div class="card-footer">
        <div class="aniFooter">
            <div class="row">
                <div style="padding-left: 10px" class="col-lg-2">
                    <button class="btn btn-sm btn-primary pull-right" style="float:left; background:none; border:none;"
                        class="underline" (click)="addNewReinsuranceLayer()">Add Reinsurance Layer</button> &nbsp;
                </div>
                <div class="col-lg-2">
                    <b>Policy Layer Totals:</b>
                </div>
                <div class="col-lg-2">
                  {{calcTotalPolicyLayerLimit() | currency: 'USD' : 'symbol':'1.0-0' }}
                </div>
                <div class="col-lg-2">
                   {{calcTotalPolicyLayerPremium() | currency: 'USD' : 'symbol':'1.0-0' }}
                </div>
            </div>
        </div>
    </div>
</div>