<form #contactForm="ngForm" (mouseover)="!canDrag ? isHover = true: isHover = false" (mouseleave)="isHover = false">
  <div class="row">
    <div class="col-lg-2">
      <input type="text" class="form-control" id="firstName" #firstName="ngModel" [readonly]="!canEditInsured || canDrag"
        maxlength="25" [required]="canEditInsured" name="firstName" [(ngModel)]="contact.firstName">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="lastName" #lastName="ngModel" [readonly]="!canEditInsured || canDrag"
        maxlength="25" [required]="canEditInsured" name="lastName" [(ngModel)]="contact.lastName">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="email" [readonly]="!canEditInsured || canDrag" nullValue maxlength="100" name="email"
        [(ngModel)]="contact.email" #email="ngModel">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="phone" [readonly]="!canEditInsured || canDrag" nullValue name="phone"
        [(ngModel)]="contact.phone" #phone="ngModel" mask="(000) 000-0000">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="fax" [readonly]="!canEditInsured || canDrag" nullValue name="fax" [(ngModel)]="contact.fax"
        #fax="ngModel" mask="(000) 000-0000">
    </div>
    <div class="col-lg-2">
      <fa-icon *ngIf="contact.isPrimary" class="primaryStar" title="Primary" [icon]="faSolidStar"></fa-icon>
      <fa-icon *ngIf="contact.isPrimaryTracked && !contact.isPrimary" class="greyStar" title="Primary" [icon]="faSolidStar"
        (click)="$event.preventDefault();setPrimary(contact)" click-stop-propagation></fa-icon>
      <fa-icon *ngIf="!contact.isPrimary && !contact.isPrimaryTracked"
        [ngClass]="(!contact.isPrimary && isHover && canEditInsured) ? 'visible' : 'hidden'" title="Favorite"
        [icon]="faStar" (click)="$event.preventDefault();setPrimary(contact)" click-stop-propagation></fa-icon>
      <button class="btn btn-secondary" style="margin-left: 5px;" (click)=copyContact() hover-class="btn-primary"
        *ngIf="canEditInsured" [disabled]="canDrag">Copy</button>
      <button class="btn btn-secondary" (click)=openDeleteConfirmation() hover-class="btn-danger"
        *ngIf="canDelete" [disabled]="canDrag">Delete</button>
      <button class="btn btn-secondary" (click)=openDeleteConfirmation() hover-class="btn-warning"
        *ngIf="canRemove" [disabled]="canDrag">Remove</button>
    </div>
  </div>
</form>