<form #contactForm="ngForm" (mouseover)="isHover = true" (mouseleave)="isHover = false">
  <div class="header-label">
    <div class="row">
      <div class="col-lg-2">
        <label for="firstName" *ngIf="index == 0">First Name</label>
      </div>
      <div class="col-lg-2">
        <label for="lastName" *ngIf="index == 0">Last Name</label>
      </div>
      <div class="col-lg-2">
        <label for="lastName" *ngIf="index == 0">Email</label>
      </div>
      <div class="col-lg-2">
        <label for="lastName" *ngIf="index == 0">Phone</label>
      </div>
      <div class="col-lg-2">
        <label for="lastName" *ngIf="index == 0">Fax</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <input type="text" class="form-control" id="firstName" #firstName="ngModel" [readonly]="!canEditInsured"
        maxlength="40" [required]="canEditInsured" name="firstName" [(ngModel)]="contact.firstName">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="lastName" #lastName="ngModel" [readonly]="!canEditInsured"
        maxlength="40" [required]="canEditInsured" name="lastName" [(ngModel)]="contact.lastName">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="email" [readonly]="!canEditInsured" name="email"
        [(ngModel)]="contact.email" #email="ngModel">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="phone" [readonly]="!canEditInsured" name="phone"
        [(ngModel)]="contact.phone" #phone="ngModel" mask="(000) 000-0000">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="fax" [readonly]="!canEditInsured" name="fax" [(ngModel)]="contact.fax"
        #fax="ngModel" mask="(000) 000-0000">
    </div>
    <div class="col-lg-2">
      <fa-icon *ngIf="contact.isPrimary"
        style="float:left; margin-top: 5px; color: gold;stroke: black;stroke-width: 15px;" title="Primary"
        [icon]="faSolidStar" (click)="$event.preventDefault();unfavorite(contact)" click-stop-propagation></fa-icon>
      <fa-icon *ngIf="!contact.isPrimary && isHover" style="float:left;" title="Favorite" [icon]="faStar"
        (click)="$event.preventDefault();favorite(contact)" click-stop-propagation></fa-icon>
      <span class="btn btn-secondary" style="margin-left: 5px;" (click)=copyContact() hover-class="btn-primary"
        *ngIf="canEditInsured">Copy</span>
      <span class="btn btn-secondary" (click)=openDeleteConfirmation() hover-class="btn-danger"
        *ngIf="!contact.isNew && canEditInsured">Delete</span>
      <span class="btn btn-secondary" (click)=openDeleteConfirmation() hover-class="btn-warning"
        *ngIf="contact.isNew && canEditInsured">Remove</span>
    </div>
  </div>
</form>