<form #locationForm="ngForm">
  <div class="component-row">
    <div [ngClass]="collapsed ? 'collapsed' : 'expanded'">
      <div #locationInfo (click)="collapseExpand(false)">
        <div class="row" *ngIf="collapsed">
          <div class="col-lg-10">
            <input type="address" class="form-control" id="address" readonly [ngClass]="addressReadOnly"
              #address="ngModel" name="address" [required]="canEditPolicy"
              [ngModel]="location.street1 + (!location.street2 ? '' : ', ' + location.street2) + (!location.city ? '' : ', ' + location.city ) + (!location.state ? '' : ', ' + location.state) + (!location.zip ? '' : ' ' + location.zip)">
          </div>
          <div class="col-lg-2">
            <button class="btn btn-secondary" (click)=copyLocation() hover-class="btn-primary" *ngIf="canEditPolicy"
              [disabled]="canDrag" click-stop-propagation>Copy</button>
            <button class="btn btn-secondary margin-left" (click)=openDeleteConfirmation() hover-class="btn-danger"
              [disabled]="canDrag" *ngIf="!location.isNew && canEditPolicy" click-stop-propagation>Delete</button>
            <button class="btn btn-secondary margin-left" (click)=openDeleteConfirmation() hover-class="btn-warning"
              [disabled]="canDrag" *ngIf="location.isNew && canEditPolicy" click-stop-propagation>Remove</button>
          </div>
        </div>
      </div>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
        <div class="row">
          <div class="col-lg-6">
            <label for="street1">Address Street 1</label>
            <input type="text" class="form-control" id="street1" #street1="ngModel" [readonly]="!canEditPolicy"
              maxlength="40" [required]="canEditPolicy" name="street1" [(ngModel)]="location.street1">
          </div>
          <div class="col-lg-6">
            <label for="street2">Address Street 2</label>
            <input type="text" class="form-control" id="street2" #street2="ngModel" [readonly]="!canEditPolicy"
              maxlength="40" name="street2" [(ngModel)]="location.street2" nullValue>
          </div>
        </div>
        <div class="empty-row"></div>
        <div class="row">
          <div class="col-lg-3">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" id="zipCode" [readonly]="!canEditPolicy" [required]="canEditPolicy"
              mask="00000||00000-0000" [(ngModel)]="location.zip" name="zipCode" #zip="ngModel"
              (ngModelChange)="changeZipCode()">
          </div>
          <div class="col-lg-3">
            <label for="city">City</label>
            <div *ngIf="isLoadingAddress">
              <div class="spinner-border ml-auto" role="status" aria-hidden="true">
              </div>
            </div>
            <div *ngIf="!isLoadingAddress">
              <input type="text" class="form-control" id="city" [readonly]="!canEditPolicy || isLoadingAddress"
                maxlength="25" [required]="canEditPolicy" [(ngModel)]="location.city" name="city" #city="ngModel">
            </div>
          </div>
          <div class="col-lg-3">
            <label for="locationState">State</label>
            <div *ngIf="isLoadingAddress">
              <div class="spinner-border ml-auto" role="status" aria-hidden="true">
              </div>
            </div>
            <div *ngIf="!isLoadingAddress">
              <ng-select id="locationState" [items]="states$ | async" bindLabel="description" bindValue="code"
                [clearable]="false" [readonly]="!canEditPolicy || isLoadingAddress" name="locationState"
                [required]="canEditPolicy" [(ngModel)]="location.state" #locationState="ngModel">
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3">
            <label for="locationCounty">County</label>
            <div *ngIf="isLoadingAddress">
              <div class="spinner-border ml-auto" role="status" aria-hidden="true">
              </div>
            </div>
            <div *ngIf="!isLoadingAddress">
              <div *ngIf="counties.length <= 1">
                <input type="text" class="form-control" id="locationCounty"
                  [readonly]="!canEditPolicy || isLoadingAddress" [(ngModel)]="location.county" name="locationCounty"
                  maxlength="100" #locationCounty="ngModel" nullValue>
              </div>
              <div *ngIf="counties.length > 1">
                <ng-select id="locationCounty" [items]="counties" [clearable]="false"
                  [readonly]="!canEditPolicy || isLoadingAddress" name="locationCounty" [(ngModel)]="location.county"
                  #locationCounty="ngModel">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-row"></div>
        <div class="row">
          <div class="col-lg-2">
            <button class="btn btn-secondary" (click)=copyLocation() hover-class="btn-primary"
              *ngIf="canEditPolicy">Copy</button>
            <button class="btn btn-secondary margin-left" (click)=openDeleteConfirmation() hover-class="btn-danger"
              *ngIf="!location.isNew && canEditPolicy">Delete</button>
            <button class="btn btn-secondary margin-left" (click)=openDeleteConfirmation() hover-class="btn-warning"
              *ngIf="location.isNew && canEditPolicy">Remove</button>
          </div>
          <div [id]='anchorId'></div>
        </div>
        <button *ngIf="!collapsed" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse">
          <fa-icon [icon]="faArrowUp"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</form>