<!--
<div><button (click)="this.coveragePremium.setIsDirtyFlag()">Dirty</button>{{this.coveragePremium.isDirty ? 'Is Dirty' : 'Is Clean'}}</div>
<div><button (click)="this.coveragePremium.setIsValidFlag()">Valid</button>{{this.coveragePremium.isValid ? 'Is Valid' : 'Is Not Valid'}}</div>
<div><button (click)="this.coveragePremium.setCanBeSavedFlag()">Can Be Saved</button>{{this.coveragePremium.canBeSaved ? 'Can Be Saved' : 'Cannot Be Saved'}}</div> -->
<div *ngIf="isSaving">
  <div class="spinner-wrapper" >
      <h3>
      <span class="badge rounded-pill refresh">
          <div class="spinner-border small"></div>
      </span>
      </h3>
  </div>
</div>
<rsps-quote-property-premium *ngIf="quote" [totalPrem]="quote.totalPremium" [program]="program" [quote]="quote" [rate]="rate" ></rsps-quote-property-premium>
<rsps-optional-premium-group *ngIf="quote" [type]="componentType" [type]="type" [totalPrem]="quote.totalPremium" ></rsps-optional-premium-group>
<rsps-quote-line-items-group *ngIf="quoteLineItemData" [quoteLineItemData]="quoteLineItemData" [riskState]="riskState" [effectiveDate]="effectiveDate"></rsps-quote-line-items-group>
