.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.margin-left {
  margin-left: 5px;
}

.form-checkbox{
  height: 25px;
  width: 25px;
  margin: 6px;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.alert {
  padding: 5px;    
}
