<div class="component-row">
    <div [ngClass]="collapsed ? 'collapsed' : 'expanded'">
        <div #locationInfo (click)="collapseExpand(false)">
            <div class="row">
                <div class="col-lg-1">
                    <ng-select class="max-width" id="building" [items]="buildingList" bindLabel="description"
                        bindValue="code" [required]="canEdit && deductible.deductibleRequired" name="building"
                        [virtualScroll]="true" click-stop-propagation validate-on-change
                        [readonly]="!canEdit || deductible.deductibleReadonly" [clearable]="false"
                        [searchFn]="dropDownSearch" [(ngModel)]="deductible.building" (change)="deductible.markDirty()">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.code}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                            {{item.description}}
                        </ng-template>
                    </ng-select>
                </div>
                <div class="col-lg-2">
                    <ng-select id="deductible" [items]="propertyDeductibles$ | async" bindLabel="name"
                        bindValue="propertyDeductibleId" [required]="canEdit && deductible.deductibleRequired"
                        validate-on-change [fullValidate]="true"
                        name="deductible" click-stop-propagation [readonly]="!canEdit || deductible.deductibleReadonly"
                        [clearable]="false" [(ngModel)]="deductible.propertyDeductibleId"
                        (change)="changeDeductible($event)">
                    </ng-select>
                </div>
                <div class="col-lg-2">
                    <input *ngIf="!deductible.isExcluded" type="text" class="form-control right" id="amount"
                        [readonly]="!canEdit || deductible.amountReadonly" validate-on-change
                        [required]="canEdit && deductible.amountRequired" string-to-currency [allowNegative]="false"
                        name="amount" click-stop-propagation [(ngModel)]="deductible.amount" #amount="ngModel">
                    <input *ngIf="deductible.isExcluded" type="text" class="form-control right" id="amount" readonly
                        name="amount" click-stop-propagation value="Excluded">
                </div>
                <div class="col-lg-2">
                    <ng-select id="deductibleType" [items]="deductibleTypes$ | async" bindLabel="description"
                        bindValue="code" [required]="canEdit && deductible.deductibleTypeRequired" name="deductibleType"
                        click-stop-propagation [readonly]="!canEdit || deductible.deductibleTypeReadonly"
                        validate-on-change
                        [clearable]="false" [(ngModel)]="deductible.deductibleType">
                    </ng-select>
                </div>
                <div class="col-lg-2">
                    <ng-select id="deductibleCode" [items]="deductibleCodes$ | async" bindLabel="description"
                        bindValue="code" [required]="canEdit && deductible.deductibleCodeRequired" name="deductibleCode"
                        validate-on-change
                        click-stop-propagation [readonly]="!canEdit || deductible.isExcluded" [clearable]="false"
                        [(ngModel)]="deductible.deductibleCode">
                    </ng-select>
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" class="form-check-input" id="excluded" [(ngModel)]="deductible.isExcluded"
                        name="excluded" [hidden]="!deductible.isExcludedVisible" click-stop-propagation
                        validate-on-change [readonly]="!canEdit || deductible.isExcludedReadonly">
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" class="form-check-input" id="subjectToMin"
                        [(ngModel)]="deductible.isSubjectToMin" validate-on-change [fullValidate]="true" name="subjectToMin"
                        [hidden]="!deductible.isSubjectToMinVisible" [readonly]="!canEdit || deductible.isExcluded">

                        <div class="help-tip"  [hidden]="!deductible.isSubjectToMinVisible">
                          <p>Check accompanying box to view additional Subject to Min options</p>
                      </div>
                </div>
                <div class="col-lg-1" *ngIf="collapsed">
                    <div ngbDropdown class="d-inline-block" *ngIf="canEdit">
                        <button type="button" class="btn btn-outline-primary" id="action" ngbDropdownToggle
                            click-stop-propagation>Actions</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="canEdit" class="btn btn-outline-primary" (click)=copy() click-stop-propagation ngbDropdownItem>Copy</button>
                            <button *ngIf="!deductible.isNew && canEdit && deductible.deleteVisible" class="btn btn-outline-primary"
                                (click)=openDeleteConfirmation() click-stop-propagation ngbDropdownItem>Delete</button>
                            <button *ngIf="deductible.isNew && canEdit && deductible.deleteVisible" class="btn btn-outline-primary"
                                (click)=openDeleteConfirmation() click-stop-propagation ngbDropdownItem>Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
            <div class="empty-row"></div>
            <div class="row">
                <div class="col-lg-8">
                    <label for="comment" class="form-label" title="Comment">Comment</label>
                    <input type="text" class="form-control" id="totalLimit" maxlength="255" validate-on-change
                        [readonly]="!canEdit || deductible.isExcluded" click-stop-propagation name="comment"
                        [(ngModel)]="deductible.comment" #comment="ngModel">
                </div>
                <div class="col-lg-1" *ngIf="deductible.subjectToMinVisible">
                    <label for="subjectToMinPercent" class="form-label" title="%">%</label>
                    <input type="text" class="form-control right" id="subjectToMinPercent" click-stop-propagation
                        [readonly]="!canEdit || deductible.isExcluded" validate-on-change
                        [required]="canEdit && deductible.subjectToMinPercentRequired" string-to-currency
                        [decimalPlaces]="5" [hideDecimal]="true" [allowNegative]="false" name="subjectToMinPercent"
                        [(ngModel)]="deductible.subjectToMinPercent" #subjectToMinPercent="ngModel">
                </div>
                <div class="col-lg-2" *ngIf="deductible.subjectToMinVisible">
                    <label for="subjectToMinAmount" class="form-label" title="Subject to Min Amount">Subject to Min
                        Amount</label>
                    <input type="text" class="form-control right" id="subjectToMinAmount" validate-on-change click-stop-propagation
                        [readonly]="!canEdit || deductible.isExcluded"
                        [required]="canEdit && deductible.subjectToMinAmountRequired" string-to-currency
                        [allowNegative]="false" name="subjectToMinAmount" [(ngModel)]="deductible.subjectToMinAmount"
                        #subjectToMinAmount="ngModel">
                </div>
            </div>
            <div class="empty-row" *ngIf="!collapsed"></div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-secondary" (click)=copy() hover-class="btn-primary"
                        *ngIf="canEdit">Copy</button>
                    <button class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
                        hover-class="btn-danger" click-stop-propagation
                        *ngIf="!deductible.isNew && canEdit && deductible.deleteVisible">Delete</button>
                    <button class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
                        hover-class="btn-warning" click-stop-propagation
                        *ngIf="deductible.isNew && canEdit && deductible.deleteVisible">Remove</button>
                </div>
                <div [id]='anchorId'></div>
            </div>
            <button *ngIf="!collapsed" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse"
                [openDelay]="1000">
                <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
        </div>
    </div>
</div>
