<form #rightPanel="ngForm">
  <div class="panel">
    <div class="row">
      <div class="col-lg-12">
        <label for="insuredCode" class="form-label" title="Insured Code">Insured Code</label>
        <input type="text" class="form-control" id="insuredCode" [ngModel]="insured.insuredCode" name="insuredCode"
          readonly #insuredCode="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="customerCode" class="form-label" title="Customer Code">Customer Code</label>
        <input type="number" class="form-control" id="customerCode" readonly maxInt nullValue
          [(ngModel)]="insured.customerCode" name="customerCode" #customerCode="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="entityType" class="form-label" title="Entity Type">Entity Type</label>
        <ng-select id="entityType" [items]="entityType$ | async" bindLabel="description" bindValue="key"
          [readonly]="!canEditInsured" name="entityType" [(ngModel)]="insured.entityType" #entityType="ngModel">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="fein" class="form-label" title="FEIN">FEIN</label>
        <input type="text" class="form-control" id="fein" [readonly]="!canEditInsured" nullValue name="fein"
          [(ngModel)]="insured.fein" #fein="ngModel" mask="00-0000000">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="website" class="form-label" title="Website">Website</label>
        <input type="text" class="form-control" id="website" [readonly]="!canEditInsured" name="website" nullValue maxlength="100"
          [(ngModel)]="insured.website" #website="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="createdBy" class="form-label" title="Created">Created</label>
        <input type="text" class="form-control" id="createdBy" readonly [ngModel]="insured.createUserFormatted"
          name="createdBy" #createdBy="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="modifiedBy" class="form-label" title="Modified">Modified</label>
        <input type="text" class="form-control" id="modifiedBy" readonly [ngModel]="insured.modifiedUserFormatted"
          name="modifiedBy" #modifiedBy="ngModel">
      </div>
    </div>
  </div>
</form>
