#policyHeader {
  background-color: #335271;
  color: white;
  font-family: "Arial", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 48px;
  height: fit-content;
  padding: 0.25%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* Overwrite margin size */
.row {
  margin: 0;
}

.insured {
  width: 34%;
}

.policyNumber {
  white-space: nowrap;
  overflow: hidden;
  width: 12%;
}

.endorsement {
  width: 6%;
}

.effectiveDate {
  width: 10%;
  overflow: hidden;
}

.expirationDate {
  width: 10%;
  overflow: hidden;
}

.extensionDate {
  width: 10%;
  overflow: hidden;
}

.status {
  width: 18%;
}

h6{
  white-space: nowrap;
  min-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
