<div id="policyHeader">
  <div class="row">
    <div class="insured">
      <u><h6>Insured</h6></u>
      {{accountInfo.namedInsured}}
    </div>
    <div class="policyNumber">
      <u><h6>Policy Number</h6></u>
      {{policyInfo.policySymbol.trim()}} {{policyInfo.formattedPolicyNo}}
    </div>
    <div class="endorsement">
      <u><h6>Endt</h6></u>
      {{endorsementNumber}}
    </div>
    <div class="effectiveDate">
      <u><h6>Eff Date</h6></u>
      {{formatDateForDisplay.formatDateForDisplay(policyInfo.policyEffectiveDate) }}
    </div>
    <div class="expirationDate">
      <u><h6>Exp Date</h6></u>
      {{policyInfo.policyExpirationDate  | date:'MM/dd/YYYY'}}
    </div>
    <div class="extensionDate">
      <u><h6>Ext Date</h6></u>
      {{formatDateForDisplay.formatDateForDisplay(policyInfo.policyExtendedExpDate)}}
    </div>
    <div class="status">
      <u><h6>Status</h6></u>
      {{status}}
    </div>
  </div>
</div>
