#policyHeader {
  background-color: #335271;
  color: white;
  font-family: "Arial", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: absolute;
  height: 100%;
  z-index: 2;
  width: 100%;
  padding: 0.25%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.header-title {
  font-size: 0.9rem;
}
.header-field {
  font-size: 1.1rem;
  float: left;
  margin-left: 1rem;
}
/* Overwrite margin size */
.row {
  margin: 0;
  margin-top: 7px;
}
.header-row {
  white-space: nowrap;
}
.insured {
  min-width: 25%;
  width:auto;
  max-width: 50%;
}
.header-field-container{
  width:auto;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.policyNumber {

  max-width: 25%;
  min-width: 10%;

}

.effectiveDate {
  max-width:25%;
  min-width: 10%;
}

.extensionDate {
  min-width: 0;
  max-width: 17.5%;

}

.status {
  max-width: 20%;
  min-width: 0;
}

h6{
  white-space: nowrap;
  min-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
