<div id="policyHeader">
  <div class="row header-row">
    <div class="insured header-field-container">
      <span class="header-field">{{accountInfo.namedInsured || ''}}</span>
    </div>
    <div class="policyNumber header-field-container">
      <span class="header-field">{{policyInfo.policySymbol.trim()}} {{policyInfo.formattedPolicyNo}}:{{endorsementNumber}}</span>
    </div>

    <div class="effectiveDate header-field-container">
      <span class="header-field">{{formatDateForDisplay.formatDateForDisplay(policyInfo.policyEffectiveDate) }} - {{formatDateForDisplay.formatDateForDisplay(policyInfo.policyExpirationDate)}}</span>
    </div>
    <div class="extensionDate header-field-container" *ngIf="policyInfo.policyExtendedExpDate">
      <span class="header-field">Ext: {{formatDateForDisplay.formatDateForDisplay(policyInfo.policyExtendedExpDate)}}</span>
    </div>
    <div class="status header-field-container">
      <span class="header-field">{{status}}</span>
    </div>
  </div>
</div>
