<div class="navHolder"
[style.height.px]="headerPaddingService.navRoutingHeight$ | async"
[style.width.px]="headerPaddingService.totalBodyWidth$ | async"  >
  <div class="navToolbar"  >
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active'  [routerLink]="['submission']" >Submission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['information']">Property detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['mortgagee']">Mortgagee/Additional Interest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['premium']">Coverage Premium</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['conditions']">Terms and Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['summary']">Summary</a>
      </li>
    </ul>
  </div>
</div>
<div >
  <router-outlet></router-outlet>
</div>
