<div class="row" *ngIf="department" style="margin:0px;">
  <div class="col-lg-3 col-md-4">
    <label for="riskState"  class="form-label" title="Policy State">Policy State</label>
    <ng-select id="riskState" [items]="states$ | async" bindLabel="name" bindValue="code"
      [clearable]="false" [readonly]="department.programMappings[0].quoteData.riskState == ''" name="riskState"
      [required]="canEditSubmission" *ngIf="department.programMappings[0].quoteData" 
      [(ngModel)]="department.programMappings[0].quoteData.riskState" (ngModelChange)="changeState($event)"
       #riskState="ngModel" >
    </ng-select>
  </div>
  <div class="col-lg-4"></div>
  <div class="col-lg-2">
    <label for="riskState"  class="form-label" title="Policy State">Admitted Type</label>
    <ng-select
          id="admittedStatus"
          click-stop-propagation
          [items]="availableAdmittedOptions"
          bindLabel="description"
          bindValue="code"
          placeholder=""
          [readonly]="!canEditSubmission"
          [clearable]="false"
          name="admittedStatus"
          [(ngModel)]="department.activeAdmittedStatus"
          #admittedStatus="ngModel"
          (change)="updateGlobalSettings()"
        ></ng-select>
  </div>
  <div class="col-lg-2">
    <label for="riskState"  class="form-label" title="Policy State">Coverage Trigger</label>
    <ng-select
          id="claimsMadeOccurrenceStatus"
          click-stop-propagation
          [items]="availableClaimsMadeOccurrenceOptions"
          bindLabel="description"
          bindValue="code"
          placeholder=""
          [readonly]="!canEditSubmission"
          [clearable]="false"
          name="claimsMadeOccurrenceStatus"
          [(ngModel)]="department.activeClaimsMadeOrOccurrence"
          (change)="updateGlobalSettings()"
          #claimsMadeOccurrenceStatus="ngModel"
        ></ng-select>
  </div>
</div>
<form #quoteInfoForm="ngForm">
  <div class="card first-card">
    <div class="card-header" (click)="collapse.toggle()">
      Quote Details

      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="quoteInfoCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!quoteInfoCollapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="quoteInfoCollapsed">
      <rsps-quote-information-detail [department]="department"></rsps-quote-information-detail>
    </div>
  </div>
</form>


