<div class="row">
     <div class="col-lg-1">
        <label for="deductible" class="form-label" title="Deductible">Prem/Bldg</label>
    </div>
    <div class="col-lg-2">
        <label for="deductible" class="form-label" title="Deductible">Deductible</label>
    </div>
    <div class="col-lg-2">
        <label for="amount" class="form-label" title="Amount">Amount</label>
    </div>
    <div class="col-lg-2">
        <label for="deductibleType" class="form-label" title="Deductible Type">Deductible Type</label>
    </div>
    <div class="col-lg-2">
        <label for="deductibleCode" class="form-label" title="Deductible Code">Deductible Code</label>
    </div>
    <div class="col-lg-1">
        <label for="excluded" class="form-label" title="Excluded">Excluded</label>
    </div>
    <div class="col-lg-1">
        <label for="subjectToMin" class="form-label" title="Subject to Min">Subject to Min</label>
    </div>
</div>
<div *ngFor="let item of deductibles; let i = index">
    <rsps-property-deductible [index]="i" [programId]="programId" [deductible]=item [canEdit]=canEdit (copyDeductible)=copyDeductible($event)
        (deleteDeductible)=deleteDeductible($event) [readOnlyQuote]="readOnlyQuote">
    </rsps-property-deductible>

</div>
