  <!--Submission activity panel-->

  <div class="card">
    <div class="card-header" (click)="collapsed = !collapsed">Submission Activity
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse"   [(ngbCollapse)]="collapsed">
      <div  style="overflow-x: scroll">
        <table class="table table-striped table-bordered"
          *ngIf="submissionResults && submissionResults.length">
          <thead id="searchHeader">
            <tr>
              <th>Submission No</th>
              <th>Quote No</th>
              <th>Sub Date</th>
              <th>N/R</th>
              <th>Sub Status</th>
              <th>Profit Center</th>
              <th>Effective Date</th>
              <th>Expiration Date</th>
              <th>Cancel Date</th>
              <th>Policy No</th>
              <th>Producer Branch</th>
              <th>Underwriter</th>           
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of submissionResults; let i = index">
              <ng-container>
                <td><a [routerLink]="[]" (click)="routeToSubmission(submission.submissionNumber)">
                  <td>{{ submission.submissionNumber }}</td></a></td>
                <td>{{ submission.quoteNumber }}</td>
                <td>{{ submission.submissionDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{submission.renewalFlag}}</td>
                <td>{{ submission.submissionStatus}}</td>
                <td>{{submission.profitCenter}}</td>
                <td>{{submission.effectiveDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{submission.expirationDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{submission.cancelDate | date: 'MM/dd/yyyy'}}</td>
                <td><a [routerLink]="[]"(click)="search(submission.policyNo)">
                  <td>{{submission.policyNumber}}</td></a></td>
                <td>{{ submission.producerBranch}}</td>
                <td>{{ submission.underwriter}} </td>
                <td  class="overflow-hidden" id="actionCell">
                  <div ngbDropdown container="body" placement="bottom-end" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="action" ngbDropdownToggle>Actions</button>
                    <div ngbDropdownMenu container="body" aria-labelledby="action">
                      <button ngbDropdownItem class="btn btn-outline-primary" value="clone">Clone</button>
                      <button ngbDropdownItem class="btn btn-outline-primary" value="renew">Renew</button>
                      <button ngbDropdownItem class="btn btn-outline-primary" value="renew" (click)="markDeadDecline(submission.submissionNumber)">Mark Dead/Decline</button>
                    </div>
                  </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div id="searchFooter">
        <div *ngIf="canEditSubmission && checkIfHomeRoute()" style="float:left;"><a class="nav-link">Add Submission</a></div>
        <div style="float:right;">Results:{{submissionResults.length}}</div>
      </div>
    </div>