<div class="content">
  <ngb-alert *ngIf="showInvalid" type=danger (closed)="hideInvalid()" [dismissible]="true" [innerHTML]="invalidMessage"></ngb-alert>
  <rsps-endorsement-header></rsps-endorsement-header>
  <div >
    <button class="btn btn-sm btn-primary pull-right" [hidden]="!canEditPolicy" (click)="newLocation()">Add Location</button>
    <button class="btn btn-sm btn-primary pull-right" [hidden]="endorsementCoveragesGroups.length == 1" (click)="expandAllLocations()">Expand All</button>
    <button class="btn btn-sm btn-primary pull-right" [hidden]="endorsementCoveragesGroups.length == 1" (click)="collapseAllLocations()">Collapse All</button>
    <button class="btn btn-sm btn-primary pull-right" (click)="this.saveEndorsementCoverages()">Save</button>
  </div>

  <div *ngFor="let item of endorsementCoveragesGroups; index as i">
    <rsps-endorsement-coverage-location-group
    (incrementSequence)=onIncrement($event)
    (deleteThisGroup)=deleteGroup($event)
    [endorsementCoveragesGroup]=item
    [currentSequence]=coveragesSequence
    [locationIndex]="i"
    [groupCount]="endorsementCoveragesGroups.length"
    ></rsps-endorsement-coverage-location-group>
  </div>

</div>

<rsps-endorsement-coverage-location #modal></rsps-endorsement-coverage-location>
