<div class="card">
  <div class="card-header" (click)="collapse.toggle()">
    Overview
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
    <div class="card-body">
      <div class="row">
        <div class="grid-container">
          <rsps-quote-property-detail-left [quote]="quote" [buildings]="quote.propertyQuoteBuildingList"
            [limitTotal]="limitTotal" [largestTiv]="largestTiv" [largestExposure]="largestExposure"
            [lawLimits]="lawLimits" [subjectAmount]="subjectAmount" [canEdit]="canEdit">
          </rsps-quote-property-detail-left>
          <rsps-quote-property-detail-right [quote]="quote" [canEdit]="canEdit"></rsps-quote-property-detail-right>
        </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed"></div>
  </div>
</div>
