<div class="card-body">
    <div class="row">
      <div class="col-lg-4 panel-padding">
        <rsps-quote-property-detail-left [quote]="quote"  [buildings]="quote.propertyQuote.propertyQuoteBuilding" [canEdit]="canEdit"></rsps-quote-property-detail-left>
      </div>
      <div class="col-lg-4 panel-padding">
        <rsps-quote-property-detail-center [quote]="quote"  [canEdit]="canEdit"></rsps-quote-property-detail-center>
      </div>
      <div class="col-lg-4 panel-padding">
        <rsps-quote-property-detail-right [quote]="quote" [canEdit]="canEdit"></rsps-quote-property-detail-right>
      </div>
    </div>
  </div>