<!-- <rsps-submission-header></rsps-submission-header> -->
<div class="navToolbar">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['information']">Submission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['submissions']">Submission Activity</a>
    </li>
  </ul>
</div>
<div class='content-fluid'>
  <router-outlet></router-outlet>
  Submission works!

</div>
