
<div>
  <div>
    <label>Producer Contact</label>
      <input id="producer" type="text" class="form-control"
      [class.is-invalid]="searchFailed"
      [(ngModel)]="model"
      name="producer"
      #producer
      [required]="isRequired"
      (click)="producer.select()"
      [inputFormatter]="displayFormatter"
      [resultFormatter]="displayFormatter"
      [ngbTypeahead]="search"
      [readonly]="!canEdit"
      [disabled]="this.producerCode == null"
      (selectItem)="selectedProducerContact($event)"
      (focusout)="leaveSearchBar()"
      placement="bottom-start"
      placeholder="Producer search" />
  </div>
  <div *ngIf="canEdit && showContactMaintenance" class="card">
    <div class="card-header" (click)="collapse.toggle()">Producer Contact Maintenance
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="pcCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!pcCollapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="pcCollapsed">
      <div *ngFor="let producerContact of searchResponse; let i = index">
        <div class="row">
          <div class="col-lg-4" >
            {{producerContact.firstName + ' ' + producerContact.lastName}}
          </div >
          <div class="col-lg-4">
            {{producerContact.email}}
          </div>
          <div class="col-lg-2">
            {{producerContact.phone}}
          </div>
          <div class="col-lg-1">
            {{producerContact.isActive ? 'Active' : 'Inactive'}}
          </div>
          <div class="col-lg-1">
            <div ngbDropdown container="body" placement="bottom-end" class="d-inline-block">
              <button class="btn btn-outline-primary" id="action" ngbDropdownToggle></button>
              <div ngbDropdownMenu container="body" aria-labelledby="action">
                <button *ngIf="producerContact.isActive" ngbDropdownItem class="btn btn-outline-primary" (click)="selectedProducerContact(producerContact)" value="select">Select</button>
                <button *ngIf="producerContact.isActive" ngbDropdownItem class="btn btn-outline-primary" value="inactivate">Inactivate</button>
                <button *ngIf="!producerContact.isActive" ngbDropdownItem class="btn btn-outline-primary" value="activate">Activate</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div id="producerContactFooter">
        <button style="float:left; background:none; border:none;" class="underline"
          (click)="addNewProducerContact();">Add Producer Contact</button>
        <div style="float:right;">Producer Contacts: {{searchResponse.length}}</div>
      </div>
    </div>
  </div>
</div>
