ngb-typeahead-window {
  max-height: 200px !important;
  overflow-y: auto;
}

.search-box {
  position:relative;

}
.search-field{
  width:95%;
  display: inline-block;
}
.add-button {
  display: inline-block;
  width:5%;
}
.narrow {
  margin: 0;
}
