<div class='content-fluid'>
  <button class="btn btn-md btn-primary" (click)="saveInsured()">Save</button>
  <rsps-insured-account [insured]="insured"></rsps-insured-account>
  <button class="btn btn-md btn-primary" (click)="save()">Save</button>
  <rsps-shared-additional-named-insureds-group [aniData]="aniCoverageData" [newANI]="newCoverageANI">
  </rsps-shared-additional-named-insureds-group>
  <button class="btn btn-md btn-primary" (click)="saveInsured()">Save</button>
  <rsps-shared-additional-named-insureds-group [aniData]="aniInsuredData" [newANI]="newInsuredANI">
  </rsps-shared-additional-named-insureds-group>
</div>