<div *ngIf="isSaving">
  <div class="spinner-wrapper">
    <h3>
      <span class="badge rounded-pill">Refreshing...
        <div class="spinner-border small"></div>
      </span>
    </h3>
  </div>
</div>
<rsps-general-remarks-group *ngIf="quote" [type]="classType" [quote]="quote" [generalRemarks]="quote.generalRemarksData"
[submissionNumber]="quote.submissionNumber" [quoteNumber]="quote.quoteNumber"></rsps-general-remarks-group>
<rsps-warranties *ngIf="quote" [type]="classType" [quote]="quote" [warranties]="quote.warrantyData"
[submissionNumber]="quote.submissionNumber" [quoteNumber]="quote.quoteNumber"></rsps-warranties>
<rsps-subjectivities *ngIf="quote" [type]="classType" [quote]="quote" [subjectivities]="quote.subjectivityData"
[submissionNumber]="quote.submissionNumber" [quoteNumber]="quote.quoteNumber"></rsps-subjectivities>
<rsps-disclaimers *ngIf="quote" [type]="classType" [quote]="quote" [disclaimers]="quote.disclaimerData"
[submissionNumber]="quote.submissionNumber" [quoteNumber]="quote.quoteNumber"></rsps-disclaimers>

