<form #reinsuranceForm="ngForm">
  <div class="row container">
    <div class="col-lg-1">
      <label for="programId2">ProgramId</label>
      <input type="text" class="form-control" id="name" #programId2="ngModel" name="programId2" [(ngModel)]="programId">
    </div>
    <div class="col-lg-2">
      <label for="policyEffectiveDate">Effective Date</label>
      <input type="date" class="form-control" id="policyEffectiveDate" [ngModel]="effectiveDate   | date:'yyyy-MM-dd'"
        (ngModelChange)="effectiveDate=$event" name="policyEffectiveDate" #policyEffectiveDate="ngModel">
    </div>
  </div>
  <span class="btn btn-secondary" (click)=search() hover-class="btn-primary">search</span>
  <div class="row container">
    <div class="col-lg-1">
      <label for="policyLayer">Policy Layer</label>
      <input type="text" class="form-control" id="name" #layerNumber="ngModel" [readonly]="false" [required]="true"
        name="policyLayer" [(ngModel)]="reinsuranceLayer.policyLayer">
    </div>
  </div>
  <div class="row container">
    <div class="reinsuranceLayer">
      <label for="layerNumber">RLN</label>
    </div>
    <div class="attachmentPoint">
      <label for="attachmentPoint">Attachment Point</label>
    </div>
    <div class="reinsuranceLimits">
      <label for="reinsuranceLimits">Reinsurance Limits</label>
    </div>
    <div class="cededPremium">
      <label for="reinsuranceLimits">Ceded Premium</label>
    </div>
    <div class="commissionRate">
      <label for="commissionRate">Comm Rate</label>
    </div>
    <div class="reinsuranceCode">
      <label for="reinsuranceCode">Reinsurance Code</label>
    </div>
    <div class="isFaculative">
      <label for="isFaculative">Fac</label>
    </div>
    <div class="intermediary">
      <label for="intermediary">Intermediary</label>
    </div>
    <div class="certificatNumber">
      <label for="certificatNumber" [hidden]="!reinsuranceLayer.isFaculative">Certificate No</label>
    </div>
  </div>
  <div class="row container">
    <div class="reinsuranceLayer">
      <input type="text" class="form-control" id="name" #layerNumber="ngModel" [readonly]="false" [required]="true"
        name="layerNumber" [(ngModel)]="reinsuranceLayer.layerNumber">
    </div>
    <div class="attachmentPoint">
      <input type="text" class="form-control" id="name" #attachmentPoint="ngModel" name="attachmentPoint"
      [(ngModel)]="reinsuranceLayer.attachmentPoint" mask="separator.0" thousandSeparator="," >
    </div>
    <div class="reinsuranceLimits">
      <input type="text" class="form-control" id="name" #reinsuranceLimit="ngModel" [readonly]="false" [required]="true"
        name="reinsuranceLimits"[(ngModel)]="reinsuranceLayer.reinsuranceLimit" mask="separator.0" thousandSeparator="," >
    </div>
    <div class="cededPremium">
      <input type="text" class="form-control" id="name" #cededPremium="ngModel" [readonly]="false" [required]="true"
        name="cededPremium" [(ngModel)]="reinsuranceLayer.cededPremium" mask="separator.0" thousandSeparator="," >
    </div>
    <div class="commissionRate">
      <input type="text" class="form-control" id="name" #commissionRate="ngModel" [readonly]="false" [required]="true"
        name="commissionRate" [(ngModel)]="reinsuranceLayer.commissionRate" mask="percent" suffix="%">
    </div>
    <div class="reinsuranceCode">
      <ng-select id="reinsuranceCode" [items]="states$ | async" bindLabel="treatyName" bindValue="treatyNumber"
        [required]="true" [clearable]="false" name="reinsuranceCode" [(ngModel)]="reinsuranceLayer.treatyNumber"
        #locationState="ngModel" [searchFn]="dropDownSearchReinsurance" (change)="changeReinsurerCode()">
        <ng-template ng-label-tmp let-item="item">
          {{item.treatyNumber}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{item.treatyNumber}} - {{item.treatyName}}
        </ng-template>
      </ng-select>
      <!-- <input type="text" class="form-control" id="reinsuranceCode" #reinsuranceCode="ngModel" [readonly]="false"
        [required]="true" [hidden]="!reinsuranceLayer.isFaculative" name="reinsuranceCode"
        [(ngModel)]="reinsuranceLayer.treatyNumber"> -->
    </div>
    <div class="isFaculative">
      <input type="checkbox" id="isFaculative" [(ngModel)]="reinsuranceLayer.isFaculative" name="isFaculative"
        [readonly]="false" (change)="changeFaculative()">
    </div>
    <div class="intermediary">
      <input type="text" class="form-control" id="intermediary" #intermediary="ngModel" [readonly]="false"
        name="intermediary" [(ngModel)]="reinsuranceLayer.intermediary">
    </div>
    <div class="certificatNumber">
      <input type="text" class="form-control" id="certificatNumber" #certificatNumber="ngModel" [readonly]="false"
        [hidden]="!reinsuranceLayer.isFaculative" name="certificatNumber"
        [(ngModel)]="reinsuranceLayer.certificateNumber">
    </div>
  </div>
</form>
