<div id="quoteHeader" >
    <div class="row" >
      <div class="col-lg-2">&nbsp;</div>
      <div class="col-lg-4">
        <u>
          <div class="header-title">Quote</div>
        </u>
        <span class="header-field">{{quoteData.quoteId}}</span>
  
      </div>
      <div class="col-lg-4">
        <u>
          <div class="header-title">Submission</div>
        </u>
        <span class="header-field">{{quoteData.submissionNumber}}</span>
      </div>
      <div class="col-lg-2">&nbsp;</div>
    </div>
  </div>
  