<div class="component-row">
    <div [ngClass]="!building.isExpanded ? 'collapsed' : 'expanded'">
        <div (click)="collapseExpand(false)">
            <div class="row" *ngIf="!building.isExpanded">
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="subjectNumber" name="subjectNumber" maxInt mask="0*"
                        [(ngModel)]="building.subjectNumber" #subjectNumber="ngModel" [readonly]="!canEdit" autocomplete="off"
                        [required]="canEdit && building.subjectNumberRequired" [ngbTooltip]="building.subjectNumber?.toString()"
                        [openDelay]="1000" click-stop-propagation>
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="premisesNumber" name="premisesNumber" maxInt mask="0*"
                        [(ngModel)]="building.premisesNumber" #premisesNumber="ngModel" [readonly]="!canEdit" autocomplete="off"
                        [required]="canEdit && building.premisesNumberRequired" [ngbTooltip]="building.premisesNumber?.toString()"
                        [openDelay]="1000" click-stop-propagation>
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="buildingNumber" name="buildingNumber" maxInt mask="0*"
                        [(ngModel)]="building.buildingNumber" #buildingNumber="ngModel" [readonly]="!canEdit" autocomplete="off"
                        [required]="canEdit && building.buildingNumberRequired" [ngbTooltip]="building.buildingNumber?.toString()"
                        [openDelay]="1000" click-stop-propagation>
                </div>
                <div class="col-lg-8">
                    <input type="address" class="form-control" id="address" #address="ngModel" name="address" readonly autocomplete="off"
                        [ngClass]="addressReadOnly" [ngModel]="building.address" [ngbTooltip]="building.address"
                        [openDelay]="1000">
                </div>
                <div class="col-lg-1">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary" id="action" ngbDropdownToggle
                            click-stop-propagation>Actions</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="canEdit" (click)=copy() click-stop-propagation ngbDropdownItem>Copy</button>
                            <button *ngIf="!building.isNew && canEdit" hover-class="btn-danger"
                                (click)=openDeleteConfirmation() click-stop-propagation ngbDropdownItem>Delete</button>
                            <button *ngIf="building.isNew && canEdit" hover-class="btn-warning"
                                (click)=openDeleteConfirmation() click-stop-propagation ngbDropdownItem>Remove</button>
                            <button *ngIf="canEdit" (click)=add() click-stop-propagation
                                ngbDropdownItem>Add Coverage</button>
                            <button (click)=filter() click-stop-propagation
                                ngbDropdownItem>Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="!building.isExpanded">
            <div class="row">
                <div class="col-lg-1">
                    <label for="subjectNumber" class="form-label" title="Subject #">Subject #</label>
                    <input type="text" class="form-control" id="subjectNumber" name="subjectNumber" maxInt mask="0*"
                        [(ngModel)]="building.subjectNumber" #subjectNumber="ngModel" [readonly]="!canEdit"
                        [required]="canEdit && building.subjectNumberRequired" click-stop-propagation
                        ngbTooltip="Subject #" [openDelay]="1000">
                </div>
                <div class="col-lg-1">
                    <label for="locationNumber" class="form-label" title="Premises #">Premises #</label>
                    <input type="text" class="form-control" id="locationNumber" name="locationNumber" maxInt mask="0*"
                        [(ngModel)]="building.premisesNumber" #locationNumber="ngModel" [readonly]="!canEdit"
                        [required]="building.premisesNumberRequired" click-stop-propagation>
                </div>
                <div class="col-lg-1">
                    <label for="buildingNumber" class="form-label" title="Building #">Building #</label>
                    <input type="text" class="form-control" id="buildingNumber" name="buildingNumber" maxInt mask="0*"
                        [(ngModel)]="building.buildingNumber" #buildingNumber="ngModel" [readonly]="!canEdit"
                        [required]="building.buildingNumberRequired" click-stop-propagation>
                </div>
                <div class="col-lg-4">
                    <label for="street1" class="form-label" title="Street Address 1">Street Address 1</label>
                    <input type="text" class="form-control" id="street1" name="street1" [readonly]="!canEdit" maxlength="40"
                        [required]="building.street1Required" [(ngModel)]="building.street1" #street1="ngModel">
                </div>
                <div class="col-lg-4">
                    <label for="street2" class="form-label" title="Street Address 2">Street Address 2</label>
                    <input type="text" class="form-control" id="street2" name="street2" [readonly]="!canEdit" maxlength="40"
                        [(ngModel)]="building.street2" #street2="ngModel">
                </div>
            </div>
            <div class="empty-row"></div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="zip" class="form-label" title="Zip Code">Zip Code</label>
                    <div class="inputspinner">
                        <input type="text" zip-code class="form-control" id="zipCode"
                            [readonly]="!canEdit || building.zipReadonly" [required]="canEdit && building.zipRequired"
                            [(ngModel)]="building.zip" name="zipCode" #zip="ngModel" (ngModelChange)="changeZipCode()">
                        <div *ngIf="building.isZipLookup" id="spinner" class="spinner-border spinner-border-sm"
                            role="zipCode" aria-hidden="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label for="city" class="form-label" title="City">City</label>
                    <div class="inputspinner">
                        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="building.city"
                            [readonly]="!canEdit || building.cityReadonly" [required]="canEdit && building.cityRequired"
                            maxlength="25" #city="ngModel">
                        <div *ngIf="building.isZipLookup" id="spinner" class="spinner-border spinner-border-sm"
                            role="status" aria-hidden="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label for="state" class="form-label" title="Status">State</label>
                    <div class="inputspinner">
                        <ng-select id="state" [items]="states$ | async" bindLabel="name" bindValue="code"
                            [clearable]="false" [readonly]="!canEdit || building.stateReadonly"
                            [required]="canEdit && building.stateRequired" name="state" [(ngModel)]="building.state"
                            #state="ngModel" (change)="changeState($event)">
                        </ng-select>
                        <div *ngIf="building.isZipLookup" id="spinner" class="spinner-border spinner-border-sm"
                            role="status" aria-hidden="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="description" class="form-label" title="Property Description">Property
                        Description</label>
                    <input type="text" class="form-control" id="description" name="description" [readonly]="!canEdit" maxlength="250"
                        [(ngModel)]="building.description" #description="ngModel">
                </div>
            </div>
            <div class="empty-row"></div>
            <div class="row">
                <div class="col-lg-5">
                    <label for="cspCode" class="form-label" title=">CSP Code">CSP Code</label>
                    <ng-select id="cspCode" [items]="cspCodes$ | async" bindLabel="description" bindValue="code"
                        name="cspCode" click-stop-propagation [readonly]="!canEdit" [clearable]="false" [required]="canEdit"
                        [(ngModel)]="building.cspCode" [searchFn]="dropDownSearch" #cspCode="ngModel" [virtualScroll]="true">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.code}} - {{item.description}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                            {{item.code}} - {{item.description}}
                        </ng-template>
                    </ng-select>
                </div>
                <div class="col-lg-4">
                    <label for="occupancy" class="form-label" title="Occupancy">Occupancy</label>
                    <input type="text" class="form-control" id="occupancy" name="occupancy" [readonly]="!canEdit" maxlength="250"
                        [(ngModel)]="building.occupancy" #occupancy="ngModel">
                </div>
                <div class="col-lg-3">
                    <label for="construction" class="form-label" title="Construction">Construction</label>
                    <input type="text" class="form-control" id="construction" name="construction" [readonly]="!canEdit" maxlength="250"
                        [(ngModel)]="building.construction" #construction="ngModel">
                </div>
            </div>
            <div class="empty-row"></div>
            <div class="row">
                <div class="col-lg-1">
                    <label for="yearBuilt" class="form-label-wrap" title="Year Built">Year Built</label>
                </div>
                <div class="col-lg-1">
                    <label for="gutRehab" class="form-label-wrap" title="Year Gut Rehab">Year Gut Rehab</label>
                </div>
                <div class="col-lg-1">
                    <label for="squareFeet" class="fform-label-wrap" title="Square Feet">Sq. Ft</label>
                </div>
                <div class="col-lg-1">
                    <label for="itv" class="form-label-wrap" title="ITV">ITV</label>
                </div>
                <div class="col-lg-1">
                    <label for="stories" class="form-label-wrap" title="Stories">Stories</label>
                </div>
                <div class="col-lg-1">
                    <label for="sprinklered" class="form-label-wrap" title="Sprinkler %">Sprinkler %</label>
                </div>
                <div class="col-lg-1">
                    <label for="protectionClass" class="form-label-wrap" title="Protection Class">Protection Class</label>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-4">
                    <div class="row" style="padding-right: 12px;padding-left: 10px;">
                        <div class="col-lg-12" style="border-bottom: 2px solid black;">
                            <label for="roof" style="text-align: center;" class="form-label" title="Yr. Roof">LATEST
                                UPDATES (YEAR)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="roof" class="form-label" title="Roof">Roof</label>
                        </div>
                        <div class="col-lg-3">
                            <label for="wiring" class="form-label" title="Wiring">Wiring</label>
                        </div>
                        <div class="col-lg-3">
                            <label for="plumbing" class="form-label" title="Plumbing">Plumbing</label>
                        </div>
                        <div class="col-lg-3">
                            <label for="hvac" class="form-label" title="HVAC">HVAC</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="yearBuilt" name="yearBuilt" [readonly]="!canEdit"
                        mask="0000" [(ngModel)]="building.yearBuilt" #yearBuilt="ngModel">
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="gutRehab" name="gutRehab" [readonly]="!canEdit"
                        mask="0000" [(ngModel)]="building.gutRehab" #gutRehab="ngModel">
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="squareFeet" name="squareFeet" [readonly]="!canEdit"
                        string-to-currency [allowNegative]="false" [(ngModel)]="building.squareFeet"
                        #squareFeet="ngModel">
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control right" id="itv" name="itv" readonly string-to-currency
                        [(ngModel)]="building.itv" #itv="ngModel">
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="stories" name="stories" [readonly]="!canEdit" maxInt mask="0*"
                        [(ngModel)]="building.stories" #stories="ngModel">
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control right" id="sprinklered" name="sprinklered"
                        [readonly]="!canEdit" mask="separator.0" suffix="%" nullValue
                        [(ngModel)]="building.sprinklered" #sprinklered="ngModel">
                </div>
                <div class="col-lg-1">
                    <ng-select id="protectionClass" [items]="protectionClassList" [readonly]="!canEdit"
                        name="protectionClass" [(ngModel)]="building.protectionClass" #protectionClass="ngModel">
                    </ng-select>
                </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1">
                <input type="text" class="form-control" id="roof" name="roof" [readonly]="!canEdit" mask="0000"
                    [(ngModel)]="building.roof" #roof="ngModel">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" id="wiring" name="wiring" [readonly]="!canEdit" mask="0000"
                    [(ngModel)]="building.wiring" #wiring="ngModel">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" id="plumbing" name="plumbing" [readonly]="!canEdit" mask="0000"
                    [(ngModel)]="building.plumbing" #plumbing="ngModel">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" id="hvac" name="hvac" [readonly]="!canEdit" mask="0000"
                    [(ngModel)]="building.hvac" #hvac="ngModel">
            </div>
        </div>
        <div class="empty-row"></div>
        <div class="row">
            <div class="col-lg-12">
                <button *ngIf="canEdit" class="btn btn-secondary" (click)=copy() hover-class="btn-primary">Copy</button>
                <button *ngIf="!building.isNew && canEdit" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
                    hover-class="btn-danger">Delete</button>
                <button *ngIf="building.isNew && canEdit" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
                    hover-class="btn-warning">Remove</button>
                <button *ngIf="canEdit" class="btn btn-secondary margin-left" (click)=add()
                    hover-class="btn-success">Add Coverage</button>
                <button class="btn btn-secondary margin-left" (click)=filterExpand()
                    hover-class="btn-primary">Filter</button>
            </div>
        </div>
        <div [id]='anchorId'></div>
        <button *ngIf="building.isExpanded" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse"
            [openDelay]="1000">
            <fa-icon [icon]="faAngleUp"></fa-icon>
        </button>
    </div>
</div>
</div>