.form-label {
   /* overflow: hidden;  */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

.right {
  text-align: right;
}

.expanded {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  margin-left: -6px;
  margin-right: -6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  padding-bottom: 25px;
  border-radius: 8px;
  background-color: whitesmoke;
  cursor: default;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.collapsed {
  position: relative;
  cursor: row-resize;
}

.collapse-bar {
  background: none;
  padding: 0;
  margin-left: -1px !important;
  margin-bottom: -1px;
  color: #00274e;
  text-align: center;
  cursor: pointer;
  background-color: #e6e9ed;
  border: 1px solid grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: calc(100% + 2px);
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.collapse-bar:hover {
  background-color: #ccd4dc;
}

.margin-left {
  margin-left: 5px;
}

.inputspinner {
  position: relative;
}

#spinner {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.address-valid {
  background-color: white;
  cursor: row-resize;
  border-left: 5px solid #42a948;
}

.address-invalid {
  background-color: white;
  cursor: row-resize;
  border-left: 5px solid #a94442;
}

#action {
  height: fit-content;
  width: fit-content;
  color: black;
  border-color: black;
  background-color: rgb(235, 230, 230);
}