
<ngb-alert *ngIf="showInvalid" type=danger (closed)="hideInvalid()" [dismissible]="true" [innerHTML]="invalidMessage">
</ngb-alert>
<rsps-insured-account [insured]="insured"></rsps-insured-account>
<rsps-insured-contact-group [insuredContacts]="insured.contacts">
</rsps-insured-contact-group>
<rsps-shared-additional-named-insureds-group [aniData]="insured.additionalNamedInsureds" [newANI]="newInsuredANI"
  [canEdit]="canEditInsured">
</rsps-shared-additional-named-insureds-group>

<div *ngIf="showBusy">
  <rsps-busy></rsps-busy>
</div>
