.nav-link {
  cursor: pointer;
  color: white;
  width: 200px;
  background-color: #335271;
  text-decoration: none;
  padding-right: 0;
  padding-left: 10px;
  margin: 2px;
  border-radius: 16px;
}

.sidebar a:hover {
  text-decoration: none;
  color: black;
  background-color: white; 
  font-weight: bold;
}