.card-header {
    color: white;
    background-color: #00274e;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}
.button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .button:hover{
      color: blue;
  }
  .collapse.show{
    background-color: white;
}
  
  a:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .underline:hover {
    text-decoration: underline;
  }
  
  #aniFooter {
    font-weight: bold;
    text-align: center;
  }
  




/* 
  .wrapper {
    margin: 25px auto;
    max-width: 600px;
    text-align: center;
    padding: 0 20px;
  }
  .container {
    width: 45%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  .drag-list {
    width: 80%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: inline-block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 25px;
  } */
  /* .drag-block {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }   */

  .drag-block {
    /* box-sizing: border-box; */
    /* cursor: move; */
    /* background: white; */
  }  

  /* .cdk-drag-preview {
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .drag-block:last-child {
    border: none;
  }
  .drag-list.cdk-drop-list-dragging .drag-block:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  } */

  /* .example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }
   */

   /* .cdk-drag-handle {
    width: 100%;
    height: 20px ;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    cursor: move;
  } */
/* 
  .cdk-drag-handle {
    top: 10px;
    right: 10px;
     width: 24px;
    height: 24px;
    position: relative;
    z-index: 100;
    background-color: transparent;
    cursor: move;
  } */