<ng-template #modalPipe let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street" [readonly]="isReadOnly"
        [(ngModel)]="location.street" name="street" #street="ngModel">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>