<div class="panel">

    <div class="empty-row"></div>
    <div class="col-lg-12">
        <label for="csp" class="form-label" title="CSP">CSP</label>

    </div>
    <div class="col-lg-12">
        <ng-select id="cspCode" [items]="cspCodes$ | async" bindLabel="description" bindValue="key" validate-on-change

            [readonly]="!canEdit || quote.readOnlyQuote" name="cspCode" [(ngModel)]="quote.classCode" [loading]="loadingCsp" [required]="canEdit && !quote.readOnlyQuote"
            loadingText="Loading..." [searchFn]="dropDownSearch" #csp="ngModel" (ngModelChange)="changeCspCode($event)"
            [virtualScroll]="true">
            <ng-template ng-label-tmp let-item="item">
                {{item.code}} - {{item.description}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
            </ng-template>
        </ng-select>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="riskDescription" class="panel-header" title="riskDescription">Risk Description</label>
            <textarea type="text" class="form-control" id="description" maxlength="255" name="riskDescription" validate-on-change
                [(ngModel)]="quote.riskDescription" #riskDescription="ngModel"></textarea>
        </div>
    </div>

</div>
