<div class="row">
  <div class="col-lg-2">
    <label for="limit">Limit</label><br>
    <input type="text" class="form-control" id="limit" [required]="canEditPremium" [readonly]="!canEditPremium" string-to-currency
    [(ngModel)]="endorsement.limit" mask="separator.0" thousandSeparator="," name="limit" #limit="ngModel">
  </div>
  <div class="col-lg-2">
    <label for="premium">Premium</label><br>
    <input type="text" style="text-align: right" class="form-control"
      value="{{endorsement.premium  | currency: 'USD' : 'symbol':'1.0-0' }}" [readonly]="true">
  </div>
</div>
<br>