<div  class="policy-layer-header">
    <div class="row">
        <div class="col-lg-2">
            <label  for="premium"  >Limit</label><br>
                <input type="text" class="form-control"  value="{{endorsement.limit  | currency: 'USD' : 'symbol':'1.0-0' }}" [readonly]="true">
            </div>
        <div class="col-lg-2">
            <label for="premium">Premium</label><br>
                <input type="text"  style="text-align: right" class="form-control"  value="{{endorsement.premium  | currency: 'USD' : 'symbol':'1.0-0' }}" [readonly]="true">
        </div>
    </div>