<div class="header-container container-fluid"
[style.height.px]="headerPaddingService.headerPadding$ | async"
*ngIf="{value: pageDataService.noData$ | async} as context">
  <div id="header" >
    <a class="banner-label" *ngIf="context.value" routerLinkActive='active' routerLink='/home'>
      {{title}}
    </a>
  </div>

  <rsps-user></rsps-user>
  <div class="status-bar-container" >
    <rsps-status-bar></rsps-status-bar>
  </div>
  {{context.value}}
</div>
<rsps-navigation></rsps-navigation>

<body [style.padding-left.px]="headerPaddingService.sidebarPadding$ | async">
  <router-outlet></router-outlet>
</body>
<div class='footer'>
  <rsps-version></rsps-version>
</div>
<app-notification aria-live="polite" aria-atomic="true"></app-notification>
<div *ngIf="loading">
  <rsps-busy></rsps-busy>
</div>
