
  #header {
    background-color: #001f3e;
    color:white;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 'medium';
    font-size: 32px;
    text-align: center;
    position: fixed;
    z-index: 2;
  }

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Arial','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f2f4f6;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: #f1f1f1; */
  background-color: #00274e;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* background-image:  url("../assets/images/ga-rs-image.JPG"); */
  background-repeat: no-repeat;
  background-size: 200px 845px;
  z-index: 2;
}

.sidebar a {
  display: block;
  color:white; 
  padding: 12px;
  text-decoration: none;
}
 
.sidebar a.active {
  color: white;
}

.sidebar a:hover:not(.active) {
  color: white;
}

div.content {
  margin-left: 100px;
  padding: 75px 75px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;
    padding: 75px 75px;
}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  div.content {margin-left: 0;
    padding: 75px 75px;
}
}


  .footer
  {
    background-color: #001f3e;
    color:white;
    font-family: 'Arial','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /* margin-top:495px; */
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-link{
    cursor: pointer;
  }
  
