

<div class="card">
    <div class="card-header" (click)="collapse.toggle()">
     Additional Interest
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
      <div class="card-body" *ngIf="quoteData.length > 0">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
          <div  *ngFor="let item of quoteData; let i = index">
          <rsps-additional-interest (copyExisitingAdditionalInterest)=copyExisitingAdditionalInterest($event) (deleteExistingAdditionalInterest)=deleteExistingAdditionalInterest($event)
          [ai]=quoteData [aiData]=item ></rsps-additional-interest>
          </div>
      </div>
      </div>
    </div>
    <div class="card-footer">
      <div id="mortgageeFooter">
        <button style="float:left; background:none; border:none;" class="underline"
          (click)="addNewAdditionalInterest();">Add Additional Interest</button>
      </div>
    </div>
  </div>
  
  