<div class="card">
  <div class="card-header" (click)="collapse.toggle()">
    Additional Interest
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
    <mat-slide-toggle style="float: right;padding-right: 15px;" click-stop-propagation *ngIf="aiData.length > 1"
      [color]="color" [(ngModel)]="canDrag" (change)="toggleDragDrop()">
      Sort: {{canDrag ? 'On' : 'Off'}}
    </mat-slide-toggle>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
    <div class="card-body" *ngIf="aiData.length > 0">
      <div class="row">
        <div class="col-sm-1">
          <label for="address">Apply to all:</label>
        </div>
        <div class="col-sm-1">
          <label for="address">Location #:</label>
        </div>
        <div class="col-sm-1">
          <label for="address">Building #:</label>
        </div>
        <div class="col-sm-1">
          <label for="address">Address:</label>
        </div>
      </div>
      <div cdkDropList class="drag-list" [cdkDropListDisabled]="!canDrag" (cdkDropListDropped)="drop($event)">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
          <div class="drag-block" [ngClass]="dragDropClass" cdkDrag  *ngFor="let item of aiData; let i = index">
            <rsps-additional-interest (copyExisitingAdditionalInterest)=copyExisitingAdditionalInterest($event)
              (deleteExistingAdditionalInterest)=deleteExistingAdditionalInterest($event) [ai]=aiData [aiData]=item>
            </rsps-additional-interest>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div id="mortgageeFooter">
      <button style="float:left; background:none; border:none;" class="underline"
        (click)="addNewAdditionalInterest();">Add Additional Interest</button>
    </div>
  </div>
</div>