<div class="card">
  <div class="card-header" (click)="collapse.toggle()">
    Optional Premium
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>

  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
    <div class="card-body" *ngIf="optionalPremiumData.length > 0">
      <div class="row">
        <div class="col-sm-1">
          <label for="premBuilding">Prem/Bldg</label>
        </div>
        <div class="col-sm-3">
          <label for="coverages">Optional Coverages / Sublimits</label>
        </div>
        <div class="col-sm-2">
          <label for="limit">Limit</label>
        </div>
        <div class="col-sm-2">
          <label for="addPremium">Additional Premium</label>
        </div>
      </div>
      <div *ngFor="let item of optionalPremiumData; let i = index">
        <rsps-optional-premium (copyExisitingOptionalPremium)=copyOptionalPremium($event) [type]="type"
          (deleteExistingOptionalPremium)=deleteExistingOptionalPremium($event)  [optionalPremiumData]=item>
        </rsps-optional-premium>
      </div>
    </div>
  <div class="card-footer">
    <div id="mortgageeFooter">
      <button style="float:left; background:none; border:none;" class="underline" (click)="addNewOptionalPremium();">Add
        Optional Premium</button>
    </div>
  </div>
</div>
