<form #ucForm="ngForm">
  <!-- <div class="row container">
    <div class="col-lg-3">
      <label for="address" *ngIf="index==0">Role</label>
    </div>
    <div class="col-lg-4">
      <label for="createDate">Additional Named Insured</label>
    </div>
    <div class="col-lg-2">
      <label for="createDate">Create Date</label>
    </div>
  </div> -->
  <div class="card-body" [ngClass]="{'expanded':!ucdCollapsed}">
    <div class="row container" style="padding-top: 10px; width: 100%" (click)="collapseExpand(false)">
      <div class="col-lg-2">
        <div>Coverage Type</div>
        <ng-select id="primaryCoverageCode" click-stop-propagation [items]="coverageTypes$ | async" bindLabel="description" bindValue="key" placeholder=""
        [clearable]="false" [readonly]="!canEdit" [required]="canEdit" name="primaryCoverageCode"
        [(ngModel)]="ucData.primaryCoverageCode" #limitsPattern="ngModel"  (change)="updateCoverageType()">
      </ng-select>
      </div>
      <div class="col-lg-2">
        <div>Carrier</div>
        <input type="text" click-stop-propagation class="form-control" id="name" #name="ngModel" [readonly]="!canEdit" maxlength="79"
          name="name" [(ngModel)]="ucData.carrierName" >
      </div>
      <div class="col-lg-3">
        <div>Limits {{userAddedCount > 0 ? '+ ' + userAddedCount : ''}}</div>
        <input click-stop-propagation type="text" class="form-control" id="limitsPattern" #limitsPattern="ngModel" [readonly]="!canEdit" maxlength="79"
          [required]="canEdit" name="limitsPattern" [(ngModel)]="ucData.limitsPattern" (change)="updateLimitBasisData()">
          <div [hidden]="isLimitsPatternValid" class="alert alert-danger">
            Invalid Pattern
          </div>
      </div>
      <div class="col-lg-4">
        <div>Limits Pattern</div>
        <ng-select click-stop-propagation *ngIf="!isAPPolicy" id="limitsPatternGroupCode" [items]="this.allLimitsPatternDescription" bindLabel="description" bindValue="key" placeholder=""
          [clearable]="false" [readonly]="!canEditPolicy" [required]="canEdit && !isAPPolicy" name="limitsPatternGroupCode"
          [(ngModel)]="ucData.limitsPatternGroupCode" #limitsPatternGroupCode="ngModel"  (change)="updateLimitsPatternGroupCode()">
        </ng-select>
        <div *ngIf="isAPPolicy">{{this.limitedLimitsPatternString}}</div>
      </div>
    </div>

  <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="ucdCollapsed">
    <div class="row container" style="width: 100%" >
      <div class="col-lg-2">
        <div>Policy Number</div>
        <input type="text" class="form-control" id="name" #name="ngModel" [readonly]="!canEdit" maxlength="79"
           name="policyNumber" [(ngModel)]="ucData.policyNumber" >
      </div>

      <div class="col-lg-2">
        <label for="effectiveDate">Policy Effective Date</label>

        <input style="display: inline-block; max-width: 75%;" matInput [matDatepicker]="effectiveDateCalendar"
          class="form-control" [disabled]="!canEdit" [ngModel]="ucData.effectiveDate"
          (ngModelChange)="ucData.effectiveDate=$event" name="effectiveDate" #effectiveDate="ngModel">
        <mat-datepicker-toggle matSuffix style="display: inline-block;" [for]="effectiveDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #effectiveDateCalendar></mat-datepicker>
      </div>
      <div class="col-lg-2">
        <label for="expirationDate">Policy Expiration Date</label>

        <input style="display: inline-block; max-width: 75%;" matInput [matDatepicker]="expirationDateCalendar"
          class="form-control" [disabled]="!canEdit" [ngModel]="ucData.expirationDate"
          (ngModelChange)="ucData.expirationDate=$event" name="expirationDate" #expirationDate="ngModel">
        <mat-datepicker-toggle matSuffix style="display: inline-block;" [for]="expirationDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #expirationDateCalendar></mat-datepicker>
      </div>
      <div class="col-lg-2">
        <label for="retroDate">Retro Date</label>

        <input style="display: inline-block; max-width: 75%;" matInput [matDatepicker]="retroDateCalendar"
          class="form-control" [disabled]="!canEdit" [ngModel]="ucData.retroDate"
          (ngModelChange)="ucData.retroDate=$event" name="retroDate" #retroDate="ngModel">
        <mat-datepicker-toggle matSuffix style="display: inline-block;" [for]="retroDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #retroDateCalendar></mat-datepicker>
      </div>
    </div>
    <div><button style="background:none; border:none;" class="underline" (click)="ucbCollapsed = !ucbCollapsed;">{{ucbCollapsed == true ? 'Show Limit Basis Detail' : 'Hide Limit Basis Detail'}}</button></div>
    <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="ucbCollapsed">
      <div class="row container" style="padding-top: 10px; width: 100%">
        <div *ngFor="let item of ucData.underlyingScheduleLimitData; let i = index">
          <rsps-underlying-coverage-limit-basis
          (onLimitChange)="updateLimitsPattern()"
          (deleteThisLimit)=deleteUserAddedLimit($event)
          [ucLimit]=item>
          </rsps-underlying-coverage-limit-basis>
        </div>
      </div>
      <button style="float:left; background:none; border:none;" class="underline" *ngIf="canEdit" (click)="addUserDefinedLimitBasis()">Add Limit</button>
    </div>
    <div class="empty-space"></div>
  <div class="row container">
    <div class="col-lg-2">
      <span class="btn btn-secondary" (click)=deleteThisUnderlyingCoverage() hover-class="btn-danger"
        *ngIf="!ucData.isNew">Delete</span>
      <span class="btn btn-secondary" (click)=deleteThisUnderlyingCoverage() hover-class="btn-warning"
        *ngIf="ucData.isNew">Remove</span>
    </div>
    <span class='astext' (click)="collapseExpand(true)">
      <fa-icon [icon]="faArrowUp" ></fa-icon>
    </span>
  </div>
</div>
  </div>


</form>
