.row {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;  
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.reinsuranceLayer {
  width: 6%;
}

.attachmentPoint {
  width: 12%;
}

.reinsuranceLimits {
  width: 13%;
}

.cededPremium {
  width: 13%;
}

.commissionRate {
  width: 10%;
}

.reinsuranceCode {
  width: 12%;
}

.isFaculative {
  width: 3%;
}

.intermediary {
  width: 12%;
}

.certificatNumber {
  width: 12%;
}
.delete{
  width:7%;  
}

.row{
  padding-bottom: 2px;
}
