<form #accountInfoForm="ngForm">
  <div class="card">
    <div class="card-header" (click)="collapse.toggle()">
      Insured Account
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="accountCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!accountCollapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="accountCollapsed">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <label for="sicCode" class="form-label" title="SIC Code">SIC Code</label>
            <ng-select id="sicCode" [items]="sicCodes$ | async" bindLabel="description" bindValue="code"
              [readonly]="!canEditInsured" name="sicCode" [(ngModel)]="insured.sicCode" [loading]="loadingSic"
              loadingText="Loading..." [searchFn]="dropDownSearch"
              #sicCode="ngModel" (change)="changeSicCode()" [virtualScroll]="true">
              <ng-template ng-label-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6">
            <label for="naics" class="form-label" title="NAICS">NAICS</label>
            <ng-select id="naics" [items]="naicsCodes$ | async" bindLabel="description" bindValue="code"
              [readonly]="!canEditInsured" name="naics" [(ngModel)]="insured.naicsCode" [loading]="loadingNaics"
              loadingText="Loading..." #naics="ngModel">
              <ng-template ng-label-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="grid-container top-bordered">
            <rsps-insured-account-address [insured]="insured"></rsps-insured-account-address>
            <rsps-insured-account-center [insured]="insured"></rsps-insured-account-center>
            <rsps-insured-account-right [insured]="insured"></rsps-insured-account-right>
      </div>
    </div>
  </div>
</form>
