<div class="card">
  <div class="card-header" (click)="collapse.toggle()">
    Insured Account
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="accountCollapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!accountCollapsed"></fa-icon>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="accountCollapsed">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2">
          <label for="insuredCode" class="form-label" title="Insured Code">Insured Code</label>
          <input type="text" class="form-control" id="insuredCode" [ngModel]="insured.insuredCode" name="insuredCode"
            readonly #insuredCode="ngModel">
        </div>
        <div class="col-lg-1">
          <label for="override" class="form-label" title="Override">Override</label>
          <input type="checkbox" class="form-checkbox" id="override" [(ngModel)]="insured.addressOveridden"
            name="override" [readonly]="isReadOnly">
        </div>
        <div class="col-lg-1">
          <button class="btn btn-md btn-primary" (click)="verify()">Verify</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <label for="namedInsured" class="form-label" title="First Named Insured">First Named Insured</label>
          <input type="text" class="form-control" id="namedInsured" [readonly]="isReadOnly" [ngModel]="insured.name"
            name="namedInsured" #namedInsured="ngModel">
        </div>
        <div class="col-lg-4">
          <label for="formerName" class="form-label" title="Former Name">Former Name</label>
          <input type="text" class="form-control" id="formerName" [readonly]="isReadOnly" [ngModel]="insured.formerName"
            name="formerName" #formerName="ngModel">
        </div>
        <div class="col-lg-4">
          <label for="contactName" class="form-label" title="Contact Name">Contact Name</label>
          <input type="text" class="form-control" id="contactName" [readonly]="isReadOnly"
            [(ngModel)]="insured.contactName" name="contactName" #contactName="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <label for="street1" class="form-label" title="Street Address">Street Address</label>
          <input type="text" class="form-control" id="street1" [readonly]="isReadOnly" name="street1"
            [(ngModel)]="insured.street1" #street1="ngModel">
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <label for="email" class="form-label" title="Email">Email</label>
          <input type="text" class="form-control" id="email" [readonly]="isReadOnly" name="email"
            [(ngModel)]="insured.email" #email="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <label for="street2" class="form-label" title="Apt/Suit/Floor">Apt/Suit/Floor</label>
          <input type="text" class="form-control" id="street2" [readonly]="isReadOnly" name="street2"
            [(ngModel)]="insured.street2" #street2="ngModel">
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">
          <label for="phone" class="form-label" title="Phone">Phone</label>
          <input type="text" class="form-control" id="phone" [readonly]="isReadOnly" name="phone"
            [(ngModel)]="insured.contactPhone" #phone="ngModel">
        </div>
        <div class="col-lg-2">
          <label for="fax" class="form-label" title="Fax">Fax</label>
          <input type="text" class="form-control" id="fax" [readonly]="isReadOnly" name="fax"
            [(ngModel)]="insured.contactFax" #fax="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <label for="street2" class="form-label" title="Apt/Suit/Floor">City</label>
          <input type="text" class="form-control" id="street2" [readonly]="isReadOnly" name="street2"
            [(ngModel)]="insured.street2" #street2="ngModel">
        </div>
        <div class="col-lg-2">
          <label for="State" class="form-label" title="State">State</label>
          <ng-select id="locationState" [items]="states$ | async" bindLabel="description" bindValue="code"
            [clearable]="false" [readonly]="isReadOnly" name="state" [(ngModel)]="insured.state" #state="ngModel">
          </ng-select>
        </div>
        <div class="col-lg-2">
          <label for="zip" class="form-label" title="ZipCode">Zipcode</label>
          <input type="text" class="form-control" id="zip" [readonly]="isReadOnly" name="zip"
            [(ngModel)]="insured.contactFax" #zip="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <label for="county" class="form-label" title="County">County</label>
          <input type="text" class="form-control" id="county" [readonly]="isReadOnly" name="county"
            [(ngModel)]="insured.county" #county="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <label for="country" class="form-label" title="Country">Country</label>
          <ng-select id="locationState" [items]="countries$ | async" bindLabel="description" bindValue="code"
          [clearable]="false" [readonly]="isReadOnly" name="country" [(ngModel)]="insured.country" #state="ngModel">
        </ng-select>
        </div>
      </div>
    </div>
  </div>
