<form #accountInfoForm="ngForm">
  <div class="card">
    <div class="card-header" (click)="collapse.toggle()">
      Insured Account
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="accountCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!accountCollapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="accountCollapsed">
      <div class="card-body" id="card-header">
        <div class="row">
          <div class="col-lg-6">
            <label for="sicCode" class="form-label" title="SIC Code">SIC Code</label>
            <ng-select id="sicCode" [items]="sicCodes$ | async" bindLabel="description" bindValue="code"
              [readonly]="!canEditInsured" name="sicCode" [(ngModel)]="insured.sicCode" [loading]="loadingSic"
              loadingText="Loading..." [searchFn]="dropDownSearch"
              #sicCode="ngModel" (change)="changeSicCode()" [virtualScroll]="true">
              <ng-template ng-label-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6">
            <label for="naics" class="form-label" title="NAICS">NAICS</label>
            <ng-select id="naics" [items]="naicsCodes$ | async" bindLabel="description" bindValue="code"
              [readonly]="!canEditInsured" name="naics" [(ngModel)]="insured.naicsCode" [loading]="loadingNaics"
              loadingText="Loading..." #naics="ngModel">
              <ng-template ng-label-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.code}} - {{item.description}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4" style="padding: 4px;">
            <rsps-insured-account-address [insured]="insured"></rsps-insured-account-address>
          </div>
          <div class="col-lg-4" style="padding: 4px;">
            <rsps-insured-account-center [insured]="insured"></rsps-insured-account-center>
          </div>
          <div class="col-lg-4" style="padding: 4px;">
            <rsps-insured-account-right [insured]="insured"></rsps-insured-account-right>
          </div>
          <!-- <div class="col-lg-4" style="padding: 4px;">
            <div
              style="box-sizing: border-box;height: 100%; padding-left: 10px; padding-right: 32px;padding-top: 10px;padding-bottom: 10px; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="row">
                <div class="col-lg-12">
                  <label for="namedInsured" class="form-label" title="First Named Insured">First Named Insured</label>
                  <input type="text" class="form-control" id="namedInsured" maxlength="40" [readonly]="!canEditInsured"
                    [required]="canEditInsured" [(ngModel)]="insured.name" name="namedInsured" #namedInsured="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="street1" class="form-label" title="Street Address">Street Address</label>
                  <input type="text" class="form-control" id="street1" maxlength="40"
                    [readonly]="!canEditInsured || loading" [required]="canEditInsured" name="street1"
                    [(ngModel)]="insured.street1" #street1="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="street2" class="form-label" title="Apt/Suit/Floor">Apt/Suit/Floor</label>
                  <input type="text" class="form-control" id="street2" maxlength="40"
                    [readonly]="!canEditInsured || loading" name="street2" [(ngModel)]="insured.street2"
                    #street2="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="city" class="form-label" title="City">City</label>
                  <input type="text" class="form-control" id="city" [readonly]="!canEditInsured || loading"
                    maxlength="40" [required]="canEditInsured" name="city" [(ngModel)]="insured.city" #city="ngModel"
                    [ngClass]="cityUpdated">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label for="state" class="form-label" title="State">State</label>
                  <ng-select id="state" [items]="states$ | async" bindLabel="description" bindValue="code"
                    [clearable]="false" [readonly]="!canEditInsured || loading" [required]="canEditInsured" name="state"
                    [(ngModel)]="insured.state" #state="ngModel" [ngClass]="stateUpdated">
                  </ng-select>
                </div>
                <div class="col-lg-6">
                  <label for="zip" class="form-label" title="ZipCode">Zipcode</label>
                  <input type="text" class="form-control" id="zip" [readonly]="!canEditInsured || loading"
                    [required]="canEditInsured" name="zip" [(ngModel)]="insured.zip" #zip="ngModel"
                    mask="00000||00000-0000" [ngClass]="zipUpdated">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label for="county" class="form-label" title="County">County</label>
                  <input type="text" class="form-control" id="county" maxlength="100"
                    [readonly]="!canEditInsured || loading" name="county" [(ngModel)]="insured.county" #county="ngModel"
                    [ngClass]="countyUpdated">
                </div>
                <div class="col-lg-6">
                  <label for="country" class="form-label" title="Country">Country</label>
                  <ng-select id="locationState" [items]="countries$ | async" bindLabel="description" bindValue="code"
                    [readonly]="!canEditInsured || loading" [required]="canEditInsured" name="country"
                    [(ngModel)]="insured.country" #state="ngModel" [ngClass]="countryUpdated">
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <label for="override" class="form-label" title="Override">Override</label>
                  <input type="checkbox" class="form-checkbox" id="override" [(ngModel)]="insured.isAddressOverride"
                    name="override" [readonly]="!canEditInsured" (change)="addressOverride()">
                </div>
                <div class="col-lg-8">
                  <button class="btn btn-md btn-primary" (click)="verify()" name="verify"
                    style="margin-top: 20px;float: left;" *ngIf="canEditInsured"
                    [disabled]="insured.isAddressOverride || loading">Verify</button>
                  <div class="d-flex justify-content-center" style="float:left; margin-top: 20px; margin-left: 5px;"
                    *ngIf="loading">
                    <strong>Loading...</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                  </div>
                  <span *ngIf="!loading && isVerified && !insured.isAddressOverride"
                    style="margin-top: 20px; margin-left: 5px; float: left; color: #42A948;font-weight: bold;">Address
                    Verified</span>
                  <span *ngIf="!loading && !isVerified && !insured.isAddressOverride && addressErrorMessage.length == 0"
                    style="margin-top: 35px;  margin-left: 5px; float: left; color: #a94442;font-weight: bold;">Address
                    not
                    Verified</span>
                  <span *ngIf="!loading && !isVerified && !insured.isAddressOverride"
                    style="margin-top: 35px;  margin-left: 5px; float: left; color: #a94442;font-weight: bold;">{{addressErrorMessage}}</span>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-lg-4" style="padding: 4px;">
            <div
              style="box-sizing: border-box;height: 100%; padding-left: 10px; padding-right: 32px; padding-top: 10px;padding-bottom: 10px; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="row">
                <div class="col-lg-12">
                  <label for="formerName1" class="form-label" title="Former Name">Former Name</label>
                  <input type="text" class="form-control" id="formerName1" maxlength="60" [readonly]="!canEditInsured"
                    [(ngModel)]="insured.formerName1" name="formerName1" #formerName1="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="formerName2" class="form-label" title="Former Name2">Former Name 2</label>
                  <input type="text" class="form-control" id="formerName2" maxlength="60" [readonly]="!canEditInsured"
                    [(ngModel)]="insured.formerName2" name="formerName2" #formerName2="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="comments" class="form-label" title="Comments">Comments</label>
                  <textarea type="text" class="form-control" id="comments" maxlength="255"
                    [readonly]="!canEditInsured" name="comments" [(ngModel)]="insured.comments"
                    #comments="ngModel"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="padding: 4px;">
            <div
              style="box-sizing: border-box;height: 100%; padding-left: 10px; padding-right: 32px; padding-top: 10px;padding-bottom: 10px; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="row">
                <div class="col-lg-12">
                  <label for="insuredCode" class="form-label" title="Insured Code">Insured Code</label>
                  <input type="text" class="form-control" id="insuredCode" [ngModel]="insured.insuredCode"
                    name="insuredCode" readonly #insuredCode="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="customerCode" class="form-label" title="Customer Code">Customer Code</label>
                  <input type="text" class="form-control" id="customerCode" [readonly]="!canEditInsured"
                    [(ngModel)]="insured.customerCode" name="customerCode" #customerCode="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="entityType" class="form-label" title="Entity Type">Entity Type</label>
                  <ng-select id="entityType" [items]="entityType$ | async" bindLabel="description" bindValue="key"
                    [readonly]="!canEditInsured" name="entityType" [(ngModel)]="insured.entityType"
                    #entityType="ngModel">
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="fein" class="form-label" title="FEIN">FEIN</label>
                  <input type="text" class="form-control" id="fein" [readonly]="!canEditInsured" name="fein"
                    [(ngModel)]="insured.fein" #fein="ngModel" mask="00-0000000">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="website" class="form-label" title="Website">Website</label>
                  <input type="text" class="form-control" id="website" [readonly]="!canEditInsured" name="website"
                    [(ngModel)]="insured.website" #website="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="createdBy" class="form-label" title="Created">Created</label>
                  <input type="text" class="form-control" id="createdBy" readonly [ngModel]="createdUserFormatted"
                    name="createdBy" #createdBy="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="modifiedBy" class="form-label" title="Modified">Modified</label>
                  <input type="text" class="form-control" id="modifiedBy" readonly [ngModel]="modifiedUserFormatted"
                    name="modifiedBy" #modifiedBy="ngModel">
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</form>
