<form #quoteForm="ngForm">
  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Direct Policy</h4>
    </div>
    <div class="modal-body">
      <div class="col-lg-6">
        <div class="inputImage">
          <label for="submissionNumber">Submission Number</label>
          <input type="text" class="form-control" maxlength="10" id="submissionNumber" [readonly]="false"
            autocomplete="off" nullValue maxInt mask="separator.0" thousandSeparator=""
            [(ngModel)]="policyData.submissionNumber" name="submissionNumber"
            #submissionNumber="ngModel" (input)="searchThrottle.next()" [ngClass]="submissionError">
          <fa-icon class="faCheckCircle" title="Valid Submission" [icon]="faCheckCircle"
            *ngIf="isSubmissionNumberValid && !isSearching"></fa-icon>
          <fa-icon class="faTimesCircle" title="Invalid Submission" [icon]="faTimesCircle"
            *ngIf="!isSubmissionNumberValid && !isSearching"></fa-icon>
          <div *ngIf="isSearching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <label for="policyEffectiveDate">Effective Date</label>
        <input style="display: inline-block; max-width: 80%;" matInput [matDatepicker]="policyEffectiveDateCalendar"
          class="form-control" required [disabled]="!isSubmissionNumberValid || isSearching" [min]="minEffectiveDate"
          [max]="maxEffectiveDate" [(ngModel)]="policyData.policyEffectiveDate" (blur)="setExpirationDate()"
          (dateChange)="checkDates()" name="policyEffectiveDate" #policyEffectiveDate="ngModel">
        <mat-datepicker-toggle matSuffix style="display: inline-block;" [for]="policyEffectiveDateCalendar">
        </mat-datepicker-toggle>
        <mat-datepicker #policyEffectiveDateCalendar></mat-datepicker>
      </div>
      <div class="col-lg-6">
        <label for="policyExpirationDate">Expiration Date</label>
        <input style="display: inline-block; max-width: 80%;" matInput [matDatepicker]="policyExpirationDateCalendar"
          class="form-control" required [disabled]="!isSubmissionNumberValid || isSearching" [min]="minExpirationDate"
          [max]="maxExpirationDate" [(ngModel)]="policyData.policyExpirationDate" (dateChange)="checkDates()"
          name="policyExpirationDate"
          #policyExpirationDate="ngModel">
        <mat-datepicker-toggle matSuffix [for]="policyExpirationDateCalendar"></mat-datepicker-toggle>
        <mat-datepicker #policyExpirationDateCalendar></mat-datepicker>
        <div *ngIf="showExpirationDateInvalid" class="alert alert-danger">
          Expiration Date must be after Effective Date
        </div>
      </div>
      <div class="col-lg-4">
        <label for="policySymbol">Symbol</label>
        <ng-select id="policySymbol" [items]="policySymbols$ | async" bindLabel="description"
          [disabled]="!isSubmissionNumberValid || isSearching" [required]="isSubmissionNumberValid" bindValue="code" [clearable]="false"
          [searchFn]="dropDownSearch" [(ngModel)]="policyData.policySymbol" name="policySymbol">
          <ng-template ng-label-tmp let-item="item">
            {{item.code}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item.code}} - {{item.description}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-4">
        <label for="policyNumber">Policy Number</label>
        <input type="text" class="form-control" id="policyNumber" minlength="7" maxlength="7"
          [disabled]="!isSubmissionNumberValid || isSearching" required (change)="leavePolicyNumber()"
          [ngModel]="policyData.policyNumber"
          (ngModelChange)="policyData.policyNumber = $event.toUpperCase();changePolicyNumber()" name="policyNumber"
          #policyNumber="ngModel">
        <div *ngIf="showPolicyNumberInvalid" class="alert alert-danger">
          Must be 7 chars
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [hidden]="false"
        [disabled]="!quoteForm.valid || !isSubmissionNumberValid" (click)="create()">OK</button>
      <button type="button" class="btn btn-secondary" [hidden]="false" (click)="modal.dismiss()">Cancel</button>
    </div>
  </ng-template>
  <div *ngIf="showBusy">
    <rsps-busy></rsps-busy>
  </div>
</form>