<div class="component-row"  (mouseover)="!canDrag ? isHover = true: isHover = false" (mouseleave)="isHover = false">
  <div [ngClass]="collapsed ? 'collapsed' : 'expanded'">
    <div>
      <div class="row" *ngIf="collapsed">
        <div class="col-sm-1">
          <input type="checkbox" class="form-checkbox" id="isAppliedToAll" name="isAppliedToAll" [checked]="isAppliedToAll"
            [(ngModel)]="aiData.isAppliedToAll" #isAppliedToAll="ngModel" [readonly]="!canEditSubmission">
        </div>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="locationNumber" name="locationNumber"
            [(ngModel)]="aiData.locationNumber" #locationNumber="ngModel" [readonly]="!canEditSubmission">
        </div>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="buildingNumber" name="buildingNumber"
            [(ngModel)]="aiData.buildingNumber" #buildingNumber="ngModel" [readonly]="!canEditSubmission">
        </div>
        <div (click)="collapseExpand(false)" class="col-lg-6">
          <input type="address" class="form-control" id="address" #address="ngModel" name="address"
            [readonly]="!canEditSubmission" [ngModel]=" (!aiData.interest? '' : aiData.interest) +
                          (!aiData.street1 ? '' : ', ' + aiData.street1) + 
                          (!aiData.street2 ? '' : ', ' + aiData.street2) + 
                          (!aiData.city ? '' : ', ' + aiData.city ) + 
                          (!aiData.state ? '' : ', ' + aiData.state) +
                          (!aiData.zip ? '' : ' ' + aiData.zip)">
        </div>
        <div class="col-lg-2">
          <button class="btn btn-secondary" (click)=copyAdditionalInterest() hover-class="btn-primary"
            [disabled]="!canEditSubmission" click-stop-propagation>Copy</button>&nbsp;
          <button *ngIf="!aiData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-danger" click-stop-propagation>Delete</button>
          <button *ngIf="aiData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-warning" click-stop-propagation>Remove</button>
        </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
        <div class="row">
          <div class="col-1">
            <label for="isAppliedToAll" class="form-label" title="isAppliedToAll">Apply to all:</label><br>
            <input type="checkbox" class="form-checkbox" id="isAppliedToAll" name="isAppliedToAll"
              [(ngModel)]="aiData.isAppliedToAll" #isAppliedToAll="ngModel" [readonly]="!canEditSubmission">
          </div>
          <div class="col-sm-1">
            <label for="locationNumber" class="form-label" title="locationNumber">Location #</label>
            <input type="text" class="form-control" id="locationNumber" name="locationNumber"
              [(ngModel)]="aiData.locationNumber" #locationNumber="ngModel" [readonly]="!canEditSubmission">
          </div>
          <div class="col-sm-1">
            <label for="buildingNumber" class="form-label" title="buildingNumber">Building #</label>
            <input type="text" class="form-control" id="buildingNumber" name="buildingNumber"
              [(ngModel)]="aiData.buildingNumber" #buildingNumber="ngModel" [readonly]="!canEditSubmission">
          </div>
          <div class="col-sm-3">
            <label for="interest" class="form-label" title="interest">Interest</label>
            <input type="text" class="form-control" id="policyEventCode" name="interest"
              [readonly]="!canEditSubmission" [(ngModel)]="aiData.interest" #interest="ngModel">
          </div>
          <div class="col-sm-3">
            <label for="street1" class="form-label" title="Status">Street Address 1</label>
            <input type="text" class="form-control" id="street1" name="street1" [readonly]="!canEditSubmission"
              [(ngModel)]="aiData.street1" #street1="ngModel">
          </div>
          <div class="col-sm-3">
            <label for="street2" class="form-label" title="Status">Street Address 2</label>
            <input type="text" class="form-control" id="street2" name="street2" [readonly]="!canEditSubmission"
              [(ngModel)]="aiData.street2" #street2="ngModel">
          </div>
          <div class="row">
          <div class="col-sm-2">
            <label for="zip" class="form-label" title="zip">Zipcode</label>
            <div class="inputspinner">
              <input type="text" zip-code class="form-control" id="zipCode" [readonly]="aiData.isZipLookup"
                [(ngModel)]="aiData.zip" [readonly]="!canEditSubmission" name="zipCode" #zip="ngModel"
                (ngModelChange)="changeZipCode()">
              <div *ngIf="aiData.isZipLookup" id="spinner" class="spinner-border spinner-border-sm"
                role="zipCode" aria-hidden="true">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label for="city" class="form-label" title="city">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="aiData.city"
              [readonly]="aiData.isZipLookup || !canEditSubmission" #city="ngModel">
          </div>
          <div class="col-sm-2">
            <label for="policyEventCode" class="form-label" title="Status">State</label>
            <div *ngIf="isLoadingAddress">
              <div class="spinner-border ml-auto" role="status" aria-hidden="true">
              </div>
            </div>
            <div *ngIf="!isLoadingAddress">
              <ng-select id="mortgageeState" [items]="states$ | async" bindLabel="name" bindValue="code"
                [clearable]="false" [readonly]="!canEditSubmission || aiData.isZipLookup" name="mortgageeState"
                [(ngModel)]="aiData.state" #mortgageeState="ngModel" (change)="changeState($event)">
              </ng-select>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="attention" class="form-label" title="attention">Attention</label>
              <input type="text" class="form-control" id="policyEventCode" name="attention"
                [readonly]="!canEditSubmission" [(ngModel)]="aiData.attention" #attention="ngModel">
            </div>
            <div class="col-sm-8">
              <label for="comments" class="form-label" title="comments">Comments</label>
              <input type="text" class="form-control" id="comments" name="comments" [readonly]="!canEditSubmission"
                [(ngModel)]="aiData.description" #comments="ngModel">
            </div>
          </div>
      </div>
      <div class="empty-row"></div>
      <div class="row">
        <div class="col-lg-2">
          <button class="btn btn-secondary" (click)=copyAdditionalInterest() hover-class="btn-primary"
            [disabled]="!canEditSubmission">Copy</button>&nbsp;
          <button *ngIf="!aiData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-danger">Delete</button>
          <button *ngIf="aiData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
            [disabled]="!canEditSubmission" hover-class="btn-warning">Remove</button>
        </div>
        <div [id]='anchorId'></div>
      </div>
      <button *ngIf="!collapsed" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse"
        [openDelay]="1000">
        <fa-icon [icon]="faArrowUp"></fa-icon>
      </button>
    </div>
  </div>
</div>