<div class='content-fluid'>
<p>insured works!</p>
<button class="btn btn-md btn-primary" (click)="save()">Save</button>
<rsps-shared-additional-named-insureds-group [aniData]="aniCoverageData" [key1]="policyId" [key2]="endorsementNo"></rsps-shared-additional-named-insureds-group>
<button class="btn btn-md btn-primary" (click)="saveInsured()">Save</button>
<rsps-shared-additional-named-insureds-group [aniData]="aniInsuredData" [key1]="addInsuredCode" [key2]="insuredCode"></rsps-shared-additional-named-insureds-group>
</div>