<form #accountInfoForm="ngForm">
  <div class="card">
    <div class="card-header" (click)="accountcollapse.toggle()">
      Account Information
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="accountCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!accountCollapsed"></fa-icon>
    </div>
    <div #accountcollapse="ngbCollapse" [(ngbCollapse)]="accountCollapsed">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2">
            <label for="insuredCode">Insured Code</label>
            <input type="text" class="form-control" id="insuredCode" [ngModel]="policyInfo.insured.insuredCode"
              name="insuredCode" [readonly]="true" #insuredCode="ngModel">
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-2">
            <label for="producerCode">Producer Code</label>
            <input type="text" class="form-control" id="producerCode" [readonly]="true"
              [ngModel]="policyInfo.producer.producerCode" name="producerCode">
          </div>
          <div class="col-lg-1">
            <label for="commissionRate">Comm Rate</label>
            <input type="text" class="form-control" id="commissionRate" [readonly]="isFieldReadOnly(false)" [required]="!isFieldReadOnly(false)" mask="percent"
              suffix="%" [dropSpecialCharacters]="false" [(ngModel)]="policyInfo.commRate" name="commissionRate"
              #commissionRate="ngModel">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <label for="namedInsured">Named Insured</label>
            <input type="text" class="form-control" id="namedInsured" [readonly]="true"
              [ngModel]="policyInfo.insured.name" name="namedInsured" #namedInsured="ngModel">
          </div>
          <div class="col-md">
            <label for="producerName">Producer</label>
            <input type="text" class="form-control" id="producerName" [readonly]="true"
              [ngModel]="policyInfo.producer.name" name="producerName" #producerName="ngModel">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <input type="text" class="form-control" id="insuredAddress" [readonly]="true" name="insuredAddress"
              [ngModel]="policyInfo.insured.street2 == null ? policyInfo.insured.street1 : policyInfo.insured.street1 + ' ' + policyInfo.insured.street2 ">
          </div>
          <div class="col-md">
            <input type="text" class="form-control" id="producerAddress" [readonly]="true" name="producerAddress"
              [ngModel]="policyInfo.producer.street2 == null ? policyInfo.producer.street1 : policyInfo.producer.street1 + ' ' + policyInfo.producer.street2 ">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <input type="text" class="form-control" id="insuredCityStateZip" [readonly]="true"
              [ngModel]="policyInfo.insured.city + ', ' + policyInfo.insured.state + '  ' + (policyInfo.insured.zip | zipCode)"
              name="insuredCityStateZip" #insuredCityStateZip="ngModel" (ngModelChange)="policyInfo.insured.zip=$event">
          </div>
          <div class="col-md">
            <input type="text" class="form-control" id="producerCityStateZip" [readonly]="true"
              [ngModel]="policyInfo.producer.city + ', ' + policyInfo.producer.state + '  ' + (policyInfo.producer.zip | zipCode)"
              name="producerCityStateZip" #producerCityStateZip="ngModel"
              (ngModelChange)="policyInfo.producer.zip=$event">
          </div>
        </div>
      </div>
    </div>
  </div>
  <rsps-shared-additional-named-insureds-group [aniData]="aniData" [newANI]="newInsuredANI" [canEdit]="canEdit"></rsps-shared-additional-named-insureds-group>

<form #policyInfoForm="ngForm">
  <div class="content">
    <div class="card">
      <div class="card-header" title="Policy Information" (click)="collapse.toggle()">
        Policy Information
        <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="policyCollapsed"></fa-icon>
        <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!policyCollapsed"></fa-icon>
      </div>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="policyCollapsed">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2 col-md-4">
              <label for="policyEventCode" class="form-label" title="Status">Status</label>
              <input type="text" class="form-control" id="policyEventCode" [readonly]="true"
                value="{{policyInfo.policyEventCode == 'B'? 'Bound': 'Cancelled'}}">
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="enteredDate" class="form-label" title="Policy Entered Date">Policy Entered Date</label>
              <input type="date" class="form-control" id="enteredDate"[readonly]="true"
                [ngModel]="policyInfo.enteredDate  | date:'yyyy-MM-dd'" (ngModelChange)="policyInfo.enteredDate=$event"
                name="enteredDate" #enteredDate="ngModel">
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="claimsMadeOrOccurrence" class="form-label" title="Claimsmade/Occurrence">CLM/OCC</label>
              <ng-select [items]="this.claimsMadeOrOccurrence$" [clearable]="false" bindLabel="description" bindValue="code" [readonly]="true"
                id="claimsMadeOrOccurrence" [(ngModel)]="policyInfo.quoteData.claimsMadeOrOccurrence" name="claimsMadeOrOccurrence"
                #claimsMadeOrOccurrence="ngModel" (change)="policyInfo.changeClaimsMadeOccurrence">
              </ng-select>
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="retroDate" class="form-label" title="Retro Date">Retro Date</label>
              <div *ngIf="policyInfo.isRetroDateActive">
                <input style="display: inline-block; max-width: 80%;" class="form-control" [required]="canSetRetroDate"
                  [(ngModel)]="policyInfo.retroDate" (dateChange)="policyInfo.changeRetroDate"
                  name="retroDate" #retroDate="ngModel">
              </div>
              <div *ngIf="!policyInfo.isRetroDateActive">
                <input type="text" class="form-control" id="retroDate" readonly
                  [ngModel]="policyInfo.quoteData.retroDate | date:'MM/dd/yyyy'" name="retroDate">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body top-bordered">
          <div class="row">
            <div class="col-lg-2 col-md-8">
              <label for="submissionNumber"  class="form-label" title="Submission Number">Submission No.</label>
              <input type="text" class="form-control" id="submissionNumber" [readonly]="true"
                [(ngModel)]="policyInfo.submissionNumber" name="submissionNumber" #submissionNumber="ngModel">
            </div>
            <div class="col-lg-1 col-md-4">
              <label for="quoteNumber" class="form-label" title="Quote Number">Quote No.</label>
              <input type="text" class="form-control" id="quoteNumber" [readonly]="true"
                [(ngModel)]="policyInfo.quoteData.quoteNumber" name="quoteNumber" #quoteNo="ngModel">
            </div>
            <div class="col-lg-1 col-md-4">
              <label for="packageInd" class="form-label" title="Package Policy">Package Policy</label>
              <input type="text" class="form-control" id="packageInd" style="width:37px;" [readonly]="true"
                [(ngModel)]="policyInfo.packageInd" name="packageInd" #packageInd="ngModel">
            </div>
            <div class="col-lg-1 col-md-4">
              <label for="policyType" class="form-label" title="Master Policy">Master Policy</label>
              <input type="checkbox" class="form-check-input" id="policyType" [ngModel]="policyInfo.policyType == '1'" name="policyType"
                [readonly]="isFieldReadOnly(true)" (ngModelChange)="policyInfo.policyType=$event?'1': null">
            </div>
            <div class="col-lg-1 col-md-4" *ngIf="isDirectQuoteFieldReadOnly">
              <label for="policySymbol" class="form-label" title="Symbol">Sym</label>
              <input type="text" class="form-control" id="policySymbol" [(ngModel)]="policyInfo.policySymbol"
                name="policySymbol" [readonly]="true" [required]="!isDirectQuoteFieldReadOnly" #policySymbol="ngModel">
            </div>
            <div class="col-lg-1 col-md-4" *ngIf="!isDirectQuoteFieldReadOnly">
              <label for="policySymbol" class="form-label" title="Symbol">Sym</label>
              <ng-select id="policySymbol" [items]="policySymbols$ | async" bindLabel="description"
                [required]="!isDirectQuoteFieldReadOnly" (change)="policyInfo.changePolicySymbol"
                bindValue="code" [clearable]="false" [searchFn]="policyInfo.dropDownSearch" [(ngModel)]="policyInfo.policySymbol"
                name="policySymbol">
                <ng-template ng-label-tmp let-item="item">
                  {{item.code}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.code}} - {{item.description}}
                </ng-template>
              </ng-select>
            </div>
            <div class="col-lg-2 col-md-6">
              <label for="policyNo" class="form-label" title="Policy Number">Policy No.</label>
              <input type="text" class="form-control" id="policyNo" [ngModel]="policyInfo.policyNo" minlength="7"
                maxlength="7" (input)="policyInfo.ChangePolicyNumber" (ngModelChange)="policyInfo.policyNo = $event.toUpperCase" name="policyNo"
                #policyNo="ngModel" [readonly]="true"
                [required]="!isFieldReadOnly(false)">
              <div [hidden]="policyNo.valid || policyNo.pristine" class="alert alert-danger">
                Policy Number is invalid
              </div>
            </div>
            <div class="col-lg-1 col-md-2">
              <label for="policyModNo"  class="form-label" title="Policy Mod">Mod</label>
              <input type="text" class="form-control" id="policyModNo" [(ngModel)]="policyInfo.policyModNo"
                name="policyModNo" #policyModNo="ngModel" [readonly]="true">
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="policyId" class="form-label" title="Policy ID">Policy Id</label>
              <input type="text" class="form-control" id="policyId" minlength="7" maxlength="7"
                [(ngModel)]="policyInfo.policyId" name="policyId" #policyNumber="ngModel" [readonly]="true" [required]="!isFieldReadOnly(false)">
              </div>
          </div>
          <div class="empty-row"></div>
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <label for="riskCity"  class="form-label"  title="Policy City">Policy City</label>
              <input id="riskCity" class="form-control" [readonly]="isFieldReadOnly(false)" name="riskCity"
                [required]="!isFieldReadOnly(false)" [(ngModel)]="policyInfo.riskLocation.city" #riskCity="ngModel"/>
            </div>
            <div class="col-lg-3 col-md-4">
              <label for="riskState"  class="form-label" title="Policy State">Policy State</label>
              <ng-select id="riskState" [items]="states$ | async" bindLabel="name" bindValue="code"
                [clearable]="false" [readonly]="isFieldReadOnly(false)" name="riskState"
                [required]="!isFieldReadOnly(false)" [(ngModel)]="policyInfo.riskLocation.state" #riskState="ngModel" (change)="this.changeState($event)">
              </ng-select>
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="riskZipCode"  class="form-label" title="Policy Zip Code">Policy Zip Code</label>
              <input type="text" class="form-control" id="riskZipCode" [required]="!isFieldReadOnly(false)"
                [readonly]="isFieldReadOnly(false)" [(ngModel)]="policyInfo.riskLocation.zip" zip-code
                #riskZipCode="ngModel" name="riskZipCode">
            </div>
          </div>
          <div class="empty-row"></div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <label for="policyEffectiveDate" class="form-label" title="Effective Date">Effective Date</label>
              <div *ngIf="!isFieldReadOnly(true)">
                  <input type="date" class="form-control" id="enteredDate"
                  [ngModel]="policyInfo.policyEffectiveDate  | date:'yyyy-MM-dd'" (ngModelChange)="policyInfo.policyEffectiveDate=$event"
                  name="policyEffectiveDate" #policyEffectiveDate="ngModel">
              </div>
              <div *ngIf="isFieldReadOnly(true)">
                <input type="text" class="form-control" id="policyEffectiveDate" readonly
                  [ngModel]="policyInfo.policyEffectiveDate | date:'MM/dd/yyyy'" name="policyEffectiveDate">
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <label for="policyExpirationDate" class="form-label" title="Expiration Date">Expiration Date</label>
                <div *ngIf="!isFieldReadOnly(true)">
                  <input type="date" class="form-control" id="enteredDate"
                  [ngModel]="policyInfo.policyExpirationDate | date:'yyyy-MM-dd'" (ngModelChange)="policyInfo.policyExpirationDate=$event"
                  name="policyExpirationDate" #policyExpirationDate="ngModel">
              </div>
              <div *ngIf="isFieldReadOnly(true)">
                <input type="text" class="form-control" id="policyExpirationDate" readonly
                  [ngModel]="policyInfo.policyExpirationDate | date:'MM/dd/yyyy'" name="policyExpirationDate">
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <label for="policyExtendedExpDate" class="form-label" title="Extension Exp Date">Extension Exp Date</label>
              <div >
                <input type="text" class="form-control" id="policyExtendedExpDate" readonly
                  [ngModel]="policyInfo.policyExtendedExpDate | date:'MM/dd/yyyy'" name="policyExtendedExpDate">
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <label for="policyCancelDate" class="form-label" title="Cancel Date">Cancel Date</label>
              <div>
                <input type="text" class="form-control" id="policyCancelDateReadonly" readonly
                  [ngModel]="policyInfo.policyCancelDate | date:'MM/dd/yyyy'" name="policyCancelDateReadonly">
              </div>
            </div>
          </div>
          <div class="empty-row"></div>
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <label for="carrierCode"  class="form-label" title="Carrier">Carrier</label>
              <ng-select id="carrierCode" [items]="carrierCodes$ | async" bindLabel="description"
                [required]="!isFieldReadOnly(true)" bindValue="code" [clearable]="false" [readonly]="isFieldReadOnly(true)"
                [(ngModel)]="policyInfo.quoteData.carrierCode" name="carrierCode">
              </ng-select>
            </div>
            <div class="col-lg-3 col-md-12">
              <label for="coverageCode"  class="form-label" title="Coverage Code">Coverage Code </label>
              <ng-select id="coverageCode" [items]="coverageCodes$ | async" bindLabel="description"
                [required]="!isFieldReadOnly(true)" bindValue="code" [clearable]="false" [searchFn]="policyInfo.dropDownSearch" (change)="policyInfo.determineClaimsMadeOccurrence"
                [readonly]="isFieldReadOnly(true)" [(ngModel)]="policyInfo.quoteData.coverageCode" name="coverageCode">
                <ng-template ng-label-tmp let-item="item">
                  {{item.code}} - {{item.description}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.code}} - {{item.description}}
                </ng-template>
              </ng-select>
            </div>
            <div class="col-lg-3 col-md-8">
              <label for="pacCode"  class="form-label" title="PAC Code">PAC</label>
              <ng-select class="custom" id="pacCode" [items]="pacCodes$ | async" bindLabel="description" name="pac" [searchFn]="policyInfo.dropDownSearch"
                bindValue="code" [clearable]="false" [required]="!isFieldReadOnly(true)" [readonly]="isFieldReadOnly(true)"
                [(ngModel)]="policyInfo.quoteData.pacCode" #pacCode="ngModel">
                <ng-template ng-label-tmp let-item="item">
                {{item.code}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.code}} - {{item.description}}
                </ng-template>
              </ng-select>
            </div>
            <div class="col-lg-3 col-md-4">
              <label for="programId"  class="form-label" title="Program ID">Program ID</label>
              <ng-select id="programId" [items]="programs$ | async" bindLabel="description" [readonly]="true"
                [required]="true" bindValue="key" [clearable]="false" [searchFn]="policyInfo.dropDownSearch"
                [(ngModel)]="policyInfo.programId" name="programId" (change)="changeProgramId">
                <ng-template ng-label-tmp let-item="item">
                  {{item.key}} - {{item.description}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.key}} - {{item.description}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="card-body top-bordered">
          <div class="row">
            <div class="col-lg-1 col-md-4">
              <label for="riskGradeCode"  class="form-label" title="Risk Grade">Risk Grade</label>
              <ng-select id="riskGradeCode" [items]="riskGrades$ | async" bindLabel="description"
                 bindValue="code" [clearable]="false"
                [readonly]="isFieldReadOnly(true)" [(ngModel)]="policyInfo.riskGradeCode" name="riskGradeCode">
              </ng-select>
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="auditCode" class="form-label" title="Audit Code">Audit Code</label>
              <ng-select id="auditCode" [items]="auditCodes$ | async" bindLabel="description" bindValue="code"
                [required]="!isFieldReadOnly(false)" [clearable]="false" [readonly]="isFieldReadOnly(false)"
                [(ngModel)]="policyInfo.auditCode" name="auditCode">
              </ng-select>
            </div>
            <div class="col-lg-2 col-md-4">
              <label for="paymentFrequency" class="form-label" title="Payment Frequency">Payment Frequency</label>
              <ng-select id="paymentFrequency" [items]="paymentFrequencies$ | async" bindLabel="description"
                [required]="!isFieldReadOnly(true)" bindValue="code" [clearable]="false"
                [readonly]="isFieldReadOnly(true)" [(ngModel)]="policyInfo.paymentFrequency" name="paymentFrequency">
              </ng-select>
            </div>
            <div class="col-lg-1 col-md-4">
              <label for="creditDays" class="form-label" title="Credit Days">Credit Days</label>
              <input type="number" class="form-control" id="creditDays" [required]="!isFieldReadOnly(true)" [readonly]="isFieldReadOnly(true)" maxInt
                [(ngModel)]="policyInfo.quoteData.creditDays" name="creditDays" #creditDays="ngModel">
            </div>
            <div class="col-lg-3 col-md-4">
              <label for="deregulationIndicator" class="form-label" title="Deregulation Indictor">Deregulation Indicator</label>
              <ng-select id="deregulationIndicator" [items]="deregulationIndicators$ | async" bindLabel="description"
                bindValue="code" [clearable]="false" (change)="policyInfo.clearNYFTZ" [readonly]="isFieldReadOnly(true)"
                [(ngModel)]="policyInfo.deregulationIndicator" name="deregulationIndicator">
              </ng-select>
            </div>
            <div class="col-lg-3 col-md-4">
              <label for="riskType" class="form-label" title="Risk Type">Risk Type</label>
              <ng-select id="riskType" [items]="riskTypes$ | async" bindLabel="description" bindValue="code"
                [required]="!isFieldReadOnly(true)" (change)="policyInfo.clearAssumed" [clearable]="false" [readonly]="isFieldReadOnly(true)"
                [(ngModel)]="policyInfo.riskType" name="riskType">
              </ng-select>
            </div>
          </div>
          <div class="empty-row"*ngIf="policyInfo.checkAssumed || policyInfo.checkDereg"></div>
          <div class="row" *ngIf="policyInfo.checkAssumed || policyInfo.checkDereg">
            <div class="col-lg-6"></div>
            <div class="col-lg-3" *ngIf="!policyInfo.checkDereg"></div>
            <div class="col-lg-3" *ngIf="policyInfo.checkDereg">
              <label for="NYFTZ" class="form-label"  title="NY Free Trade Zone">NY Free Trade Zone</label>
              <ng-select id="NYFTZ"  [items]="nyFreeTradeZones$ | async" bindLabel="description"
                [required]="!isFieldReadOnly(true)" bindValue="code" [clearable]="false"
                [readonly]="isFieldReadOnly(true)" [(ngModel)]="policyInfo.nyftz" name="NYFTZ">
              </ng-select>
            </div>
            <div class="col-lg-3" *ngIf="policyInfo.checkAssumed">
              <label for="assumedCarrier" class="form-label" title="Assumed Carrier">Assumed Carrier</label>
              <ng-select id="assumedCarrier" [items]="assumedCarriers$ | async" bindLabel="description"
                [required]="!isFieldReadOnly(true)" bindValue="code" [clearable]="false"
                [readonly]="isFieldReadOnly(true)" [(ngModel)]="policyInfo.assumedCarrier" [searchFn]="policyInfo.dropDownSearch"
                name="assumedCarrier">
                <ng-template ng-label-tmp let-item="item">
                  {{item.description}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.code}} - {{item.description}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="card-body top-bordered" *ngIf="productRecallCovCodes.includes(policyInfo.quoteData.coverageCode)">
          <div class="row">
            <div class="col-lg-12">
              <h5>Product Recall</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1">
              <label for="coinsurancePercentage" class="form-label" title="Coinsurance %">Coinsurance %</label>
              <input type="text" class="form-control" id="coinsurancePercentage" mask="percent" suffix="%" [readonly]="isFieldReadOnly(true)"
                [(ngModel)]="policyInfo.coinsurancePercentage" name="coinsurancePercentage"
                #coinsurancePercentage="ngModel">
            </div>
            <div class="col-lg-2">
              <label for="productManufactureDate" class="form-label" title="Product Manufacture Date">Product Manufacture Date</label>
              <input style="display: inline-block; max-width: 80%;" matInput
                class="form-control" [disabled]="isFieldReadOnly(true)"
                [(ngModel)]="policyInfo.productManufactureDate" name="productManufactureDate"
                #productManufactureDate="ngModel">

            </div>
            <div class="col-lg"></div>
            <div class="col-lg"></div>
            <div class="col-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</form>
<div *ngIf="showBusy">
  <rsps-busy message="Saving..."></rsps-busy>
</div>

