input[type="text"] {
  display: inline-block;
}

input[type="date"] {
  display: inline-block;
}

.form-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

#coinsurancePercentage {
  text-align: right;
}

.top-bordered {
  border-top: 2px solid black;
}
