 .sticky {
   background-color: #f2f4f6;
   /* position: fixed; */
   width: 100%;
   z-index: 10;
 }

 .search-bar {
  padding:12px;
}

/* Overwrite margin size */
.row {
  margin: 0;
  margin-top: 7px;
}