<form #invoiceDetailForm="ngForm">
  <div class="row">
    <div class="col-lg-4">
      <label for="lineItemDescription" *ngIf="index==0">Coverage Description</label>
    </div>
    <div class="col-lg-2">
      <label for="feeAmount" *ngIf="index==0">Premium</label>
    </div>
    <div class="col-lg-1">
      <label for="commissionRate" *ngIf="index==0">Comm Rate</label>
    </div>
    <div class="col-lg-2">
      <label for="commissionAmount" *ngIf="index==0">Commission Amt</label>
    </div>
    <div class="col-lg-2">
      <label for="netAmount" *ngIf="index==0">Net Amount</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4" *ngIf="!canEditDetail">
      <input type="text" class="form-control" id="lineItemDescription" readonly
        [ngModel]="invoiceDetail.lineItemDescription" name="lineItemDescription" #lineItemDescription="ngModel">
    </div>
    <div class="col-lg-4" *ngIf="canEditDetail">
      <ng-select id="lineItemDescription" [items]="lineitemDescriptions$ | async" bindLabel="description"
        bindValue="code" [required]="canEditDetail" [clearable]="false" name="lineItemDescription"
        [(ngModel)]="invoiceDetail.lineItemCode" [readonly]="!canEditDetail" #lineItemDescription="ngModel"
        (ngModelChange)="changedDescription($event)">
        <ng-template ng-label-tmp let-item="item">
          {{item.description}} {{item.state != null ? " (" + item.state + ")" : ""}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{item.description}} {{item.state != null ? " (" + item.state + ")" : ""}}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="feeAmount" [readonly]="!canEditDetail" maxlength="18" maxInt
        [(ngModel)]="invoiceDetail.feeAmount" name="feeAmount" #feeAmount="ngModel" string-to-currency [decimalPlaces]="2"
        (ngModelChange)="changeFeeAmount()" [required]="canEditDetail">
      </div>
    <div class="col-lg-1">
      <input type="text" class="form-control" id="commissionRate" readonly
        [ngModel]="invoiceDetail.commissionRate" name="commissionRate" #commissionRate="ngModel" mask="percent"
        suffix="%" [dropSpecialCharacters]="true">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="commissionAmount" readonly
        [ngModel]="invoiceDetail.commissionAmount | currency: 'USD' : '' : '1.2-2' | minusSignToParens" name="commissionAmount"
        #commissionAmount="ngModel">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" id="netAmount" readonly
        [ngModel]="invoiceDetail.netAmount | currency: 'USD' : '' : '1.2-2' | minusSignToParens" name="netAmount" #netAmount="ngModel">
    </div>
    <div class="col-lg-1">
      <span class="btn btn-secondary" (click)=openDeleteConfirmation() hover-class="btn-danger"
        *ngIf="!invoiceDetail.isNew && !!canEditDetail">
        Delete</span>
      <span class="btn btn-secondary" (click)=openDeleteConfirmation() hover-class="btn-warning"
        *ngIf="invoiceDetail.isNew && !!canEditDetail">Remove</span>
    </div>
  </div>
</form>
