.sidebar {
  position:fixed;
}

.sidebar a.active {
  text-decoration: none; font-weight: bold; color: white ;background-color: #ed0139;
}
.sidebar a:hover:not(.active) {
  text-decoration: none; font-weight: bold; color: #00274e;  background-color: #f2f4f6;
}
.sidebar-toggle {
  overflow: hidden;
  top:0;
  position:fixed;
  background-color: #00274e;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.toggle {
  padding-left:12px;
  padding-top:4px;
  width: 50%;
  height: 100%;
  float: left
}
.toggle-icon {
  color:white;
  cursor: pointer;
}
.large {
  font-size: large;
}
.x-large {
  font-size: x-large;
}
.home-link {
  width: 50%;
  height:100%;
  float:left;
  padding-left:12px;
  padding-top:10px;
}
.home-link {
  width: 50%; height:100%; float:left;
}
hr.rounded {
  border-top: 3px solid white;
  border-radius: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.fa fa-bars{
  padding-top: 10px;
}
.nav-link {
  padding-right: 3px;
  padding-left: 10px;
  cursor: pointer;
}

.nav-link{
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.banner-label {
  color: white;
  text-decoration: none;
}

#close-panel {
  padding-left:17px;
  padding-top:10px;
}
