<ngb-alert *ngIf="showInvalid" type=danger (closed)="hideInvalid()" [dismissible]="true" [innerHTML]="invalidMessage"></ngb-alert>
<div class="col-lg-2">
</div>
<div class="card-header">
  Additional Named Insured
   <fa-icon style="float: right" [icon]="faPlus" *ngIf="aniCollapsed"></fa-icon>
   <fa-icon style="float: right" [icon]="faMinus" *ngIf="!aniCollapsed"></fa-icon>
 </div>
 <span class="button" hover-class="btn-primary" (click)="addNewAdditionalNamedInsured()">Add Additional Named Insured...</span>
 <div *ngFor="let item of aniData; index as i">
    <rsps-additional-named-insureds  (copyExistingAni)=copyExistingAni($event) (deleteExistingAni)=deleteExistingAni($event) [aniData]=item></rsps-additional-named-insureds>
  </div>