.btn {
  background-color: #001f3e;
  color: white !important;
  box-shadow: none;
  border: 0px;
}

#user-settings {
  right: 0;
  position: fixed;
  z-index: 997 !important;
  background-color: #001f3e;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.left-rounded {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.ngbDropdown {
  z-index: 2;
}
