<div ngbDropdown class="d-inline-block" style="float: right;">
  <button *ngIf='isAuthenticated && userName' class="btn" id="dropdownUser" ngbDropdownToggle>
    <fa-icon [icon]="faUser" *ngIf="!isReadOnly"></fa-icon>
    <fa-icon [icon]="faUserLock" *ngIf="isReadOnly"></fa-icon>
    {{userName.toUpperCase()}}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownUser">
    <form class="px-2 py-2">
      <button (click)="logout()" ngbDropdownItem>
        <fa-icon [icon]="faPowerOff"></fa-icon>
        Logout
      </button>
      <button *ngIf='oktaToken' (click)="openOktaModal(modalToken)" ngbDropdownItem>
        <fa-icon [icon]="faIdBadge"></fa-icon>
        Okta Token
      </button>
      <button *ngIf='apiToken' (click)="openApiModal(modalToken)" ngbDropdownItem>
        <fa-icon [icon]="faKey"></fa-icon>
        Api Token
      </button>
      <div class="dropdown-divider"></div>
      <label for="historySize">History Size:</label>
      <div class="input-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="input-group-text" (click)="removeHistoryCount()">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
          </div>
          <input class="form-control ml2" style="background: white;" type="text" name="historySize" [(ngModel)]="historySize" disabled tabindex="-1"/>
          <button class="input-group-text" (click)="addHistoryCount()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <div class="input-group">
          </div>
        </div>
      </div>
      <button (click)="clearHistory()" ngbDropdownItem>
        <fa-icon [icon]="faTrash"></fa-icon>
        Clear History
      </button> 
      <div class="dropdown-divider"></div>
      <span class="dropdown-item-text">{{environment}}</span>
      <span class="dropdown-item-text">{{role}}</span> 
    </form>
  </div>
</div>

<ng-template #modalToken let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modalBody}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>