<div ngbDropdown class="d-inline-block" style="float: right;">
  <button *ngIf='isAuthenticated && userName' class="btn" id="dropdownUser" ngbDropdownToggle>
    <fa-icon [icon]="faUser"  *ngIf="!isReadOnly"></fa-icon>
    <fa-icon [icon]="faUserLock" *ngIf="isReadOnly"></fa-icon>
    {{userName.toUpperCase()}}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownUser">
    <span class="dropdown-item-text">{{role}}</span>
    <div class="dropdown-divider"></div>  
    <button (click)="logout()" ngbDropdownItem>
      <fa-icon [icon]="faPowerOff"></fa-icon>
      Logout
    </button>
    <button *ngIf='oktaToken' (click)="openOktaModal(modalToken)" ngbDropdownItem>
      <fa-icon [icon]="faIdBadge"></fa-icon>
      Okta Token
    </button>
    <button *ngIf='apiToken' (click)="openApiModal(modalToken)" ngbDropdownItem>
      <fa-icon [icon]="faKey"></fa-icon>
      Api Token
    </button>
  </div>
</div>

<ng-template #modalToken let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modalBody}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>