.endorsement-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
#premium,
#attachmentPoint,
#sir {
  text-align: right;
}

#terrorism ::ng-deep .ng-dropdown-panel.ng-select-bottom {
  left: calc(100% - 444px)!important;
}

label{
  white-space: nowrap;
  min-width: 100%;
}
