.reinsuranceLayer {
  width: 6%;
}

.attachmentPoint {
  width: 12%;
}

.reinsuranceLimits {
  width: 13%;
}

.cededPremium {
  width: 13%;
}

.commissionRate {
  width: 10%;
}

.reinsuranceCode {
  width: 12%;
}

.isFaculative {
  width: 3%;
}

.intermediary {
  width: 12%;
}

.certificatNumber {
  width: 12%;
}
.delete{
  width:7%;  
}