<div class="container-fluid" id="policyHeader">
  <div class="row">
    <div class="insured">
      <h6>Insured</h6>
      {{accountInfo.namedInsured}}
    </div>
    <div class="policyNumber">
      <h6>Policy Number</h6>
      {{policyInfo.policyNo}}
    </div>
    <div class="endorsement">
      <h6>Endt</h6>
    </div>
    <div class="effectiveDate">
      <h6>Policy Eff Date</h6>
      {{policyInfo.policyEffectiveDate | date:'dd-MM-YYY'}}
    </div>
    <div class="expirationDate">
      <h6>Policy Exp Date</h6>
      {{policyInfo.policyExpirationDate  | date:'dd-MM-YYY'}}
    </div>
    <div class="extensionDate">
      <h6>Policy Ext Date</h6>
      {{policyInfo.policyExtendedExpDate  | date:'dd-MM-YYY'}}
    </div>
  </div>
  <div class="row">
    <div class="insured">
      <h6></h6>
    </div>
    <div class="policyNumber">
      <h6>{{policy.policySymbol}}{{policy.fullPolicyNumber}}</h6>
    </div>
    <div class="endorsement">
      <h6></h6>
    </div>
    <div class="effectiveDate">
      <h6></h6>
    </div>
    <div class="expirationDate">
      <h6></h6>
    </div>
    <div class="extensionDate">
      <h6></h6>
    </div>
  </div>
</div>