<div  id="policyHeader" class="header">
  <div class="row">
    <div class="insured">
      <u><h6>Insured</h6></u>
      {{accountInfo.namedInsured}}
    </div>
    <div class="policyNumber">
      <u><h6>Policy Number</h6></u>
      {{policyInfo.policySymbol}}{{policyInfo.policyNo}}
    </div>
    <div class="endorsement">
      <u><h6>Endt</h6></u>
    </div>
    <div class="effectiveDate">
      <u><h6>Policy Eff Date</h6></u>
      {{policyInfo.policyEffectiveDate | date:'MM/dd/YYYY'}}
    </div>
    <div class="expirationDate">
      <u><h6>Policy Exp Date</h6></u>
      {{policyInfo.policyExpirationDate  | date:'MM/dd/YYYY'}}
    </div>
    <div class="extensionDate">
      <u><h6>Policy Ext Date</h6></u>
      {{policyInfo.policyExtendedExpDate  | date:'MM/dd/YYYY'}}
    </div>
  </div>
</div>