<form #endorsementCoveragesForm="ngForm">
<div class="content">
  <div class="card">
    <div class="card-header" (click)="locationCollapsed = !locationCollapsed">
      <a [routerLink]="" (click)="openLocation(endorsementCoveragesGroup.location)">ID #: {{endorsementCoveragesGroup.location.locationId}}</a>
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="locationCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!locationCollapsed"></fa-icon>
      <!-- <fa-icon title="Add New Coverage" (click)="addNewCoverage()" [icon]="faPlus" style="float: right;"></fa-icon> -->
    </div>
    <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="locationCollapsed">
      <div class="row container">
        <div class="col-lg-4">
          <div class="header-label">
            <label>Coverage Description</label>
            <input type="text" class="header-input">
          </div>
        </div >
        <div class="col-lg-2">
          <div >
            <label>Premium</label>
            <input type="text" class="header-input">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="header-label">
            <label>Limits</label>
            <input type="text" class="header-input">
          </div>
        </div>
        <div class="col-lg-1">
          <div class="header-label">
            <label>Incl/Excl</label>
            <input type="text" class="header-input">
          </div>
        </div>
        <div class="col-lg-1">
          <div class="header-label">
            <label>CLM/OCC</label>
            <input type="text" class="header-input">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="header-label">
            <label>Retro Date</label>
            <input type="text" class="header-input">
          </div>
        </div>
      </div>
      <rsps-endorsement-coverage #coverageDiv *ngFor="let coverage of endorsementCoveragesGroup.coverages"
    (deleteThisCoverage)=deleteCoverage($event)
    (copyExistingCoverage)=copyExistingCoverage($event)
    [coverage]="coverage"></rsps-endorsement-coverage>
    <div [id]='anchorId'></div>
    </div>
    <div class="card-footer" (click)="locationCollapsed = !locationCollapsed">
      <fa-icon title="Add New Coverage" (click)="addNewCoverage()" [icon]="faPlus" style="float: right;"></fa-icon>
    </div>
  </div>
</div>

<rsps-endorsement-coverage-location #modal></rsps-endorsement-coverage-location>
