<div class="card">
  <div class="card-header" (click)="collapse.toggle()">Location Schedule
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="locationCollapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!locationCollapsed"></fa-icon>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="locationCollapsed">
    <div class="card-body" *ngIf="locationData.length > 0">
      <div *ngFor="let item of locationData; let i = index">
        <rsps-endorsement-location (deleteThisLocation)=deleteLocation($event)
          (copyExistingLocation)=copyExistingLocation($event) [location]=item [index]=i></rsps-endorsement-location>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div id="locationFooter">
      <button *ngIf="canEditPolicy" style="float:left; background:none; border:none;" class="underline"
        (click)="addNewEndorsementLocation();">Add Location</button>
      <div style="float:right;">Locations: {{locationData.length}}</div>
    </div>
  </div>
</div>
