/* This enables newlines to be used in the modal */
.modal-body{
        white-space: pre-line;
}

.table {
        background-color: white;      
}

.highlight {
        background-color: yellow;
        font-weight: bold;
}