<div class="content">
    <div class="input-group">
      <input class="form-control py-2 border-right-0 border" type="search" [(ngModel)]="listFilter" placeholder="Search Submission or Policy No">
    </div>
    <div class="table-responsive">
      <table class="table mb-0" *ngIf="importPolicies && importPolicies.length">
        <thead>
          <tr>
            <th>Submission Number</th>
            <th>Quote No</th>
            <th>Underwriter</th>
            <th>Policy No</th>
            <th>Policy Eff Date</th>
            <th>Insured</th>
            <th>Producer</th>
            <th>N/R</th>
            <th>PAC</th>
            <th>Program</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let importPolicy of filteredImportPolicies">
            <td *ngIf="canExecuteImport();else noExecute">{{ importPolicy.submissionNumber }} import</td>
            <ng-template #noExecute><td>{{ importPolicy.submissionNumber }}</td></ng-template>
            <td>{{ importPolicy.quoteNumber }}</td>
            <td>{{ importPolicy.uwLastName }}</td>
            <td>{{ importPolicy.policyNumber }}</td>
            <td>{{ importPolicy.policyEffectiveDate| date: 'MM/dd/yyyy'}}</td>
            <td>{{ importPolicy.insuredName}}</td>
            <td>{{ importPolicy.producerName}}</td>
            <td>{{ importPolicy.submissionEventCode}}</td>
            <td>{{ importPolicy.pacCode}}</td>
            <td>{{ importPolicy.programName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

