<div class="content">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <fa-icon [icon]="faSearch"></fa-icon>
      </span>
    </div>
    <input class="form-control ml2" type="search" name="searchTerm" [(ngModel)]="searchTerm"
      placeholder="Search Submission or Policy No or Underwriter" autofocus />
    <span class="ml-3" *ngIf="loading$ | async">Loading...</span>
  </div>
  <div class="d-flex justify-content-center" *ngIf="!(importPolicies && importPolicies.length)">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered" *ngIf="importPolicies && importPolicies.length">
      <thead>
        <tr>
          <th>Submission Number</th>
          <th>Quote No</th>
          <th>Underwriter</th>
          <th>Policy No</th>
          <th>Policy Eff Date</th>
          <th>Insured</th>
          <th>Producer</th>
          <th>N/R</th>
          <th>PAC</th>
          <th>Program</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let importPolicy of policies$ | async">
          <td *ngIf="canExecuteImport();else noExecute"><a [routerLink]="" (click)="import(importPolicy)">
          <td>
            <ngb-highlight [result]="importPolicy.submissionNumber | number | removeComma" [term]="searchTerm"
              [highlightClass]="'highlight'"></ngb-highlight>
          </td>
          </a>
          </td>
          <ng-template #noExecute>
            <td>
              <ngb-highlight [result]="importPolicy.submissionNumber | number | removeComma" [term]="searchTerm"
                [highlightClass]="'highlight'"></ngb-highlight>
            </td>
          </ng-template>
          <td>{{ importPolicy.quoteNumber }}</td>
          <td>
            <ngb-highlight [result]=" importPolicy.uwLastName" [term]="searchTerm" [highlightClass]="'highlight'">
            </ngb-highlight>
          </td>
          <td nowrap="nowrap">
            <ngb-highlight [result]="importPolicy.policyNumber" [term]="searchTerm" [highlightClass]="'highlight'">
            </ngb-highlight>
          </td>
          <td>{{ importPolicy.policyEffectiveDate| date: 'MM/dd/yyyy'}}</td>
          <td>{{ importPolicy.insuredName}}</td>
          <td>{{ importPolicy.producerName}}</td>
          <td>{{ importPolicy.submissionEventCode}}</td>
          <td>{{ importPolicy.pacCode}}</td>
          <td>{{ importPolicy.programName}}</td>
        </tr>
      </tbody>

    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
        [rotate]="true" [boundaryLinks]="true">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="8">8 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="showBusy">
  <rsps-busy></rsps-busy>
</div>

<ng-template #modalPipe let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Import Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{pipeMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>