<form #endorsementHeaderForm="ngForm">
<div class="endorsement-header">
  <div class="row">
    <div class="col-lg">
      <label for="endorsementEffectiveDate">Trans Eff Date</label>
      <input type="date" class="form-control" id="endorsementEffectiveDate" [readonly]="!canEditTransactionDates"
        [required]="canEditTransactionDates" [ngModel]="endorsement.transactionEffectiveDate | date:'yyyy-MM-dd'"
        (ngModelChange)="endorsement.transactionEffectiveDate=$event" name="endorsementEffectiveDate"
        #endorsementEffectiveDate="ngModel" (change)="changeEffectiveDate()">
        <div [hidden]="isTransactionEffectiveDateValid" class="alert alert-danger">
          Invalid date
        </div>
    </div>
    <div class="col-lg">
      <label for="endorsementExpirationDate">Trans Exp Date</label>
      <input type="date" class="form-control" id="endorsementExpirationDate" [readonly]="!canEditTransactionDates"
        [required]="canEditTransactionDates" [ngModel]="endorsement.transactionExpirationDate | date:'yyyy-MM-dd'"
        (ngModelChange)="endorsement.transactionExpirationDate=$event" name="endorsementExpirationDate"
        #endorsementExpirationDate="ngModel" (change)="changeExpirationDate()">
        <div [hidden]="isTransactionExpirationDateValid" class="alert alert-danger">
          Invalid date
        </div>
    </div>
    <div class="col-lg-2">
      <label for="transactionType">Transaction Type</label><br>
      <ng-select id="transactionType" [items]="transactionTypes$ | async" bindLabel="description" bindValue="key"
        [required]="canEditTransactionType" [clearable]="false" [searchFn]="dropDownSearch"
        [readonly]="!canEditTransactionType" [(ngModel)]="endorsement.transactionTypeCode" name = "transactionType">
        <ng-template ng-label-tmp let-item="item">
          {{item.key}} - {{item.description}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{item.key}} - {{item.description}}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-lg">
      <label for="premium">Premium</label>
      <input type="text" class="form-control" id="premium" [required]="canEdit" [readonly]="!canEdit"
        [(ngModel)]="endorsement.premium" mask="separator.0" thousandSeparator="," name="premium" #premium="ngModel">
    </div>
    <div class="col-lg">
      <label for="attachmentPoint">Attachment Point</label>
      <input type="text" class="form-control" id="attachmentPoint" [required]="canEdit && !isPrimaryPolicy"
        [readonly]="!canEdit || isPrimaryPolicy" [(ngModel)]="endorsement.attachmentPoint" mask="separator.0" thousandSeparator=","
        name="attachmentPoint" #attachmentPoint="ngModel" name="attachmentPoint" (change)="checkAttachmentPointValid()">
        <div [hidden]="isAttachmentPointValid" class="alert alert-danger">
          Invalid Attachment Point
        </div>
    </div>
    <div class="col-lg">
      <label for="underlyingLimit">Underlying Limits</label>
      <input type="text" class="form-control" id="underlyingLimit" [required]="canEdit && !isPrimaryPolicy" [readonly]="!canEdit || isPrimaryPolicy" 
      (change)="checkAttachmentPointValid()" [(ngModel)]="endorsement.underlyingLimit" mask="separator.0" thousandSeparator="," name="underlyingLimit" #underlyingLimit="ngModel">
    </div>
    <div class="col-lg">
      <label for="sir">SIR</label>
      <input type="text" class="form-control" id="sir" [readonly]="!canEdit"
        [(ngModel)]="endorsement.sir" mask="separator.0" thousandSeparator="," name="sir" #sir="ngModel">
    </div>
    <div class="col-lg-1">
      <label for="terrorism">Terrorism</label>
      <ng-select id="terrorism" [items]="terrorismCodes$ | async" bindLabel="description" bindValue="code"
        [required]="canEdit" [clearable]="false" [searchFn]="dropDownSearch"
        [readonly]="!canEdit" [(ngModel)]="endorsement.terrorismCode" name = "terrorism">
        <ng-template ng-label-tmp let-item="item">
          {{item.code}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{item.code}} - {{item.description}}
        </ng-template>
      </ng-select>
    </div>
  </div>
</div>