
.sidebar a.active {
    text-decoration: none; font-weight: bold; color:black; background-color: white;
  }
.sidebar a:hover:not(.active) {
    text-decoration: none; font-weight: bold; color: white;  background-color: darkolivegreen;
  }
