<div class='sidebar' *ngIf="isAuthenticated">
    <a class='nav-link' routerLinkActive='active' routerLink='/home'>
        <fa-icon [icon]="faHome"></fa-icon>
        Home
    </a>
    <a class='nav-link' routerLinkActive='active' routerLink='/import'>
        <fa-icon [icon]="faFileImport"></fa-icon>
        Import
    </a>
    <hr class="rounded mt-1 mb-1">
    <a class='nav-link' (click)="toggleApplicationNavbar()">
        <fa-icon [icon]="faToolbox"></fa-icon>
        Apps
        <fa-icon style="float: right" [icon]="faPlusSquare" *ngIf="!applicationNavbarOpen"></fa-icon>
        <fa-icon style="float: right" [icon]="faMinusSquare" *ngIf="applicationNavbarOpen"></fa-icon>
    </a>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': applicationNavbarOpen }">
        <rsps-applications></rsps-applications>
    </div>
    <a class='nav-link' (click)="toggleReportNavbar()">
        <fa-icon [icon]="faFileAlt"></fa-icon>
        Reports
        <fa-icon style="float: right" [icon]="faPlusSquare" *ngIf="!reportNavbarOpen"></fa-icon>
        <fa-icon style="float: right" [icon]="faMinusSquare" *ngIf="reportNavbarOpen"></fa-icon>
    </a>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': reportNavbarOpen }">
        <rsps-reports></rsps-reports>
    </div>
</div>