
<form #policyInfoForm="ngForm">
    <ng-template #modal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Variable Form Edit - {{form.formName}} {{form.formTitle}}</h4>
            <button *ngIf="hasGuideline" type="button" class="btn btn-primary right" (click)="showGuideline()">Guide</button>
        </div>
        <div class="modal-body">
            <span name="test" id="test" [innerHtml]="formHTML" (domChange)="onDomChange()"></span>
        </div>
        <div class="modal-footer">
            <span style="float:left">{{populatedCount}} of {{totalCount}}</span>
            <button type="button" class="btn btn-danger" *ngIf="canEdit" [disabled]="isFormatting" (click)="save()">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
    </ng-template>
</form>
<div *ngIf="showBusy">
    <rsps-busy message="Loading..." ></rsps-busy>
</div>