<div id="insuredHeader" >
  <div class="row" >
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-4">
      <u>
        <div class="header-title">Insured</div>
      </u>
      <span class="header-field">{{insured.name}}</span>

    </div>
    <div class="col-lg-4">
      <u>
        <div class="header-title">Address</div>
      </u>
      <span class="header-field">{{insured.city}}, {{insured.state}} {{insured.zip }}</span>
    </div>
    <div class="col-lg-2">&nbsp;</div>
  </div>
</div>
