<div class="status-bar"
[style.padding-left.px]="headerPaddingService.sidebarPadding$ | async">
  <div class="header-bar"
  id="headerBar"  #headerBar
  [style.height.px]="headerPaddingService.headerPadding$ | async"
  (window:resize)="onResize()"
  [style.width.px]="headerPaddingService.totalHeaderWidth$ | async"
  [style.margin-left.px]="headerPaddingService.sidebarExpanderWidth$ | async"
  >
    <rsps-insured-header
    *ngIf="pageDataService.insuredData != null"
    [insured]="pageDataService.insuredData"
  ></rsps-insured-header>
    <rsps-insured-header
    *ngIf="pageDataService.submissionData != null"
    [insured]="pageDataService.submissionData.insured"
    [showSubmissionSave]="canEditSubmission && pageDataService.submissionData != null && pageDataService.submissionData.isDirty"
  ></rsps-insured-header>
    <rsps-policy-header
    *ngIf="pageDataService.policyData != null  && pageDataService.accountInfo != null"
    [accountInfo]="pageDataService.accountInfo"
    [policyInfo]="pageDataService.policyData"
    [endorsementNumber]="endorsementStatus.endorsementNumber">
  </rsps-policy-header>

  </div>
</div>


