<div class="status-bar"
[style.padding-left.px]="headerPaddingService.sidebarPadding$ | async">
  <div class="header-bar"
  id="headerBar"  #headerBar
  [style.height.px]="headerPaddingService.headerPadding$ | async"
  (window:resize)="onResize()"
  [style.width.px]="headerPaddingService.totalHeaderWidth$ | async"
  [style.margin-left.px]="headerPaddingService.sidebarExpanderWidth$ | async"
  >
    <rsps-insured-header
    *ngIf="pageDataService.insuredData != null"
    [insured]="pageDataService.insuredData"
  ></rsps-insured-header>
    <rsps-insured-header
    *ngIf="pageDataService.submissionData != null"
    [insured]="pageDataService.submissionData.insured"
    [showSubmissionSave]="canEditSubmission && pageDataService.submissionData != null && pageDataService.submissionData.isDirty"
  ></rsps-insured-header>
  <rsps-insured-header
    *ngIf="pageDataService.quoteData && pageDataService.quoteData.insured"
    [insured]="pageDataService.quoteData.insured"
    [showQuoteSave]="canEditQuote && pageDataService.quoteData != null && pageDataService.quoteData.isDirty"
  ></rsps-insured-header>
    <rsps-policy-header
    *ngIf="pageDataService.policyData != null  && pageDataService.accountInfo != null"
    [accountInfo]="pageDataService.accountInfo"
    [policyInfo]="pageDataService.policyData"
    [endorsementNumber]="endorsementStatus.endorsementNumber">
  </rsps-policy-header>

  </div>


    <!-- <button class="btn btn-md btn-primary" style="margin: 5px" (click)="headerPaddingService.incrementHeaderPadding(10)">Test</button> -->
    <!-- <span *ngIf="canEditSubmission && submission != null">
      Submission Valid: {{ submission.isValid }}
    </span>
    <span *ngIf="canEditSubmission && submission != null">
      Submission Dirty: {{ submission.isDirty }}
    </span> -->
    <!-- <button
    class="btn btn-md btn-primary"
    *ngIf="canEditSubmission"
    style="margin: 5px"
    [disabled]="!isDirty() || !isValid()"
    appPreventDoubleClick
    (throttledClick)="save()"
    [throttleTime]="700"
  >
    Save
  </button>
  <button
    class="btn btn-md btn-primary"
    *ngIf="canEditSubmission && this.previousUrl !== ''"
    style="margin: 5px"
    appPreventDoubleClick
    (throttledClick)="prev()"
    [throttleTime]="700"
  >
    {{ previousLabel }}
  </button> -->
  </div>

