.button:disabled{
    opacity: 0.5;
    pointer-events: none;
    color: #c0c0c0;
    background-color: green;
}
.minimized {
  position: absolute;
  top: 50px;
  left: 210px;
}
.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.route-description {
  white-space: pre-line;
}
.status-bar {
  position: fixed;

  z-index: 2;
  width: 100%;
}
.header-bar {
  position: fixed;
  z-index: 2;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.button-bar {
  /* background-color: #f2f4f6; */

  /* width: 100%;
  position: relative; */
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px;
}
.button-bar:after{
  opacity: 0.5;
}
.button-bar button {
  opacity: 1;
}
