/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

/* this if for the nbHighlight, it needed to be here */
.highlight {
  background-color: yellow;
  font-weight: bold;
}

/* Validation for required fields */
.ng-valid[required]:not(.ng-select),
.ng-valid.required:not(.ng-select){
  border-left: 5px solid #42a948;
}
.ng-invalid:not(form, .ng-select){
  border-left: 5px solid #a94442;
}

.ng-select.ng-valid[required] .ng-select-container{
  border-left: 5px solid #42a948;
}

.ng-select.ng-invalid .ng-select-container{
  border-left: 5px solid #a94442;
}

/* Used to aligh right fields like amounts */
.right {
  text-align: right;
}

/* Added here to allow the drop downs show full width of values, only worked here*/
ng-select .ng-dropdown-panel {
  width: auto !important;
  max-width: 550px;
  min-width: 100%;
}

.ng-select.max-width .ng-dropdown-panel {
  width: 550px !important;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #e9ecef !important;
}

.ng-select.ng-select-disabled .ng-arrow-wrapper {
  display: none;
}

/* Drag & Drop */
.cdk-drag-preview {
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-block:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-block:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag:hover {
  background: white;
  cursor: move !important;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid grey;
  padding-top: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Slide toggle */
.mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ccd4dc;
}

.mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #00ac5d;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}

html,
body {
  height: 100%;
}

#outer {
  min-height: 100%;
}

/* Card Header & Footer */
.card-header {
  color: white;
  background-color: #00274e;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-footer {
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.footer-count {
  float: right;
}

.footer-button {
  float: left;
  background: none;
  border: none;
}

.link-button {
  background: none;
  border: none;
}

.footer-button:hover {
  text-decoration: underline;
}

/* Standard blank row */
.empty-row {
  margin: 6px !important;
}

/* Standard distance between components in rows */
.component-row {
  padding-bottom: 4px;
}

/* Check Box formatting*/
.form-check-input {
  height: 25px;
  width: 25px;
}

.form-check-input:checked {
  background-color: #00ac5d !important;
}

.form-check-input[readonly] {
  background-color: lightgray !important;
  border: 1px solid #ced4da;
  pointer-events: none;
}

/* Adds a line on the top of a div */
.top-bordered {
  border-top: 2px solid black;
}


/* Collapsable panel */
.collapsed {
  position: relative;
  cursor: row-resize;
}

.collapse-bar {
  background: none;
  padding: 0;
  margin-left: -1px !important;
  margin-bottom: -1px;
  color: #00274e;
  text-align: center;
  cursor: pointer;
  background-color: #e6e9ed;
  border: 1px solid grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: calc(100% + 2px);
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.collapse-bar:hover {
  background-color: #ccd4dc;
}