.margin-left {
  margin-left: 5px;
}

.hide-select {
  outline: none !important;
  box-shadow: none !important;
}

.table th {
  background-color: #335271;
  color: white;
  padding: 6px;
}

.table-body {
  padding: 0px !important;
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}

.form-check-input {
  margin: 0px !important;
}

.mandatory {
  border-color: red;
  border-width: 5px;
  /* background-color: red; */
}


.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 130px;
  height: 26px;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}