<div class="component-row">
  <div [ngClass]="collapsed ? 'collapsed' : 'expanded'">
    <div class="row">

      <div class="col-lg-8">
        <input type="text" class="form-control" id="note" name="note" [readonly]="!canEdit" maxlength="255"
          [required]="canEdit" [(ngModel)]="internalNoteData.note" #note="ngModel">
      </div>

      <div class="col-lg-1">
        <input type="text" class="form-control" id="note" name="note" [readonly]="true"
          [(ngModel)]="internalNoteData.createdByName" #note="ngModel">
      </div>

      <div class="col-lg-1">
        <input type="text" class="form-control" id="note" name="note" [readonly]="true"
           [ngModel]="internalNoteData.createdDate | date:'MM/dd/yyyy'" (ngModelChange)="internalNoteData.createdDate=$event" #note="ngModel">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-secondary" (click)=copyNote() [disabled]="!canEdit">Copy</button>&nbsp;
        <button *ngIf="!internalNoteData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
          [disabled]="!canEdit" hover-class="btn-danger">Delete</button>
        <button *ngIf="internalNoteData.isNew" class="btn btn-secondary margin-left" (click)=openDeleteConfirmation()
          [disabled]="!canEdit" hover-class="btn-warning">Remove</button>
      </div>
      <div [id]='anchorId'></div>
    </div>
    <button *ngIf="!collapsed" class="collapse-bar" (click)="collapseExpand(true)" ngbTooltip="Collapse"
      [openDelay]="1000">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
  </div>
</div>
