<div class="content">
    <div class="card">
        <div class="card-header" (click)="collapse.toggle()">
            Policy Information
            <fa-icon style="float: right" [icon]="faPlus" *ngIf="policyCollapsed"></fa-icon>
            <fa-icon style="float: right" [icon]="faMinus" *ngIf="!policyCollapsed"></fa-icon>
        </div>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="policyCollapsed">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <label for="policyEventCode">Status</label>
                       <input type="text" class="form-control" id="policyEventCode" required
                        value="{{policyInfo.policyEventCode == 'B'? 'Bound': 'Cancelled'}}">
                    </div>
                    <div class="col-md">
                        <label for="enteredDate">Policy Entered Date</label>
                        <input type="text" class="form-control" id="enteredDate" required [readonly]="isReadOnly"
                        [ngModel]="policyInfo.enteredDate  | date:'dd-MM-YYYY'" (ngModelChange)="policyInfo.enteredDate=$event" name="enteredDate" #enteredDate="ngModel">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <label for="submissionNumber" style="width: 175px;">Submission No.</label>
                        <input type="text" class="form-control" id="submissionNumber"
                        [(ngModel)]="policyInfo.submissionNumber" name="submissionNumber" #submissionNumber="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="quoteNumber">Quote No.</label><br>
                        <input type="text" class="form-control" id="quoteNumber" [readonly]="isReadOnly"
                        [(ngModel)]="policyInfo.quoteData.quoteNumber" name="quoteNumber" #quoteNo="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="packagePolicy" style="width: 110px;">Package Policy</label><br>
                        <input type="text" class="form-control" id="packageInd" style="width:37px;"
                        [(ngModel)]="policyInfo.packageInd" name="packageInd" #packageInd="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyType">Master Policy</label><br>
                        <input type="checkbox" id="policyType" [checked]="policyInfo.policyType == '1'">
                    </div>
                    <div class="col-md" style="width: 40px;">
                        <label for="policyNumber">Sym</label><br>
                        <input type="text" class="form-control" id="policySymbol" required
                            [(ngModel)]="policyInfo.policySymbol" name="policySymbol" [readonly]="isReadOnly"
                            #policySymbol="ngModel">
                        <div [hidden]="policySymbol.valid || policySymbol.pristine" class="alert alert-danger">
                            Policy Symbol is required
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="policyNo">Policy No.</label>
                        <input type="text" class="form-control" id="policyNo" required
                            [(ngModel)]="policyInfo.policyNo" name="policyNo" #policyNo="ngModel" [readonly]="isReadOnly"
                            style="width: 150px;">
                        <div [hidden]="policyNo.valid || policyNo.pristine" class="alert alert-danger">
                            Policy Number is required
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="policyModNo">Mod</label><br>
                        <input type="text" class="form-control" id="policyModNo" 
                        [(ngModel)]="policyInfo.policyModNo" name="policyModNo" #policyModNo="ngModel" [readonly]="isReadOnly">
                    </div>
                    <div class="col-md">
                        <label for="policyId">Policy Id</label>
                        <input type="text" class="form-control" id="policyId" required [(ngModel)]="policyInfo.policyId" 
                        name="policyId" #policyNumber="ngModel" [readonly]="isReadOnly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label for="policyState">Policy State</label>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="policyState" ngbDropdownToggle>{{policyInfo.policyInsuredState}}</button>
                            <div ngbDropdownMenu aria-labelledby="policyState">
                                <button ngbDropdownItem>{{policyInfo.policyInsuredState}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="pacCode">PAC</label>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="pacCode" ngbDropdownToggle>{{policyInfo.quoteData.pacCode}}</button>
                            <div ngbDropdownMenu aria-labelledby="pacCode">
                                <button ngbDropdownItem>Something</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="policyEffectiveDate">Effective Date</label>
                        <input type="text" class="form-control" id="policyEffectiveDate"
                        [ngModel]="policyInfo.policyEffectiveDate  | date:'dd-MM-YYYY'" (ngModelChange)="policyInfo.policyEffectiveDate=$event" name="policyEffectiveDate" #policyEffectiveDate="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyExpirationDate">Expiration Date</label>
                        <input type="text" class="form-control" id="policyExpirationDate"
                        [ngModel]="policyInfo.policyExpirationDate  | date:'dd-MM-YYYY'" (ngModelChange)="policyInfo.policyExpirationDate=$event" name="policyExpirationDate" #policyExpirationDate="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyExtendedExpDate" style="width:160px">Policy Extension Date</label>
                        <input type="text" class="form-control" id="policyExtendedExpDate"
                        [ngModel]="policyInfo.policyExtendedExpDate  | date:'dd-MM-YYYY'" (ngModelChange)="policyInfo.policyExtendedExpDate=$event" name="policyExtendedExpDate" #policyExtendedExpDate="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyCancelDate">Policy Cancel Date</label>
                        <input type="text" class="form-control" id="policyCancelDate"
                        [ngModel]="policyInfo.policyCancelDate  | date:'dd-MM-YYYY'" (ngModelChange)="policyInfo.policyCancelDate=$event" name="policyCancelDate" #policyCancelDate="ngModel">
                    </div>
                </div><br>
                <div class="row">
                    <label for="carrier">Carrier </label><br>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="carrier" ngbDropdownToggle>{{policyInfo.quoteData.carrierCode}}</button>
                        <div ngbDropdownMenu aria-labelledby="carrier">
                            <button ngbDropdownItem>Something</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="coverageCode">Coverage Code </label><br>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="coverageCode" ngbDropdownToggle>{{policyInfo.quoteData.coverageCode}}</button>
                        <div ngbDropdownMenu aria-labelledby="coverageCode">
                            <button ngbDropdownItem>Something</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="programId">Program ID</label><br>
                    <input type="text" class="form-control" id="programId" style="width: 150px; margin-left: 10px;" 
                        [(ngModel)]="policyInfo.programId" name="programId" #policyModNo="ngModel" [readonly]="isReadOnly">
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md" style="width:125px">
                        <label for="riskGradeCode">Risk Grade</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="riskGradeCode" ngbDropdownToggle>{{policyInfo.riskGradeCode}}</button>
                            <div ngbDropdownMenu aria-labelledby="riskGradeCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="auditCode">Audit Code</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="auditCode" ngbDropdownToggle>{{policyInfo.auditCode}}</button>
                            <div ngbDropdownMenu aria-labelledby="auditCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="paymentFrequency">Payment Frequency</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="paymentFrequency" ngbDropdownToggle>{{policyInfo.paymentFrequency}}</button>
                            <div ngbDropdownMenu aria-labelledby="paymentFrequency">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="creditDays">Credit Days</label><br>
                        <input type="text" class="form-control" id="creditDays" required [(ngModel)]="policyInfo.quoteData.creditDays" 
                        name="creditDays" #creditDays="ngModel" [readonly]="isReadOnly">
                    </div>
                    <div class="col-md">
                        <label for="deregulationIndicator">Deregulation Indictor</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="deregulationIndicator" ngbDropdownToggle>{{policyInfo.deregulationIndicator}}</button>
                            <div ngbDropdownMenu aria-labelledby="deregulationIndicator">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="riskType">Risk Type</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="riskType" ngbDropdownToggle>{{policyInfo.riskType}}</button>
                            <div ngbDropdownMenu aria-labelledby="riskType">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md">
                        <label for="NYFTZ" style="color: red;">NY Free Trade Zone</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="NYFTZ" ngbDropdownToggle>{{policyInfo.NYFTZ}}</button>
                            <div ngbDropdownMenu aria-labelledby="NYFTZ">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="assumedCarrier" style="color: red;">Assumed Carrier</label><br>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="assumedCarrier" ngbDropdownToggle>{{policyInfo.assumedCarrier}}</button>
                            <div ngbDropdownMenu aria-labelledby="assumedCarrier">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <label for="productRecall">Product Recall</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label for="coinsurancePercentage">Coinsurance %</label>
                        <input type="text" class="form-control" id="coinsurancePercentage" required [(ngModel)]="policyInfo.coinsurancePercentage" 
                        name="coinsurancePercentage" #coinsurancePercentage="ngModel" [readonly]="isReadOnly">
                    </div>
                    <div class="col-md">
                        <label for="productManufactureDate">Product Manufacture Date</label><br>
                        <input type="text" class="form-control" id="productManufactureDate" 
                        [ngModel]="policyInfo.productManufactureDate  | date:'dd-MM-YYYY'" 
                        (ngModelChange)="policyInfo.productManufactureDate=$event" name="productManufactureDate" #policyCancelDate="ngModel" [readonly]="isReadOnly">
                    </div>
                </div>
            </div>

        </div>
    </div>