.card-header {
    color: white;
    background-color: #00274e;
}
input[type="text"] {
    display: inline-block;
}
input[type="date"] {
    display: inline-block;
}
input[type="checkbox"] {
    display: inline-block;
}

.card-body{
    border-style: solid; 
    border-width: 1px;
     border-color: black;
     display: inline-block;
     width: 100%;
}

button, select {
    text-transform: none;
    height: 40px;
}