.card-header {
    color: white;
    background-color: #00274e;
}
input[type="text"] {
    display: inline-block;
}
input[type="date"] {
    display: inline-block;
}
input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;  
}

.card-body{
    border-style: solid; 
    border-width: 1px;
    border-color: black;
    display: inline-block;
    width: 100%;
}

input[type="checkbox"][readonly] {
    pointer-events: none;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}