<div class="content">
    <div class="card">
        <div class="card-header" (click)="collapse.toggle()">
            Policy Information
            <fa-icon style="float: right" [icon]="faPlus" *ngIf="policyCollapsed"></fa-icon>
            <fa-icon style="float: right" [icon]="faMinus" *ngIf="!policyCollapsed"></fa-icon>
        </div>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="policyCollapsed">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <label for="policyEventCode">Status</label>
                        <input type="text" class="form-control" id="policyEventCode" required [readonly]="isReadOnly"
                            value="{{policyInfo.policyEventCode == 'B'? 'Bound': 'Cancelled'}}">
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md">
                        <label for="enteredDate">Policy Entered Date</label>
                        <input type="text" class="form-control" id="enteredDate" required [readonly]="isReadOnly"
                            [ngModel]="policyInfo.enteredDate  | date:'MM-dd-YYYY'"
                            (ngModelChange)="policyInfo.enteredDate=$event" name="enteredDate" #enteredDate="ngModel">
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <label for="submissionNumber" style="width: 175px;">Submission No.</label>
                        <input type="text" class="form-control" id="submissionNumber"  [readonly]="isReadOnly"
                            [(ngModel)]="policyInfo.submissionNumber" name="submissionNumber"
                            #submissionNumber="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="quoteNumber">Quote No.</label><br>
                        <input type="text" class="form-control" id="quoteNumber" [readonly]="isReadOnly"
                            [(ngModel)]="policyInfo.quoteData.quoteNumber" name="quoteNumber" #quoteNo="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="packagePolicy" style="width: 110px;">Package Policy</label><br>
                        <input type="text" class="form-control" id="packageInd" style="width:37px;"
                            [(ngModel)]="policyInfo.packageInd" name="packageInd" #packageInd="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyType">Master Policy</label><br>
                        <input type="checkbox" id="policyType" [checked]="policyInfo.policyType == '1'">
                    </div>
                    <div class="col-md" style="width: 40px;">
                        <label for="policyNumber">Sym</label><br>
                        <input type="text" class="form-control" id="policySymbol" required
                            [(ngModel)]="policyInfo.policySymbol" name="policySymbol" [readonly]="isReadOnly"
                            #policySymbol="ngModel">
                        <div [hidden]="policySymbol.valid || policySymbol.pristine" class="alert alert-danger">
                            Policy Symbol is required
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="policyNo">Policy No.</label>
                        <input type="text" class="form-control" id="policyNo" required [(ngModel)]="policyInfo.policyNo"
                            name="policyNo" #policyNo="ngModel" [readonly]="isReadOnly" style="width: 150px;">
                        <div [hidden]="policyNo.valid || policyNo.pristine" class="alert alert-danger">
                            Policy Number is required
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="policyModNo">Mod</label><br>
                        <input type="text" class="form-control" id="policyModNo" [(ngModel)]="policyInfo.policyModNo"
                            name="policyModNo" #policyModNo="ngModel" [readonly]="isReadOnly">
                    </div>
                    <div class="col-md">
                        <label for="policyId">Policy Id</label>
                        <input type="text" class="form-control" id="policyId" required [(ngModel)]="policyInfo.policyId"
                            name="policyId" #policyNumber="ngModel" [readonly]="isReadOnly">
                    </div>
                </div>
              <br>
                <div class="row">
                    <div class="col-md">
                        <label for="policyState">Policy State</label>
                        <select id="policyState" [(ngModel)]="policyInfo.policyInsuredState">
                            <option *ngFor="let state of states" [value]="state.code">
                                {{state.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                                            <button class="btn btn-outline-primary" id="policyState"
                                ngbDropdownToggle>{{policyInfo.policyInsuredState}}</button>
                            <div ngbDropdownMenu aria-labelledby="policyState">
                                <button ngbDropdownItem *ngFor="let state of states;">{{state.description}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md">
                        <label for="pacCode">PAC</label>
                        <select id="pacCode" [(ngModel)]="policyInfo.quoteData.pacCode">
                            <option *ngFor="let pacCode of pacCodes" [value]="pacCode.code">
                                {{pacCode.code}} -
                                {{pacCode.description}}</option>
                        </select>

                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="policyInfo.quoteData.pacCode"
                                ngbDropdownToggle>{{policyInfo.quoteData.pacCode}}</button>
                            <div ngbDropdownMenu aria-labelledby="pacCode">
                                <button ngbDropdownItem *ngFor="let pacCode of pacCodes">{{pacCode.code}}
                                    - {{pacCode.description}}</button>
                            </div>
                        </div> -->
                    </div>

                    <div class="col-md">
                        <label for="policyEffectiveDate" >Effective Date</label>
                        <input type="text" class="form-control" id="policyEffectiveDate"
                            [ngModel]="policyInfo.policyEffectiveDate  | date:'MM-dd-YYYY'"
                            (ngModelChange)="policyInfo.policyEffectiveDate=$event" name="policyEffectiveDate"
                            #policyEffectiveDate="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyExpirationDate" >Expiration Date</label>
                        <input type="text" class="form-control" id="policyExpirationDate"
                            [ngModel]="policyInfo.policyExpirationDate  | date:'MM-dd-YYYY'"
                            (ngModelChange)="policyInfo.policyExpirationDate=$event" name="policyExpirationDate"
                            #policyExpirationDate="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyExtendedExpDate" style="width:160px">Policy Extension Date</label>
                        <input type="text" class="form-control" id="policyExtendedExpDate"  [readonly]="isReadOnly"
                            [ngModel]="policyInfo.policyExtendedExpDate  | date:'MM-dd-YYYY'"
                            (ngModelChange)="policyInfo.policyExtendedExpDate=$event" name="policyExtendedExpDate"
                            #policyExtendedExpDate="ngModel">
                    </div>
                    <div class="col-md">
                        <label for="policyCancelDate" >Policy Cancel Date</label>
                        <input type="text" class="form-control" id="policyCancelDate"  [readonly]="isReadOnly"
                            [ngModel]="policyInfo.policyCancelDate  | date:'MM-dd-YYYY'"
                            (ngModelChange)="policyInfo.policyCancelDate=$event" name="policyCancelDate"
                            #policyCancelDate="ngModel">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md">
                        <label for="carrierCode">Carrier</label><br>
                        <select id="carrierCode" [(ngModel)]="policyInfo.quoteData.carrierCode">
                            <option *ngFor="let carrierCode of carrierCodes" [value]="carrierCode.code">
                                {{carrierCode.description}}</option>
                        </select>
                    </div>
                    <!-- <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="carrier"
                            ngbDropdownToggle>{{policyInfo.quoteData.carrierCode}}</button>
                        <div ngbDropdownMenu aria-labelledby="carrier">
                            <button ngbDropdownItem
                                *ngFor="let carrierCode of carrierCodes;">{{carrierCode.description}}</button>
                        </div>
                    </div> -->
                </div>
                <br>
                <div class="row">
                    <div class="col-md">
                        <label for="coverageCode">Coverage Code </label><br>
                        <select id="coverageCode" [(ngModel)]="policyInfo.quoteData.coverageCode">
                            <option *ngFor="let coverageCode of coverageCodes" [value]="coverageCode.code">
                                {{coverageCode.code}} -
                                {{coverageCode.description}}</option>
                        </select>
                    </div>
                    <!-- <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="coverageCode"
                            ngbDropdownToggle>{{policyInfo.quoteData.coverageCode}}</button>
                        <div ngbDropdownMenu aria-labelledby="coverageCode">
                            <button ngbDropdownItem *ngFor="let coverageCode of coverageCodes;">{{coverageCode.code}} -
                                {{coverageCode.description}}</button>
                        </div>
                    </div> -->
                </div>
                <br>
                <div class="row">
                    <label for="programId">Program ID</label><br>
                    <input type="text" class="form-control" id="programId" style="width: 150px; margin-left: 10px;"
                        [(ngModel)]="policyInfo.programName" name="programName" #programName="ngModel"
                        [readonly]="isReadOnly">
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md" style="width:125px">
                        <label for="riskGradeCode">Risk Grade</label><br>
                        <select id="riskGradeCode" [(ngModel)]="policyInfo.riskGradeCode">
                            <option *ngFor="let riskGrade of riskGrades" [value]="riskGrade.code">
                                {{riskGrade.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="riskGradeCode"
                                ngbDropdownToggle>{{policyInfo.riskGradeCode}}</button>
                            <div ngbDropdownMenu aria-labelledby="riskGradeCode">
                                <button ngbDropdownItem
                                    *ngFor="let riskGrade of riskGrades;">{{riskGrade.description}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md">
                        <label for="auditCode">Audit Code</label><br>
                        <select id="auditCode" [(ngModel)]="policyInfo.auditCode">
                            <option *ngFor="let auditCode of auditCodes" [value]="auditCode.code">
                                {{auditCode.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="auditCode"
                                ngbDropdownToggle>{{policyInfo.auditCode}}</button>
                            <div ngbDropdownMenu aria-labelledby="auditCode">
                                <button ngbDropdownItem
                                    *ngFor="let auditCode of auditCodes;">{{auditCode.description}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md">
                        <label for="paymentFrequency">Payment Frequency</label><br>
                        <select id="paymentFrequency" [(ngModel)]="policyInfo.paymentFrequency">
                            <option *ngFor="let paymentFrequency of paymentFrequencies" [value]="paymentFrequency.code">
                                {{paymentFrequency.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="paymentFrequency"
                                ngbDropdownToggle>{{policyInfo.paymentFrequency}}</button>
                            <div ngbDropdownMenu aria-labelledby="paymentFrequency">
                                <button ngbDropdownItem
                                    *ngFor="let paymentFrequency of paymentFrequencies;">{{paymentFrequency.description}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md">
                        <label for="creditDays">Credit Days</label><br>
                        <input type="text" class="form-control" id="creditDays" required
                            [(ngModel)]="policyInfo.quoteData.creditDays" name="creditDays" #creditDays="ngModel"
                            [readonly]="isReadOnly">
                    </div>
                    <div class="col-md">
                        <label for="deregulationIndicator">Deregulation Indictor</label><br>
                        <select id="deregulationIndicator" [(ngModel)]="policyInfo.deregulationIndicator">
                            <option *ngFor="let deregulationIndicator of deregulationIndicators"
                                [value]="deregulationIndicator.code">
                                {{deregulationIndicator.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="deregIndicator"
                                ngbDropdownToggle>{{policyInfo.deregulationIndicator}}</button>
                            <div ngbDropdownMenu aria-labelledby="deregIndicator">
                                <button ngbDropdownItem
                                    *ngFor="let deregulationIndicator of deregulationIndicators;">{{deregulationIndicator.code}}
                                    - {{deregulationIndicator.description}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md">
                        <label for="riskType">Risk Type</label><br>
                        <select id="deregulationIndicator" [(ngModel)]="policyInfo.riskType">
                            <option *ngFor="let riskType of riskTypes" [value]="riskType.code">
                                {{riskType.code}} - {{riskType.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="riskType"
                                ngbDropdownToggle>{{policyInfo.riskType}}</button>
                            <div ngbDropdownMenu aria-labelledby="riskType">
                                <button ngbDropdownItem *ngFor="let riskType of riskTypes;">{{riskType.code}} -
                                    {{riskType.description}}</button>
                            </div>
                        </div> -->
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md" [ngStyle]="{'display': policyInfo.deregulationIndicator == 'F' ? 'block' : 'none' }">
                        <label for="NYFTZ" style="color: red;">NY Free Trade Zone</label><br>
                        <select id="NYFTZ" [(ngModel)]="policyInfo.NYFTZ">
                            <option *ngFor="let nyFreeTradeZone of nyFreeTradeZones" [value]="nyFreeTradeZone.code">
                                {{nyFreeTradeZone.code}} - {{nyFreeTradeZone.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="NYFTZ"
                                ngbDropdownToggle>{{policyInfo.NYFTZ}}</button>
                            <div ngbDropdownMenu aria-labelledby="NYFTZ">
                                <button ngbDropdownItem
                                    *ngFor="let nyFreeTradeZone of nyFreeTradeZones;">{{nyFreeTradeZone.code}} -
                                    {{nyFreeTradeZone.description}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md" [ngStyle]="{'display': policyInfo.riskType == 'A' ? 'block' : 'none' }">
                        <label for="assumedCarrier" style="color: red;">Assumed Carrier</label><br>
                        <select id="assumedCarrier" [(ngModel)]="policyInfo.assumedCarrier">
                            <option *ngFor="let assumedCarrier of assumedCarriers" [value]="assumedCarrier.code">
                                {{assumedCarrier.code}} - {{assumedCarrier.description}}</option>
                        </select>
                        <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="assumedCarrier"
                                ngbDropdownToggle>{{policyInfo.assumedCarrier}}</button>
                            <div ngbDropdownMenu aria-labelledby="assumedCarrier">
                                <button ngbDropdownItem
                                    *ngFor="let assumedCarrier of assumedCarriers;">{{assumedCarrier.code}} -
                                    {{assumedCarrier.description}}</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <br>
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <label for="productRecall">Product Recall</label>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md">
                        <label for="coinsurancePercentage">Coinsurance %</label>
                        <input type="text" class="form-control" id="coinsurancePercentage" required
                            [(ngModel)]="policyInfo.coinsurancePercentage" name="coinsurancePercentage"
                            #coinsurancePercentage="ngModel" [readonly]="isReadOnly">
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                  
                    <div class="col-md">
                        <label for="productManufactureDate">Product Manufacture Date</label><br>
                        <input type="text" class="form-control" id="productManufactureDate"
                            [ngModel]="policyInfo.productManufactureDate  | date:'MM-dd-YYYY'"
                            (ngModelChange)="policyInfo.productManufactureDate=$event" name="productManufactureDate"
                            #policyCancelDate="ngModel" [readonly]="isReadOnly">
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
    </div>