<form #contactForm="ngForm">
  <div class="card">
    <div class="card-header" (click)="collapse.toggle()">Contacts
      <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="contactsCollapsed"></fa-icon>
      <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!contactsCollapsed"></fa-icon>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="contactsCollapsed">
      <div class="card-body" *ngIf="insuredContacts.length > 0">
        <div *ngFor="let item of insuredContacts; let i = index">
          <rsps-insured-contact (deleteThisContact)=deleteContact($event)
            (copyExistingContact)=copyExistingContact($event) (setPrimaryContact)=setPrimaryContact($event) [contact]=item
            [index]=i></rsps-insured-contact>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div id="locationFooter">
        <button *ngIf="canEditInsured" style="float:left; background:none; border:none;" class="underline"
          (click)="addNewContact();">Add Contact</button>
        <div style="float:right;">Contacts: {{insuredContacts.length}}</div>
      </div>
    </div>
  </div>
</form>