.card-header {
  color: white;
  background-color: #00274e;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-footer {
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.footer-count {
  float: right;
}

.footer-button {
  float: left;
  background: none;
  border: none;
}

.footer-button:hover {
  text-decoration: underline;
}