<div class="card">
  <div class="card-header" (click)="collapse.toggle()">Contacts
    <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="contactsCollapsed"></fa-icon>
    <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!contactsCollapsed"></fa-icon>
    <mat-slide-toggle style="float: right;padding-right: 15px;" click-stop-propagation
      *ngIf="canEditInsured && insuredContacts.length > 1" [color]="color" [(ngModel)]="canDrag"
      (change)="toggleDragDrop()">
      Sort: {{canDrag ? 'On' : 'Off'}}
    </mat-slide-toggle>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="contactsCollapsed">
    <div class="card-body" *ngIf="insuredContacts.length > 0">
      <div class="row">
        <div class="col-lg-2">
          <label for="firstName">First Name</label>
        </div>
        <div class="col-lg-2">
          <label for="lastName">Last Name</label>
        </div>
        <div class="col-lg-2">
          <label for="lastName">Email</label>
        </div>
        <div class="col-lg-2">
          <label for="lastName">Phone</label>
        </div>
        <div class="col-lg-2">
          <label for="lastName">Fax</label>
        </div>
      </div>
      <div cdkDropList class="drag-list" [cdkDropListDisabled]="!canDrag" (cdkDropListDropped)="drop($event)">
        <div class="drag-block" [ngClass]="dragDropClass" cdkDrag *ngFor="let item of insuredContacts; let i = index">
          <rsps-insured-contact (deleteThisContact)=deleteContact($event)
            (copyExistingContact)=copyExistingContact($event) (setPrimaryContact)=setPrimaryContact() [contact]=item
            [insuredContacts]="insuredContacts" [index]=i [canDrag]=canDrag></rsps-insured-contact>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button *ngIf="canEditInsured" [disabled]="canDrag"
      class="footer-button" (click)="addNewContact();">Add Contact</button>
    <div class="footer-count">Contacts: {{insuredContacts.length}}</div>
  </div>
</div>