<form  #endorsementCoveragesForm="ngForm" >

  <div [ngClass]="{'expanded':!ecCollapsed}">
  <div #coverageInfo class="card-body" (click)="ecCollapsed = false" >
    <div class="row container">
      <div class="col-lg-4">
          <label class='hidden-label' for="coverageDescription">Coverage Description</label>
          <ng-select id="coverageDescription" name="coverageDescription" [items]="coverageDescriptions$ | async" bindLabel="description" bindValue="key"
                            [clearable]="false" placeholder="Select Coverage" [readonly]="!canEditPolicy"
                            [required]="canEditPolicy" [(ngModel)]="coverage.coverageId" #coverageDescription="ngModel">
                        </ng-select>
      </div>
      <div class="col-lg-2">
          <label class='hidden-label' for="premium">Premium</label>
          <input type="text" class="form-control" id="premium"
              [ngModel]="coverage.premium" [readonly]="!canEditPolicy"
              [required]="canEditPolicy" name="premium" #premium="ngModel">
      </div>
      <div class="col-lg-2">
        <label class='hidden-label' for="limits">Limits</label>
        <input type="text" class="form-control" id="limits" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.limitsPattern" name="limits" #limits="ngModel">
      </div>
      <div class="col-lg-1">
        <label class='hidden-label' for="includeExclude">Incl/Excl</label>
        <input type="text" class="form-control" id="includeExclude" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.includeExclude" name="includeExclude" #includeExclude="ngModel">
      </div>
      <div class="col-lg-1">
        <label class='hidden-label' for="claimsMadeOrOccurrence">CLM/OCC</label>
        <input type="text" class="form-control" id="claimsMadeOrOccurrence" [readonly]="!canEditPolicy || !coverage.occurrenceOrClaimsMade"
        [required]="canEditPolicy" [ngModel]="coverage.claimsMadeOrOccurrence" name="claimsMadeOrOccurrence" #claimsMadeOrOccurrence="ngModel">
      </div>
      <div class="col-lg-2">
        <label class='hidden-label' for="premium">Retro Date</label>
        <input type="date" class="form-control" id="retroDate" [readonly]="!canEditPolicy || coverage.claimsMadeOrOccurrence != 'C'"
            [ngModel]="coverage.retroDate  | date:'yyyy-MM-dd'" name="date"
             #retroDate="ngModel">
      </div>
    </div>
  </div>
  <div class="card-body"  #collapse="ngbCollapse" [(ngbCollapse)]="ecCollapsed">
    <div class="row container">
      <div class="col-lg-1">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" [readonly]="!canEditPolicy"
          [required]="canEditPolicy" [ngModel]="coverage.locationId" name="location" #location="ngModel">
      </div>
      <div class="col-lg-1">
          <label for="premiumType">Prem</label>
          <input type="text" class="form-control" id="premiumType"
              [ngModel]="coverage.premiumType" [readonly]="!canEditPolicy"
              [required]="canEditPolicy" name="premiumType" #premiumType="ngModel">
      </div>
      <div class="col-lg-1">
        <label for="action">Action</label>
        <input type="text" class="form-control" id="action" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.action" name="action" #action="ngModel">
      </div>
      <div class="col-lg-1">
        <label for="deductible">Deductible</label>
        <input type="text" class="form-control" id="deductible" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.deductible" name="deductible" #deductible="ngModel">
      </div>
      <div class="col-lg-2">
        <label for="deductibleType">Deductible Type</label>
        <input type="text" class="form-control" id="deductibleType" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.deductibleType" name="deductibleType" #deductibleType="ngModel">
      </div>
      <div class="col-lg-2">
        <label for="rate">Rate</label>
        <input type="text" class="form-control" id="rate" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.rateAmount" name="rate" #rate="ngModel">
      </div>
      <div class="col-lg-2">
        <label for="limitsPattern">Limits Pattern</label>
        <input type="text" class="form-control" id="limitsPattern" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.limitsPattern" name="limitsPattern" #limitsPattern="ngModel">
      </div>
      <div class="col-lg-2">
        <label for="sir">SIR</label>
        <input type="text" class="form-control" id="sir" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.sir" name="sir" #sir="ngModel">
      </div>
    </div>
    <div class="row container">
      <div class="col-lg-2">
          <label for="classCode">Class Code</label>
          <input type="text" class="form-control" id="classCode" [readonly]="!canEditPolicy"
          [required]="canEditPolicy" [ngModel]="coverage.glClassCode" name="classCode" #classCode="ngModel">
      </div>
      <div class="col-lg-5">
          <label for="classDescription">Class Description</label>
          <input type="text" class="form-control" id="classDescription"
              [ngModel]="coverage.classDescription" [readonly]="!canEditPolicy"
              [required]="canEditPolicy" name="classDescription" #classDescription="ngModel">
      </div>
      <div class="col-lg-2">
        <label for="exposureCode">Exposure Code</label>
        <input type="text" class="form-control" id="exposureCode" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.exposureCode" name="exposureCode" #exposureCode="ngModel">
      </div>
      <div class="col-lg-1">
        <label for="rateBasis">Rate Basis</label>
        <input type="text" class="form-control" id="rateBasis" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.rateBasis" name="rateBasis" #rateBasis="ngModel">
      </div>
      <div class="col-lg-2">
        <label for="exposureBase">Exposure</label>
        <input type="text" class="form-control" id="exposureBase" [readonly]="!canEditPolicy"
        [required]="canEditPolicy" [ngModel]="coverage.exposureBase" name="exposureBase" #sir="ngModel">
      </div>

    </div>
    <div class="empty-space"></div>
    <div class="row container" >
      <div class="col-lg-2">
        <span class="btn btn-secondary" (click)=copyCoverage() hover-class="btn-primary">Copy</span>
        <span class="btn btn-secondary" hover-class="btn-danger">Delete</span>
      </div>
        <span class='astext' (click)="ecCollapsed = true"><fa-icon [icon]="faArrowUp" ></fa-icon></span>
    </div>
  </div>
</div>
