<div class="card">
    <div *ngIf="isSaving">
        <div class="spinner-wrapper" >
            <h3>
            <span class="badge rounded-pill">Refreshing...
                <div class="spinner-border small"></div>
            </span>
            </h3>
        </div>
      </div>
    <div class="card-header" (click)="collapse.toggle()">
        Policy Forms - ({{quote.formsVersion }}) {{quote.formsVersionDescription }}
        <fa-icon style="float: right" [icon]="faAngleDown" *ngIf="collapsed"></fa-icon>
        <fa-icon style="float: right" [icon]="faAngleUp" *ngIf="!collapsed"></fa-icon>
        <a href="#" style="float: right; padding-right: 20px;color: #ffff" (click)="specimenLink();$event.preventDefault();" click-stop-propagation>
            Specimen Packet
        </a>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label" title="View">View:</label>
                    <div class="btn-group margin-left" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="radioAvailable" autocomplete="off"
                            (click)="selectView(formViewType.Available)">
                        <label class="btn btn-outline-dark hide-select" for="radioAvailable">Available ({{availableFormsCount}})</label>
                        <input type="radio" class="btn-check" name="btnradio" id="radioMandatory" autocomplete="off"
                            (click)="selectView(formViewType.Mandatory)">
                        <label class="btn btn-outline-dark hide-select" for="radioMandatory">Mandatory ({{mandatoryFormsCount}})</label>
                        <input type="radio" class="btn-check" name="btnradio" id="radioOptional" autocomplete="off"
                            (click)="selectView(formViewType.Optional)">
                        <label class="btn btn-outline-dark hide-select" for="radioOptional">Optional ({{optionalFormsCount}})</label>
                        <input type="radio" class="btn-check" name="btnradio" id="radioOnPolicy" autocomplete="off"
                            checked (click)="selectView(formViewType.OnPolicy)">
                        <label class="btn btn-outline-dark hide-select" for="radioOnPolicy">On Policy ({{onPolicyFormsCount}})</label>
                        <input *ngIf="quote.submission.expiringPolicyId ?? 0 > 0" type="radio" class="btn-check" name="btnradio" id="radioExpiring" autocomplete="off"
                            (click)="selectView(formViewType.Expiring)">
                        <label *ngIf="quote.submission.expiringPolicyId ?? 0 > 0" class="btn btn-outline-dark hide-select" for="radioExpiring">Expiring ({{expiringFormsCount}})</label>
                    </div>
                </div>
                <div class ="col-lg-6">
                    <rsps-policy-forms-search [type]="type" [quote]="quote" (refreshForms)=refreshForms() ></rsps-policy-forms-search>
                </div>
            </div>
        </div>
        <div *ngIf="!showExpiring" class="card-body table-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" *ngIf="true">
                    <thead>
                        <tr>
                            <th *ngIf="showIcons"></th>
                            <th style="text-align:center;">Included</th>
                            <th *ngIf="showVariableForm" style="border-left-style: hidden;"></th>
                            <th nowrap>Form Number</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let form of filteredForms">
                            <td *ngIf="showIcons" style="width:1%;">
                                <fa-icon *ngIf="form.hasSpecialNote" class="faExclamationTriangle fa-xl pointer"
                                    [icon]="faExclamationTriangle" ngbTooltip="Special Note" (click)="showSpecialNote(form.formName)"></fa-icon>
                            </td>
                            <td style="text-align:center; width:1%;">
                                <input type="checkbox" class="form-check-input" id="included" [ngClass]="!form.isIncluded && form.isMandatory ? 'mandatory' : ''"
                                    [readonly]="!canEdit" [(ngModel)]="form.isIncluded" name="included" click-stop-propagation (ngModelChange)="checkIncluded()">
                            </td>
                            <td *ngIf="showVariableForm" style="border-left-style: hidden;width:1%;">
                                <fa-icon *ngIf="form.isVariable" class="faEdit fa-xl pointer" appPreventDoubleClick [icon]="faEdit" (throttledClick)="editVariableForm(form)"
                                    ngbTooltip="Variable Enabled Form"></fa-icon>
                                <fa-icon *ngIf="false" class="faCircleE fa-l"
                                    ngbTooltip="Optional Form selected on Expiring Submission" [icon]="faCircleE">
                                </fa-icon>
                            </td>
                            <td style="width:1%; white-space: nowrap;">
                                <a href="#" (click)="openSpecimen(form);$event.preventDefault();">
                                    {{form.formName}}
                                </a>
                            </td>
                            <td>{{form.formTitle}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="showExpiring && expiringFormsLoading">
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="showExpiring" class="card-body table-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th nowrap>Endorsement #</th>
                            <th nowrap>Form Number</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let form of expiringForms">
                            <td style="width:1%;">
                                <span *ngIf="form.firstEndorsementRow">{{form.endorsementNumber}}</span>
                            </td>
                            <td style="width:1%;">
                                {{form.formName}}
                            </td>
                            <td >{{form.formTitle}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="footer-count">Forms: {{filteredForms.length}}/{{forms.length}}</div>
    </div>
</div>
<rsps-scroll-to-top></rsps-scroll-to-top>
<rsps-policy-form-variable #modal [canEdit]="canEdit"></rsps-policy-form-variable>
